@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

.Popover {
  .popover {
    background: rgba(0, 0, 0, 0.8);
    border-color: var(--primary);
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.9);
  }

  .bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
    border-right-color: var(--primary);
  }

  .bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^="top"] > .arrow::after {
    border-top-color: var(--primary);
  }

  .popover-header {
    padding: responseCalc(16px) responseCalc(24px);
    position: relative;
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    font-family: var(--font-family-sans-serif);
    font-weight: bold;
    font-size: responseCalc(18px);
    line-height: 1.25;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: var(--yellow);
  }

  .popover-body {
    font-family: var(--font-family-sans-serif);
    font-weight: 500;
    font-size: responseCalc(16px);
    line-height: 1.55;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: var(--white);
  }

  .CloseIconSvg {
    position: absolute;
    top: 0;
    right: 0;
    width: responseCalc(18px);
    height: responseCalc(18px);
    fill: var(--white);
    transform: translate3d(-2px, 2px, 0);

    &:hover {
      cursor: pointer;
    }
  }
}