@import "~bootstrap/scss/functions";
@import "../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../assets/scss/utilities/functions";

.VerticalTabs {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  background-color: transparent;

  .MuiTabs-vertical {
    width: 50%;
  }

  .vertical-tabpanel {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.5) 100%);
  }

  .PrivateTabIndicator-colorSecondary-6 {
    background-color: var(--primary);
  }

  .MuiTabs-scroller {
    background-color: rgba(108, 117, 125, 0.5);
  }

  .MuiTabs-vertical {
    border-color: rgba(251, 220, 1, 0.5);
  }

  .MuiButtonBase-root {
    min-height: responseCalc(48px);
    opacity: 1;
    color: var(--white);
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(18px);
    font-weight: 400;
    text-transform: capitalize;

    .MuiTab-wrapper {
      align-items: flex-start;
    }
  }

  .Mui-selected {
    color: var(--primary);
  }

  .Help__Scrollbar {
    width: 100%;
    height: responseCalc(450px) !important;
  }

  .rule-section {
    margin-bottom: responseCalc(16px);
    border-bottom: 1px dashed var(--gray-dark);

    p {
      font-family: var(--font-family-sans-serif);
      font-size: responseCalc(21px);
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
      text-align: justify;
    }

    ul {
      padding-inline-start: responseCalc(40px);
    }
  }

  .rule-title {
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(24px);
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    text-align: left;
    color: var(--primary);
  }

  .rule-number {
    display: inline-block;
    padding-right: responseCalc(8px);
    color: var(--yellow);
  }
}