@import "~bootstrap/scss/functions";
@import "../../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../../assets/scss/utilities/functions";

.ChipsPanel__Portrait {
  width: 18%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translate3d(0, -60%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 90;

  .action {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.undo {
      .action-button {
        background-color: rgba(0, 0, 0, .6);
      }
    }

    &.choose {
      width: 50px;
      height: 50px;
    }

    &.repeat {
      .action-button {
        background-color: rgba(255, 0, 0, .6);
      }
    }
  }

  .action-button {
    margin: 0;
    padding: 0;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, .6);

    svg {
      width: 24px;
      height: 24px;
      fill: var(--white);
    }
  }

  .action-text {
    font-family: var(--font-family-sans-serif);
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--white);
    text-transform: uppercase;
  }

  .action-chip {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    transform: translate3d(-50%, -50%, 0);
    transition: transform .45s linear;

    &.active {
      z-index: 10;
    }

    &.index-0 {
      z-index: 9;
      transform: translate3d(calc(-50% + 1px), -50%, 0);
    }

    &.index-1 {
      z-index: 8;
      transform: translate3d(calc(-50% + 2px), -50%, 0);
    }

    &.index-2 {
      z-index: 7;
      transform: translate3d(calc(-50% + 3px), -50%, 0);
    }

    &.index-3 {
      z-index: 6;
      transform: translate3d(calc(-50% + 4px), -50%, 0);
    }

    &.index-4 {
      z-index: 5;
      transform: translate3d(calc(-50% + 5px), -50%, 0);
    }
  }

  .activation-chip-panel {
    width: 250%;
    height: 110%;
    border-radius: 100% 0 0 100%;
    position: absolute;
    top: 50%;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .4) 60%, rgba(0, 0, 0, 0.01) 100%);
    transform: translate3d(0, -50%, 0);

    .active {
      border: 1px solid var(--yellow);
      box-shadow: 0 0 1px 2px var(--yellow);
      border-radius: 42px;
      transform: translate3d(50%, -50%, 0);
    }

    .circle-index-0 {
      transform: translate3d(75%, -225%, 0);
    }

    .circle-index-1 {
      transform: translate3d(-25%, -200%, 0);
    }

    .circle-index-2 {
      transform: translate3d(-75%, -100%, 0);
    }

    .circle-index-3 {
      transform: translate3d(-75%, 0, 0);
    }

    .circle-index-4 {
      transform: translate3d(-25%, 100%, 0);
    }

    .circle-index-5 {
      transform: translate3d(75%, 125%, 0);
    }

  }
}