/*  --- utilities --- */
@import "utilities/variables";
@import "utilities/functions";
@import "utilities/mixins";
/*  --- vendors --- */
@import "vendors/bootstrap";
/*  --- base --- */
@import "base/reset";
@import "base/typography";
/*  --- layout --- */
@import "layout/grid";
/*  --- themes --- */
@import "themes/theme";

@include responsive();

html, body {
  background-color: #000;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.card {
  display: inline-block;
  width: 60px;
  height: 84px;
}

@keyframes pulse-fill-opacity {
  0% {
    fill-opacity: .15;
  }
  100% {
    fill-opacity: .85;
  }
}

.pulse-fill-opacity {
  animation: pulse-fill-opacity 1s infinite;
}
