.ChipMobile {

  width: 40px;
  height: 40px;

  &.blue {
    .nominal {
      fill: #FFFFFF;
    }

    .background {
      fill: #127cc9;
    }
  }

  &.green {
    .nominal {
      fill: #FFFFFF;
    }

    .background {
      fill: #12c966;
    }
  }

  &.orange {
    .nominal {
      fill: #FFFFFF;
    }

    .background {
      fill: #c96a12;
    }
  }

  &.red {
    .nominal {
      fill: #FFFFFF;
    }

    .background {
      fill: #c91230;
    }
  }

  &.dark {
    .nominal {
      fill: #FFFFFF;
    }

    .background {
      fill: #393c4c;
    }
  }

  &.purple {
    .nominal {
      fill: #FFFFFF;
    }

    .background {
      fill: #503251;
    }
  }

  .nominal {
    font-family: "Anton", Roboto, Ubuntu, "Fira Sans", system-ui, -apple-system, sans-serif;
  }
}