@import "~bootstrap/scss/functions";
@import "../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../assets/scss/utilities/functions";

.Mobile {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .app-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }

  .app-mask-title {
    padding: 8px 0;
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    color: var(--black);
  }
}
