@import "~bootstrap/scss/functions";
@import "../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../assets/scss/utilities/functions";

.Chat {
  width: 55%;
  margin-left: 45%;
  height: responseCalc(540px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;

  &__Title, &__Header, &__Body, &__Footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Title {
    height: 8%;
    background-color: rgba(108, 117, 125, 0.6);

    h1 {
      position: relative;
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-family-sans-serif);
      font-size: responseCalc(18px);
      font-weight: 400;
      text-transform: uppercase;

      .Chat__Icon {
        &__Base {
          display: inline-block;
          padding-right: responseCalc(10px);

          svg {
            width: responseCalc(24px);
            height: responseCalc(24px);
          }
        }

        &__Close {
          position: absolute;
          top: 0;
          right: responseCalc(15px);
          transform: translate3d(0, responseCalc(10px), 0);

          &:hover {
            cursor: pointer;
          }

          svg {
            width: responseCalc(24px);
            height: responseCalc(24px);
          }
        }
      }
    }
  }

  &__Body, &__Scrollbar {
    height: 80%;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.5) 100%);
  }

  &__Footer {
    background: rgba(0, 0, 0, 0.8);
    height: 12%;
  }

  svg {
    fill: white;
  }

  &__Input {
    margin: 2.5%;
    height: responseCalc(46px);
    border-radius: responseCalc(23px);
    background: transparent;
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(18px);
    font-weight: 400;
    color: var(--white) !important;

    &:focus, &:hover, &:active {
      background: transparent;
      color: var(--white) !important;
    }
  }
}
