@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

$gameResultWidth: 450px;
$gameResultHeight: 100px;

$gradientDefault: linear-gradient(to right, rgba(17, 13, 7, 0.1) 0%, rgba(17, 13, 7, 0.2) 20%, rgba(17, 13, 7, 0.6) 40%, rgba(17, 13, 7, 0.2) 80%, rgba(17, 13, 7, 0.1) 100%);
$gradientPlayer: linear-gradient(to right, rgba(0, 97, 238, 0.1) 0%, rgba(0, 97, 238, 0.2) 20%, rgba(0, 97, 238, 0.6) 40%, rgba(0, 97, 238, 0.2) 80%, rgba(0, 97, 238, 0.1) 100%);
$gradientTie: linear-gradient(to right, rgba(0, 255, 0, 0.1) 0%, rgba(0, 255, 0, 0.2) 20%, rgba(0, 255, 0, 0.6) 40%, rgba(0, 255, 0, 0.2) 80%, rgba(0, 255, 0, 0.1) 100%);
$gradientBanker: linear-gradient(to right, rgba(255, 15, 15, 0.1) 0%, rgba(255, 15, 15, 0.2) 20%, rgba(255, 15, 15, 0.6) 40%, rgba(255, 15, 15, 0.2) 80%, rgba(255, 15, 15, 0.1) 100%);

.GameResult {
  width: responseCalc($gameResultWidth);
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  &.player {
    .GameResult__Main {
      background: $gradientPlayer;
    }
  }

  &.tie {
    .GameResult__Main {
      background: $gradientTie;
    }
  }

  &.banker {
    .GameResult__Main {
      background: $gradientBanker;
    }
  }

  .Animated {
    width: 100%;
    height: auto;
  }

  &__Main, &__After, &__Before {
    width: 100%;
    min-height: responseCalc(6px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__Main {
    padding: responseCalc(20px) 0;
    height: 100%;
    background: $gradientDefault;

    .status {
      margin: 0;
      padding: 0;
      font-family: var(--font-family-sans-serif);
      font-weight: 300;
      font-size: responseCalc(32px);
      line-height: 1.25;
      text-transform: uppercase;
      color: var(--white);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    }
  }

  &__After, &__Before {
    background: $gradientDefault;
  }

  &__After {
    .winner {
      padding: responseCalc(10px) 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: var(--font-family-sans-serif);
      font-weight: 400;
      font-size: responseCalc(26px);
      line-height: 1.25;
      text-transform: uppercase;
      color: var(--white);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);

      h3 {
        color: var(--yellow);
      }
    }
  }
}
