$defaultBtnWidth: 160px;
$defaultBtnHeight: 46px;

.btn-center {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ActionButton {
  padding: 6px;
  display: inline-block;
  border: none;
  border-radius: $defaultBtnWidth;
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  background-color: transparent;

  &:hover {
    cursor: pointer;
    .ActionButton__Border {
      &-Secondary {
        border: 2px solid var(--green);
      }
    }
  }

  &:active, &:focus {
    outline: none;
    .ActionButton__Border {
      &-Secondary {
        border: 2px solid var(--orange);
      }
    }
  }

  &__Border {
    &-Primary, &-Secondary, &-Default {
      width: 100%;
      height: 100%;
      @extend .btn-center;
      border-color: transparent;
      border-radius: inherit;
    }

    &-Primary {
      padding: 3px;
      background: linear-gradient(111.54deg, rgba(0, 0, 0, 0.24) 15.54%, rgba(255, 255, 255, 0.24) 83.27%);
    }

    &-Secondary {
      padding: 3px;
      background: linear-gradient(69.47deg, rgba(255, 255, 255, 0) -12.18%, #FFFFFF 53.34%, rgba(255, 255, 255, 0) 126.25%), #000000;
      border: 2px solid #000;
      transition: all 0.45s linear;
    }

    &-Default {
      padding: 6px 12px;
      background: radial-gradient(47.3% 308.82% at 61.94% 208.82%, #5E4D70 0%, #30253C 100%)
    }
  }
}
