@import "../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../assets/scss/utilities/functions";

.Mask {
  width: 100% !important;
  height: 100% !important;

  .native-mask, .minimal-ui-mask {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }

  .native-mask-title, .minimal-ui-mask-title {
    padding: 8px 0;
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    color: var(--black);
  }
}