@import "~bootstrap/scss/functions";
@import "../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../assets/scss/utilities/functions";

$headerHeight: 48px;

#Full-width-tabs {
  background-color: transparent;

  .MuiPaper-root {
    background-color: transparent;
  }

  .MuiTabs-root {
    min-height: responseCalc($headerHeight);
  }

  .MuiTab-textColorPrimary {
    min-height: responseCalc($headerHeight);
    border: 1px solid rgba(255, 255, 255, .45);
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(18px);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);

    &.Mui-selected {
      color: var(--primary);
    }
  }
}