@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

.DevicePlaceholder {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #000 url("../../assets/images/bg-main.jpg") no-repeat center bottom;
  background-size: contain;

  &__Icon {
    display: block;
    width: responseCalc(260px);
    height: responseCalc(260px);
    background: #000 url("../../assets/images/multiple-devices-svgrepo-com.svg") no-repeat center center;
    background-size: contain;
  }

  &__Message {
    font-family: 'Intro HeadR Base', Roboto, Ubuntu, "Fira Sans", system-ui, -apple-system, sans-serif;
    font-size: responseCalc(64px);
    color: var(--cyan);
  }
}
