@import "~bootstrap/scss/functions";
@import "../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../assets/scss/utilities/functions";

.General {
  .MuiFormControlLabel-label {
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(18px);
    font-weight: 400;
    text-transform: uppercase;
  }
}