@import "~bootstrap/scss/functions";
@import "../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../assets/scss/utilities/functions";

.Message {
  margin: responseCalc(10px) responseCalc(10px) 0 responseCalc(10px);
  padding: responseCalc(8px) responseCalc(16px);
  border: 1px solid var(--primary);
  border-radius: responseCalc(10px) responseCalc(10px) responseCalc(10px) 0;
  background: rgba(0, 0, 0, 0.6);
  font-family: var(--font-family-sans-serif);
  font-size: responseCalc(18px);
  font-weight: 400;
  text-align: left;
  color: var(--white);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px 2px rgba(255, 255, 255, 0.4);

  &__Author {
    font-size: responseCalc(16px);
    font-weight: 600;
    color: var(--yellow);
  }
}
