@import "~bootstrap/scss/functions";
@import "../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../assets/scss/utilities/functions";

.Video {
  .legend {
    margin: responseCalc(8px) 0;
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(16px);
    font-weight: 600;
    text-align: left;
    color: var(--primary);
  }

  hr {
    border-color: var(--primary);
  }

  &__Primary, &__Secondary {
    &.MuiFormControl-root {
      display: flex;
      flex-direction: row;

      .MuiFormControlLabel-label {
        font-family: var(--font-family-sans-serif);
        font-size: responseCalc(18px);
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        color: var(--white);
      }
    }

    .MuiFormGroup-root {
      display: flex;
      flex-direction: row;
    }

  }
}