@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

.timer-centring {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Timer {
  position: relative;
  @extend .timer-centring;
  outline: 1px solid var(--yellow);
  background-color: transparent;

  &__Percent {
    @extend .timer-centring;
    width: calc(var(--timer-width) * 1%) !important;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(243, 81, 46, 0.9), rgba(240, 172, 39, 0.4));
    transition: width calc(var(--timer-length) * 1s) linear;
  }

  &__Number {
    @extend .timer-centring;
    height: responseCalc(30px);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, -200%, 0);
    background-color: transparent;
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(16px);
    line-height: 1.25;

    &__Content {
      width: responseCalc(64px);
      height: responseCalc(64px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      color: var(--white);
      border: 1px solid var(--red);
      background-color: rgba(0, 0, 0, 0.4);

      .MuiSvgIcon-root {
        width: responseCalc(32px);
        height: responseCalc(32px);
        color: var(--white);
      }
    }

    span {
      display: block;
      min-width: responseCalc(16px);
    }
  }
}
