@import "~bootstrap/scss/functions";
@import "../../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../../assets/scss/utilities/functions";

.BetZonesPanel__Portrait {
  width: 100%;
  height: var(--mobile-portrait-bet-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);

  .Zone {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Main__Col, .Pair__Col {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .PlayerSvg, .BankerSvg, .TieSvg {
      width: 100%;
      height: 100%;
    }
  }

  .Main__Col {
    position: relative;
    z-index: 10;

    &.Tie {
      z-index: 20;
    }

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .Bet {
    width: calc(100% - 2px);
    height: 100%;
    display: flex;

    &__Player, &__Banker, &__Tie {
      width: 100%;
      height: 100%;
      position: relative;

      &__Content {
        width: 60%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;

        .Content {
          &__Statistic, &__Info {
            position: relative;
            padding: 4px;
            width: 100%;
            height: 25%;
            display: flex;
            font-family: Palatino Inter Arial sans-serif;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
          }

          &__Info {
            justify-content: center;
            align-items: flex-end;
          }

          &__Cards {
            padding: 4px;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;

            .Cards__Wrapper {
              width: 100%;
              height: 100%;
              display: flex;

              .Card {
                width: calc(30px * 1);
                height: calc(42px * 1);
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .card {
                width: calc(30px * 0.9);
                height: calc(42px * 0.9);
              }
            }

            .Cards__Points {
              font-family: var(--font-family-sans-serif);
              font-size: 21px;
              line-height: 1.25;
              text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
              color: var(--white);
            }
          }
        }

        .Statistic__Details {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .Statistic__Diagram {
          position: relative;
          width: 36%;

          svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .Details__Col {
          font-family: var(--font-family-sans-serif);
          font-size: 11px;
          line-height: 1.25;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
          color: var(--white);

          .MuiSvgIcon-root {
            font-size: 11px;
          }
        }

        .Details__Symbol {
          display: inline-block;
          text-align: center;
          min-width: 20px;
        }
      }
    }

    &__Player {
      &__Content {
        left: 0;
      }

      .Details__Col {
        color: #0061EE;
        text-align: left;
      }

      .Cards__Points {
        width: 100%;
        text-align: right;
      }

      .Cards__Wrapper {
        justify-content: flex-end;
      }

      .Card {
        &__Additional {
          .card {
            transform: rotate(90deg) translateY(responseCalc(6px));
          }
        }
      }

      .Content__Info {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__Banker {
      &__Content {
        right: 0;
      }

      .Details__Col {
        margin-right: 4px;
        color: #FF0F0F;
        text-align: right;
      }

      .Content__Cards {
        align-items: flex-end;
      }

      .Cards__Points {
        width: 100%;
        text-align: left;
      }

      .Card {
        &__Additional {
          .card {
            transform: rotate(-90deg) translateY(responseCalc(6px));
          }
        }
      }

      .Content__Info {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
        }
      }

    }

    &__Tie {
      &__Content {
        width: 100%;
      }

      .Content__Statistic {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
      }

      .Statistic__Diagram {
        width: 26%;
        height: 48px;
        position: relative;
      }

      .Statistic__Details {
        align-items: center;
      }

      .Details__Col {
        color: #0F0;
      }

      .Content__Info {
        height: 50%;
        align-items: flex-end;
        justify-content: center;
      }
    }

    &__PPair {
      position: relative;
      width: calc(100% - 2px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 97, 238, 0.35);
      border: 1.7px solid #0061EE;
      font-family: Palatino Inter Arial sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #0061EE;
    }

    &__BPair {
      position: relative;
      width: calc(100% - 2px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 15, 15, 0.35);
      border: 1.7px solid #FF0F0F;
      font-family: Palatino Inter Arial sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #FF0F0F;
    }

    .bet-chip-1, .bet-chip-2, .bet-chip-3, .bet-chip-4, .bet-chip-5 {
      width: 37px;
      height: 37px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.3);
      svg {
        width: 36px;
        height: 36px;
      }
    }
  }

  .Tie {
    width: 35%;
    height: 96%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-49.75%, 4%, 0);
  }

  .Zone_Pair {
    margin: 4px 0;
    height: 40%;
  }

  .fix-end {
    justify-content: flex-end;
  }
}