@import "~bootstrap/scss/functions";
@import "../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../assets/scss/utilities/functions";

.Issue {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 8em solid var(--yellow);
    border-right: 8em solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate3d(0, -100%, 0);
    @include media-breakpoint-down(sm) {
      border-bottom: 6em solid var(--yellow);
      border-right: 6em solid transparent;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 8em solid var(--yellow);
    border-left: 8em solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate3d(-100%, 0, 0);
    @include media-breakpoint-down(sm) {
      border-top: 6em solid var(--yellow);
      border-left: 6em solid transparent;
    }
  }

  &__Header, &__Body {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-sans-serif);
    font-size: 24px;
    line-height: 1.75;
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--white);
    @include media-breakpoint-down(sm) {
      flex-direction: row;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
    }
  }

  &__Header {
    align-items: flex-end;
    padding-right: 5em;
    @include media-breakpoint-down(sm) {
      align-items: flex-end;
      padding-right: 0;
    }
  }

  &__Body {
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
}