@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.IOSSoundModal {
  &__Header {
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
    line-height: 1.25;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: var(--yellow);
  }

  &__Body {
    font-family: var(--font-family-sans-serif);
    font-size: 16px;
    line-height: 1.15;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: var(--dark);
    border-color: transparent;
  }

  &__Button {
    font-family: var(--font-family-sans-serif);
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: var(--dark);
  }
}