@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.History__Mobile {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__Header {
    margin-bottom: 8px;
    padding: 4px 8px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
  }

  .Header {
    &__Icon {
      padding-right: 8px;

      svg {
        width: 1.25em;
        height: 1.25em;
        fill: var(--white);
      }
    }

    &__Text {
      font-size: 0.75em;
      font-family: var(--font-family-sans-serif);
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      text-transform: uppercase;
      color: var(--white);
    }
  }

  &__Body {
    width: 100%;
    display: flex;
  }

  .History__Table, .Table {
    width: 100%;
    display: flex;
    flex-direction: column;

    .Tr {
      width: 100%;
      display: flex;
      flex-grow: 1;

      &:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &.yellow {
        background-color: var(--yellow);
      }

      &.primary {
        background-color: var(--primary);

        .Th {
          color: var(--yellow);
        }
      }
    }

    .Th, .Td {
      padding: 4px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75em;
      font-family: var(--font-family-sans-serif);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      color: var(--white);
    }

    .Th {
      text-transform: uppercase;
    }
  }
}