@import "~bootstrap/scss/functions";
@import "../../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../../assets/scss/utilities/functions";

.WinResult {
  padding: 8px 0;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 20;
  transform: translate3d(0, -50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.1) 100%);

  &__Message, &__Amount {
    margin: 0;
    padding: 0;
  }

  &__Message {
    font-family: var(--font-family-sans-serif);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--yellow);
  }

  &__Amount {
    font-family: var(--font-family-sans-serif);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--white);
  }
}