@import "~bootstrap/scss/functions";
@import "../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../assets/scss/utilities/functions";

.Landscape {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #000 40%, #361B00 55%, #8D4D01 100%);

  &__Wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .GameResult {
    z-index: 100;
  }
}
