<style type="text/css">
    h1 {
        font-size: 16pt;
        font-weight: bold;
    }

    h2 {
        font-size: 16pt;
        font-weight: 600;
    }

    .display-flex-center-column{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .svg{
        margin-bottom: 10px;
    }

</style>

<h1>Блэк Джек</h1>

<h2>Цель игры</h2>
<p>Цель игры <b>«Блэкджек»</b> собрать карты общей ценностью выше карт дилера, но не более 21.</p>

<h2>Игра</h2>
<p>Для игры в «Блэкджек» ставки размещаются в виде прямоугольника на столе.
    Ваша ставка должна соответствовать минимальному и максимальному лимитам, установленным для каждого стола.
    Игроки должны делать ставки и подтверждать их до того, когда время ставок закончится.
    По истечении этого времени крупье объявляет: «Ставки больше не принимаются».</p>
<p>Первая карта раздается с колоды слева от дилера, по карте для каждого игрока.
    Дилер идет последним в круге. Вторая карта распределяется таким же образом – карта кладется изображением
    вверх для каждого игрока. Однако крупье также получает вторую карту, но с картинкой вниз.
    После того, как все начальные карты раздаются, каждый игрок получает шанс увеличить их ценность.
</p>
<p>Порядок приоритета такой же, как и порядок раздачи карт.
    Когда придет ваша очередь, у вас будет выбор - либо оставить доступное количество карт,
    либо взять одну или несколько карт, чтобы увеличить ценность карт.
    Как только вы делаете ход под названием «Хватит», ход переходит к следующему игроку.
</p>
<p>Если ценность карт превышает общую сумму 21, это называется «перебором».
    В этом случае ставка проигрывает. Если ценность первых двух карт 21, такая комбинация называется «Блэкджек».
    Эта комбинация не позволяет обменивать карты. Если у игрока есть «Блэкджек», а у дилера нет «Блэкджека»
    (то есть у дилера нет десятки или туза), то эта ставка оплачивается с коэффициентом 3 к 2 в пользу игрока.
</p>
<p>Если возникает ситуация, когда крупье также получает «Блэкджек», результат игры откладывается до тех пор,
    пока крупье не определит значение карт. После того, как все игроки взяли карты,
    дилер переворачивает их вторую карту вверх дном, затем решает остановиться или взять другую карту.
    Если ценность карты дилера превышает 21, то происходит «перебор», и все невыплаченные ставки выигрывают.
    Если дилер «останавливается», не касаясь карт, значение руки каждого игрока сравнивается с ценностью карт дилера.
    Если значение карт игрока ближе к 21, чем значение карт дилера, игрок выигрывает.
    Если значение карт дилера ближе к 21, то игрок соответственно проигрывает.
</p>
<p>В случае ничьей между игроком и дилером, игрок не выигрывает и не проигрывает свою ставку.
    Как только все ставки рассчитаны, крупье объявляет о начале следующего периода для размещения ставок.
</p>

<h2>Ценность карт</h2>
<p>Ценность таких карт, как десятка, валет, дама и король составляет 10, а значение тузов - 1 или 11.
    После того, как игрок выбрал «Хватит», рука с одним или несколькими тузами считается имеющей наивысшее значение,
    не более 21.</p>

<h2>Возможности игрока</h2>
<p>После того, как игроку раздаются первые две карты, у каждой из них есть возможность увеличить значение своих карт.
    У игроков есть возможность изменить диапазон своих ставок следующим образом:
</p>
<div class="display-flex-center-column">
    <div class="svg">
        <svg width="56" height="59" viewBox="0 0 56 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.43555 52.8242V56H1.45117V47.5977H3.75977C4.6582 47.5977 5.35352 47.8164 5.8457 48.2539C6.3418 48.6914 6.58984 49.3086 6.58984 50.1055C6.58984 50.9023 6.31445 51.5547 5.76367 52.0625C5.2168 52.5703 4.47656 52.8242 3.54297 52.8242H2.43555ZM2.43555 48.4883V51.9336H3.4668C4.14648 51.9336 4.66406 51.7793 5.01953 51.4707C5.37891 51.1582 5.55859 50.7188 5.55859 50.1523C5.55859 49.043 4.90234 48.4883 3.58984 48.4883H2.43555ZM12.3438 56H11.3828V55.0625H11.3594C10.9414 55.7812 10.3262 56.1406 9.51367 56.1406C8.91602 56.1406 8.44727 55.9824 8.10742 55.666C7.77148 55.3496 7.60352 54.9297 7.60352 54.4062C7.60352 53.2852 8.26367 52.6328 9.58398 52.4492L11.3828 52.1973C11.3828 51.1777 10.9707 50.668 10.1465 50.668C9.42383 50.668 8.77148 50.9141 8.18945 51.4062V50.4219C8.7793 50.0469 9.45898 49.8594 10.2285 49.8594C11.6387 49.8594 12.3438 50.6055 12.3438 52.0977V56ZM11.3828 52.9648L9.93555 53.1641C9.49023 53.2266 9.1543 53.3379 8.92773 53.498C8.70117 53.6543 8.58789 53.9336 8.58789 54.3359C8.58789 54.6289 8.69141 54.8691 8.89844 55.0566C9.10938 55.2402 9.38867 55.332 9.73633 55.332C10.2129 55.332 10.6055 55.166 10.9141 54.834C11.2266 54.498 11.3828 54.0742 11.3828 53.5625V52.9648ZM13.6504 55.8301V54.8867C14.1738 55.1797 14.7852 55.3262 15.4844 55.3262C16.543 55.3262 17.0723 54.9902 17.0723 54.3184C17.0723 53.6543 16.4922 53.3223 15.332 53.3223H14.7402V52.5078H15.3027C16.3223 52.5078 16.832 52.1914 16.832 51.5586C16.832 51.2891 16.7148 51.0742 16.4805 50.9141C16.2461 50.7539 15.9258 50.6738 15.5195 50.6738C14.9375 50.6738 14.3535 50.8203 13.7676 51.1133V50.2168C14.4316 49.9746 15.041 49.8535 15.5957 49.8535C17.0566 49.8535 17.7871 50.3906 17.7871 51.4648C17.7871 51.8125 17.6777 52.1133 17.459 52.3672C17.2441 52.6172 16.9414 52.7832 16.5508 52.8652V52.8945C16.9961 52.9297 17.3535 53.0801 17.623 53.3457C17.8926 53.6113 18.0273 53.9473 18.0273 54.3535C18.0273 54.9004 17.8066 55.3359 17.3652 55.6602C16.9238 55.9844 16.3164 56.1465 15.543 56.1465C14.7188 56.1465 14.0879 56.041 13.6504 55.8301ZM24.7422 58.1855H23.9277V56H19.4629V58.1855H18.6426V55.1855H19.1758C20.1992 53.709 20.7188 51.9805 20.7344 50H23.8516V55.1855H24.7422V58.1855ZM22.8906 55.1855V50.8145H21.5605C21.4551 52.4316 21 53.8887 20.1953 55.1855H22.8906ZM30.8945 53.2402H26.6582C26.6738 53.9082 26.8535 54.4238 27.1973 54.7871C27.541 55.1504 28.0137 55.332 28.6152 55.332C29.291 55.332 29.9121 55.1094 30.4785 54.6641V55.5664C29.9512 55.9492 29.2539 56.1406 28.3867 56.1406C27.5391 56.1406 26.873 55.8691 26.3887 55.3262C25.9043 54.7793 25.6621 54.0117 25.6621 53.0234C25.6621 52.0898 25.9258 51.3301 26.4531 50.7441C26.9844 50.1543 27.6426 49.8594 28.4277 49.8594C29.2129 49.8594 29.8203 50.1133 30.25 50.6211C30.6797 51.1289 30.8945 51.834 30.8945 52.7363V53.2402ZM29.9102 52.4258C29.9062 51.8711 29.7715 51.4395 29.5059 51.1309C29.2441 50.8223 28.8789 50.668 28.4102 50.668C27.957 50.668 27.5723 50.8301 27.2559 51.1543C26.9395 51.4785 26.7441 51.9023 26.6699 52.4258H29.9102ZM36.7305 56H35.7754V50.8145H34.3809C34.2207 52.7559 33.9453 54.1191 33.5547 54.9043C33.168 55.6895 32.6465 56.082 31.9902 56.082C31.791 56.082 31.6191 56.0547 31.4746 56V55.1738C31.6113 55.2441 31.7598 55.2793 31.9199 55.2793C32.7793 55.2793 33.332 53.5195 33.5781 50H36.7305V56ZM43.709 56H42.8418V51.2129C42.7559 51.3809 42.625 51.6172 42.4492 51.9219L39.6777 56H38.6816V50H39.5605V54.7285C39.6074 54.6152 39.709 54.4219 39.8652 54.1484L42.7129 50H43.709V56ZM49.4219 50.8203H47.623V56H46.6621V50.8203H44.8574V50H49.4219V50.8203ZM50.5762 56V50H51.5371V52.3027H53.1543C53.7676 52.3027 54.2539 52.4629 54.6133 52.7832C54.9766 53.1035 55.1582 53.5508 55.1582 54.125C55.1582 54.7031 54.9766 55.1602 54.6133 55.4961C54.25 55.832 53.791 56 53.2363 56H50.5762ZM51.5371 53.1289V55.1797H52.9785C53.7754 55.1797 54.1738 54.8281 54.1738 54.125C54.1738 53.4609 53.7715 53.1289 52.9668 53.1289H51.5371Z" fill="#F3F3F3"/>
            <path d="M50 22C50 34.1503 40.1503 44 28 44C15.8497 44 6 34.1503 6 22C6 9.84974 15.8497 0 28 0C40.1503 0 50 9.84974 50 22Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 41.9998C39.0457 41.9998 48 33.0455 48 21.9998C48 10.9541 39.0457 1.99976 28 1.99976C16.9543 1.99976 8 10.9541 8 21.9998C8 33.0455 16.9543 41.9998 28 41.9998ZM28.0002 41.7617C38.9144 41.7617 47.7621 32.914 47.7621 21.9998C47.7621 11.0856 38.9144 2.23785 28.0002 2.23785C17.086 2.23785 8.23828 11.0856 8.23828 21.9998C8.23828 32.914 17.086 41.7617 28.0002 41.7617Z" fill="url(#paint1_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9998 39.7379C37.7963 39.7379 45.7379 31.7963 45.7379 21.9998C45.7379 12.2033 37.7963 4.26172 27.9998 4.26172C18.2033 4.26172 10.2617 12.2033 10.2617 21.9998C10.2617 31.7963 18.2033 39.7379 27.9998 39.7379ZM27.9994 38.3688C37.0398 38.3688 44.3685 31.0401 44.3685 21.9998C44.3685 12.9594 37.0398 5.63071 27.9994 5.63071C18.959 5.63071 11.6304 12.9594 11.6304 21.9998C11.6304 31.0401 18.959 38.3688 27.9994 38.3688Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9998 39.7379C37.7963 39.7379 45.7379 31.7963 45.7379 21.9998C45.7379 12.2033 37.7963 4.26172 27.9998 4.26172C18.2033 4.26172 10.2617 12.2033 10.2617 21.9998C10.2617 31.7963 18.2033 39.7379 27.9998 39.7379ZM27.9994 38.3688C37.0398 38.3688 44.3685 31.0401 44.3685 21.9998C44.3685 12.9594 37.0398 5.63071 27.9994 5.63071C18.959 5.63071 11.6304 12.9594 11.6304 21.9998C11.6304 31.0401 18.959 38.3688 27.9994 38.3688Z" fill="url(#paint2_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.0002 41.7616C38.9144 41.7616 47.7621 32.9139 47.7621 21.9997C47.7621 11.0855 38.9144 2.23779 28.0002 2.23779C17.086 2.23779 8.23828 11.0855 8.23828 21.9997C8.23828 32.9139 17.086 41.7616 28.0002 41.7616ZM27.9998 39.4127C37.6166 39.4127 45.4126 31.6167 45.4126 21.9998C45.4126 12.3829 37.6166 4.58695 27.9998 4.58695C18.3829 4.58695 10.5869 12.3829 10.5869 21.9998C10.5869 31.6167 18.3829 39.4127 27.9998 39.4127Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.0002 41.7616C38.9144 41.7616 47.7621 32.9139 47.7621 21.9997C47.7621 11.0855 38.9144 2.23779 28.0002 2.23779C17.086 2.23779 8.23828 11.0855 8.23828 21.9997C8.23828 32.9139 17.086 41.7616 28.0002 41.7616ZM27.9998 39.4127C37.6166 39.4127 45.4126 31.6167 45.4126 21.9998C45.4126 12.3829 37.6166 4.58695 27.9998 4.58695C18.3829 4.58695 10.5869 12.3829 10.5869 21.9998C10.5869 31.6167 18.3829 39.4127 27.9998 39.4127Z" fill="url(#paint3_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9998 39.7379C37.7963 39.7379 45.7379 31.7963 45.7379 21.9998C45.7379 12.2033 37.7963 4.26172 27.9998 4.26172C18.2033 4.26172 10.2617 12.2033 10.2617 21.9998C10.2617 31.7963 18.2033 39.7379 27.9998 39.7379ZM28 39.4998C37.665 39.4998 45.5 31.6647 45.5 21.9998C45.5 12.3348 37.665 4.49976 28 4.49976C18.335 4.49976 10.5 12.3348 10.5 21.9998C10.5 31.6647 18.335 39.4998 28 39.4998Z" fill="url(#paint4_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 39.4998C37.665 39.4998 45.5 31.6647 45.5 21.9998C45.5 12.3348 37.665 4.49976 28 4.49976C18.335 4.49976 10.5 12.3348 10.5 21.9998C10.5 31.6647 18.335 39.4998 28 39.4998ZM28.0001 39.3212C37.5665 39.3212 45.3216 31.5661 45.3216 21.9998C45.3216 12.4334 37.5665 4.67833 28.0001 4.67833C18.4338 4.67833 10.6787 12.4334 10.6787 21.9998C10.6787 31.5661 18.4338 39.3212 28.0001 39.3212Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 39.4998C37.665 39.4998 45.5 31.6647 45.5 21.9998C45.5 12.3348 37.665 4.49976 28 4.49976C18.335 4.49976 10.5 12.3348 10.5 21.9998C10.5 31.6647 18.335 39.4998 28 39.4998ZM28.0001 39.3212C37.5665 39.3212 45.3216 31.5661 45.3216 21.9998C45.3216 12.4334 37.5665 4.67833 28.0001 4.67833C18.4338 4.67833 10.6787 12.4334 10.6787 21.9998C10.6787 31.5661 18.4338 39.3212 28.0001 39.3212Z" fill="url(#paint5_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.0006 38.7855C37.2711 38.7855 44.7863 31.2703 44.7863 21.9998C44.7863 12.7293 37.2711 5.21411 28.0006 5.21411C18.7301 5.21411 11.2148 12.7293 11.2148 21.9998C11.2148 31.2703 18.7301 38.7855 28.0006 38.7855ZM28.0007 38.6069C37.1726 38.6069 44.6078 31.1716 44.6078 21.9998C44.6078 12.8279 37.1726 5.39261 28.0007 5.39261C18.8288 5.39261 11.3936 12.8279 11.3936 21.9998C11.3936 31.1716 18.8288 38.6069 28.0007 38.6069Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.0006 38.7855C37.2711 38.7855 44.7863 31.2703 44.7863 21.9998C44.7863 12.7293 37.2711 5.21411 28.0006 5.21411C18.7301 5.21411 11.2148 12.7293 11.2148 21.9998C11.2148 31.2703 18.7301 38.7855 28.0006 38.7855ZM28.0007 38.6069C37.1726 38.6069 44.6078 31.1716 44.6078 21.9998C44.6078 12.8279 37.1726 5.39261 28.0007 5.39261C18.8288 5.39261 11.3936 12.8279 11.3936 21.9998C11.3936 31.1716 18.8288 38.6069 28.0007 38.6069Z" fill="url(#paint6_linear)"/>
            <circle cx="27.9651" cy="21.9619" r="16.5217" fill="#2B2431"/>
            <circle cx="27.9651" cy="21.9619" r="16.5217" fill="url(#paint7_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9997 38.6069C37.1716 38.6069 44.6069 31.1716 44.6069 21.9997C44.6069 12.8278 37.1716 5.39258 27.9997 5.39258C18.8278 5.39258 11.3926 12.8278 11.3926 21.9997C11.3926 31.1716 18.8278 38.6069 27.9997 38.6069ZM27.9989 38.3688C37.0393 38.3688 44.368 31.0401 44.368 21.9998C44.368 12.9594 37.0393 5.63071 27.9989 5.63071C18.9586 5.63071 11.6299 12.9594 11.6299 21.9998C11.6299 31.0401 18.9586 38.3688 27.9989 38.3688Z" fill="url(#paint8_linear)"/>
            <mask id="path-11-outside-1" maskUnits="userSpaceOnUse" x="14.6191" y="12.0857" width="27" height="20" fill="black">
                <rect fill="white" x="14.6191" y="12.0857" width="27" height="20"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9063 13.1087L39.9021 15.8034C40.2481 15.8978 40.4518 16.2525 40.3581 16.6007L36.678 30.4324C36.5842 30.7774 36.2317 30.9857 35.8857 30.8913L28.1318 28.8012C28.0465 28.7782 27.9567 28.7782 27.8715 28.8012L20.1176 30.8913C19.7715 30.9857 19.4191 30.7807 19.3253 30.4324L15.642 16.6007C15.5482 16.2525 15.7519 15.8978 16.0979 15.8034L26.0937 13.1087C26.4397 13.0143 26.7922 13.2193 26.886 13.5675L27.5178 15.9361C27.6499 16.4311 28.3524 16.4308 28.4841 15.9357L29.1141 13.5675C29.2078 13.2226 29.5603 13.0143 29.9063 13.1087ZM31.9652 20.1894C31.8352 19.9506 31.9225 19.6516 32.1605 19.5201L32.5159 19.3238C32.7585 19.1898 33.0639 19.2787 33.1966 19.5221L34.6451 22.1783C34.7768 22.4199 34.6886 22.7226 34.4476 22.8555L31.8011 24.3156C31.5587 24.4494 31.2537 24.3607 31.1208 24.1177L30.9107 23.7333C30.7881 23.5091 30.8698 23.2281 31.0935 23.1045V23.1045C31.4656 22.8991 31.3856 22.3553 30.966 22.2874C30.0033 22.1317 29.0114 22.0521 28.0017 22.0521C26.992 22.0521 26.0001 22.1317 25.0373 22.2874C24.6177 22.3553 24.5378 22.8991 24.9099 23.1045V23.1045C25.1336 23.2281 25.2153 23.5091 25.0927 23.7333L24.8825 24.1177C24.7497 24.3607 24.4447 24.4494 24.2023 24.3156L21.5558 22.8555C21.3148 22.7226 21.2266 22.4199 21.3583 22.1783L22.8065 19.5226C22.9393 19.279 23.2451 19.1902 23.4877 19.3246L23.84 19.5196C24.0778 19.6513 24.1646 19.9504 24.0342 20.1889V20.1889C23.8293 20.564 24.1668 21.0122 24.588 20.9391C25.6946 20.7469 26.8365 20.6494 27.9985 20.6494C29.161 20.6494 30.3034 20.747 31.4106 20.9394C31.8317 21.0125 32.1695 20.5649 31.9652 20.1894V20.1894Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9063 13.1087L39.9021 15.8034C40.2481 15.8978 40.4518 16.2525 40.3581 16.6007L36.678 30.4324C36.5842 30.7774 36.2317 30.9857 35.8857 30.8913L28.1318 28.8012C28.0465 28.7782 27.9567 28.7782 27.8715 28.8012L20.1176 30.8913C19.7715 30.9857 19.4191 30.7807 19.3253 30.4324L15.642 16.6007C15.5482 16.2525 15.7519 15.8978 16.0979 15.8034L26.0937 13.1087C26.4397 13.0143 26.7922 13.2193 26.886 13.5675L27.5178 15.9361C27.6499 16.4311 28.3524 16.4308 28.4841 15.9357L29.1141 13.5675C29.2078 13.2226 29.5603 13.0143 29.9063 13.1087ZM31.9652 20.1894C31.8352 19.9506 31.9225 19.6516 32.1605 19.5201L32.5159 19.3238C32.7585 19.1898 33.0639 19.2787 33.1966 19.5221L34.6451 22.1783C34.7768 22.4199 34.6886 22.7226 34.4476 22.8555L31.8011 24.3156C31.5587 24.4494 31.2537 24.3607 31.1208 24.1177L30.9107 23.7333C30.7881 23.5091 30.8698 23.2281 31.0935 23.1045V23.1045C31.4656 22.8991 31.3856 22.3553 30.966 22.2874C30.0033 22.1317 29.0114 22.0521 28.0017 22.0521C26.992 22.0521 26.0001 22.1317 25.0373 22.2874C24.6177 22.3553 24.5378 22.8991 24.9099 23.1045V23.1045C25.1336 23.2281 25.2153 23.5091 25.0927 23.7333L24.8825 24.1177C24.7497 24.3607 24.4447 24.4494 24.2023 24.3156L21.5558 22.8555C21.3148 22.7226 21.2266 22.4199 21.3583 22.1783L22.8065 19.5226C22.9393 19.279 23.2451 19.1902 23.4877 19.3246L23.84 19.5196C24.0778 19.6513 24.1646 19.9504 24.0342 20.1889V20.1889C23.8293 20.564 24.1668 21.0122 24.588 20.9391C25.6946 20.7469 26.8365 20.6494 27.9985 20.6494C29.161 20.6494 30.3034 20.747 31.4106 20.9394C31.8317 21.0125 32.1695 20.5649 31.9652 20.1894V20.1894Z" fill="white"/>
            <path d="M39.9021 15.8034L40.0337 15.321L40.0322 15.3206L39.9021 15.8034ZM29.9063 13.1087L29.7748 13.591L29.7762 13.5914L29.9063 13.1087ZM40.3581 16.6007L39.8753 16.4707L39.8749 16.4722L40.3581 16.6007ZM36.678 30.4324L37.1605 30.5636L37.1612 30.561L36.678 30.4324ZM35.8857 30.8913L36.0173 30.4089L36.0158 30.4085L35.8857 30.8913ZM20.1176 30.8913L19.9874 30.4085L19.986 30.4089L20.1176 30.8913ZM19.3253 30.4324L18.8421 30.5611L18.8425 30.5624L19.3253 30.4324ZM15.642 16.6007L16.1251 16.4721L16.1248 16.4707L15.642 16.6007ZM16.0979 15.8034L15.9678 15.3206L15.9664 15.321L16.0979 15.8034ZM26.0937 13.1087L26.2238 13.5914L26.2252 13.591L26.0937 13.1087ZM26.886 13.5675L27.3691 13.4387L27.3688 13.4375L26.886 13.5675ZM29.1141 13.5675L28.6316 13.4364L28.6309 13.439L29.1141 13.5675ZM31.4106 20.9394L31.325 21.432L31.4106 20.9394ZM24.588 20.9391L24.5024 20.4464L24.588 20.9391ZM23.84 19.5196L23.5978 19.9571L23.84 19.5196ZM22.8065 19.5226L23.2455 19.762L22.8065 19.5226ZM21.5558 22.8555L21.3142 23.2933L21.5558 22.8555ZM21.3583 22.1783L21.7973 22.4177L21.3583 22.1783ZM30.966 22.2874L30.8862 22.781L30.966 22.2874ZM30.9107 23.7333L30.472 23.9732L30.9107 23.7333ZM31.1208 24.1177L31.5596 23.8779L31.1208 24.1177ZM28.1318 28.8012L28.0016 29.284L28.1318 28.8012ZM27.8715 28.8012L27.7414 28.3184L27.8715 28.8012ZM34.6451 22.1783L34.2061 22.4177L34.6451 22.1783ZM34.4476 22.8555L34.6892 23.2933L34.4476 22.8555ZM32.5159 19.3238L32.2741 18.8861L32.5159 19.3238ZM33.1966 19.5221L33.6355 19.2827L33.1966 19.5221ZM24.8825 24.1177L24.4438 23.8779L24.8825 24.1177ZM27.5178 15.9361L27.0347 16.0649L27.5178 15.9361ZM28.4841 15.9357L28.0009 15.8072L28.4841 15.9357ZM32.1605 19.5201L32.4023 19.9577L32.1605 19.5201ZM40.0322 15.3206L30.0365 12.6259L29.7762 13.5914L39.7719 16.2862L40.0322 15.3206ZM40.8409 16.7308C41.0061 16.1171 40.6461 15.4881 40.0337 15.321L39.7705 16.2858C39.8501 16.3075 39.8976 16.3879 39.8753 16.4707L40.8409 16.7308ZM37.1612 30.561L40.8412 16.7293L39.8749 16.4722L36.1948 30.3039L37.1612 30.561ZM35.7541 31.3737C36.3741 31.5428 36.9962 31.1678 37.1605 30.5636L36.1955 30.3013C36.1722 30.387 36.0893 30.4286 36.0173 30.4089L35.7541 31.3737ZM28.0016 29.284L35.7555 31.3741L36.0158 30.4085L28.2619 28.3184L28.0016 29.284ZM20.2477 31.3741L28.0016 29.284L27.7414 28.3184L19.9874 30.4085L20.2477 31.3741ZM18.8425 30.5624C19.007 31.1735 19.6317 31.5421 20.2491 31.3737L19.986 30.4089C19.9114 30.4293 19.8311 30.3878 19.8081 30.3024L18.8425 30.5624ZM15.1588 16.7294L18.8421 30.5611L19.8084 30.3038L16.1251 16.4721L15.1588 16.7294ZM15.9664 15.321C15.3539 15.4881 14.9939 16.1171 15.1592 16.7308L16.1248 16.4707C16.1025 16.3879 16.1499 16.3075 16.2295 16.2858L15.9664 15.321ZM25.9635 12.6259L15.9678 15.3206L16.2281 16.2862L26.2238 13.5914L25.9635 12.6259ZM27.3688 13.4375C27.2042 12.8265 26.5795 12.4579 25.9621 12.6263L26.2252 13.591C26.2999 13.5707 26.3802 13.6122 26.4032 13.6976L27.3688 13.4375ZM28.0009 15.8072L27.3691 13.4387L26.4029 13.6964L27.0347 16.0649L28.0009 15.8072ZM28.6309 13.439L28.0009 15.8072L28.9673 16.0642L29.5973 13.6961L28.6309 13.439ZM30.0379 12.6263C29.418 12.4572 28.7958 12.8322 28.6316 13.4364L29.5965 13.6987C29.6199 13.6129 29.7027 13.5714 29.7748 13.591L30.0379 12.6263ZM32.2741 18.8861L31.9188 19.0824L32.4023 19.9577L32.7576 19.7615L32.2741 18.8861ZM35.084 21.939L33.6355 19.2827L32.7576 19.7615L34.2061 22.4177L35.084 21.939ZM32.0426 24.7534L34.6892 23.2933L34.2061 22.4177L31.5596 23.8779L32.0426 24.7534ZM30.472 23.9732L30.6821 24.3576L31.5596 23.8779L31.3494 23.4934L30.472 23.9732ZM28.0017 22.5521C28.9851 22.5521 29.9503 22.6296 30.8862 22.781L31.0459 21.7938C30.0562 21.6338 29.0376 21.5521 28.0017 21.5521V22.5521ZM25.1172 22.781C26.053 22.6296 27.0183 22.5521 28.0017 22.5521V21.5521C26.9658 21.5521 25.9472 21.6338 24.9575 21.7938L25.1172 22.781ZM25.3212 24.3576L25.5314 23.9732L24.654 23.4934L24.4438 23.8779L25.3212 24.3576ZM21.3142 23.2933L23.9608 24.7534L24.4438 23.8779L21.7973 22.4177L21.3142 23.2933ZM22.3676 19.2832L20.9193 21.939L21.7973 22.4177L23.2455 19.762L22.3676 19.2832ZM24.0822 19.0822L23.73 18.8872L23.2455 19.762L23.5978 19.9571L24.0822 19.0822ZM27.9985 20.1494C26.8086 20.1494 25.6381 20.2492 24.5024 20.4464L24.6735 21.4317C25.7512 21.2446 26.8644 21.1494 27.9985 21.1494V20.1494ZM31.4962 20.4467C30.36 20.2493 29.1889 20.1494 27.9985 20.1494V21.1494C29.1331 21.1494 30.2468 21.2447 31.325 21.432L31.4962 20.4467ZM31.325 21.432C32.1307 21.572 32.8217 20.7175 32.4044 19.9505L31.526 20.4284C31.5275 20.4312 31.5272 20.4314 31.5268 20.4294C31.5264 20.4275 31.5264 20.4258 31.5265 20.4247C31.5266 20.4231 31.5265 20.4271 31.5215 20.4339C31.5164 20.4407 31.5105 20.4446 31.5068 20.4462C31.5053 20.4469 31.5042 20.4471 31.5034 20.4472C31.5027 20.4473 31.5005 20.4475 31.4962 20.4467L31.325 21.432ZM23.5955 19.9492C23.1765 20.716 23.8675 21.5717 24.6735 21.4317L24.5024 20.4464C24.4981 20.4472 24.496 20.447 24.4953 20.4469C24.4945 20.4468 24.4935 20.4466 24.492 20.4459C24.4884 20.4444 24.4826 20.4405 24.4775 20.4337C24.4725 20.427 24.4724 20.423 24.4726 20.4247C24.4727 20.4258 24.4727 20.4276 24.4723 20.4295C24.4719 20.4316 24.4715 20.4314 24.473 20.4287L23.5955 19.9492ZM23.5978 19.9571C23.5978 19.9571 23.5969 19.9565 23.596 19.9553C23.5953 19.9544 23.5951 19.9538 23.595 19.9536C23.5949 19.9534 23.5948 19.9527 23.5949 19.9516C23.595 19.9501 23.5955 19.9491 23.5955 19.9492L24.473 20.4287C24.7352 19.9488 24.5606 19.3472 24.0822 19.0822L23.5978 19.9571ZM23.2455 19.762L23.2455 19.762L23.73 18.8872C23.2446 18.6184 22.6332 18.7961 22.3676 19.2832L23.2455 19.762ZM21.7973 22.4177L21.7973 22.4177L20.9193 21.939C20.6559 22.4222 20.8323 23.0274 21.3142 23.2933L21.7973 22.4177ZM24.6682 23.5423C24.6508 23.5327 24.6445 23.5108 24.654 23.4934L25.5314 23.9732C25.7861 23.5074 25.6163 22.9234 25.1516 22.6668L24.6682 23.5423ZM24.9575 21.7938C24.0269 21.9443 23.9177 23.1278 24.6682 23.5423L25.1516 22.6668C25.15 22.666 25.159 22.6716 25.1658 22.686C25.1714 22.6978 25.1726 22.7094 25.171 22.7197C25.1694 22.7301 25.1641 22.745 25.1502 22.7596C25.1432 22.7669 25.1354 22.7727 25.1279 22.7766C25.1203 22.7806 25.1159 22.7812 25.1172 22.781L24.9575 21.7938ZM31.3352 23.5423C32.0857 23.1278 31.9764 21.9443 31.0459 21.7938L30.8862 22.781C30.8875 22.7812 30.8831 22.7806 30.8755 22.7766C30.868 22.7727 30.8602 22.7669 30.8532 22.7596C30.8393 22.745 30.8339 22.7301 30.8323 22.7197C30.8308 22.7094 30.8319 22.6978 30.8375 22.686C30.8444 22.6716 30.8534 22.666 30.8518 22.6668L31.3352 23.5423ZM31.3494 23.4934C31.3589 23.5108 31.3525 23.5327 31.3352 23.5423L30.8518 22.6668C30.3871 22.9234 30.2173 23.5074 30.472 23.9732L31.3494 23.4934ZM31.5596 23.8779L31.5596 23.8779L30.6821 24.3576C30.9478 24.8435 31.5578 25.0209 32.0426 24.7534L31.5596 23.8779ZM28.2619 28.3184C28.0914 28.2725 27.9118 28.2725 27.7414 28.3184L28.0016 29.284L28.0016 29.284L28.2619 28.3184ZM34.2061 22.4177L34.2061 22.4177L34.6892 23.2933C35.171 23.0274 35.3475 22.4222 35.084 21.939L34.2061 22.4177ZM32.7576 19.7615L32.7576 19.7615L33.6355 19.2827C33.3701 18.796 32.7594 18.6181 32.2741 18.8861L32.7576 19.7615ZM24.4438 23.8779L24.4438 23.8779L23.9608 24.7534C24.4456 25.0209 25.0556 24.8435 25.3212 24.3576L24.4438 23.8779ZM27.0347 16.0649C27.2988 17.055 28.7039 17.0545 28.9673 16.0642L28.0009 15.8072L28.0009 15.8072L27.0347 16.0649ZM31.9188 19.0824C31.4401 19.3468 31.2646 19.948 31.526 20.4284L32.4044 19.9505C32.4043 19.9503 32.4048 19.9513 32.4049 19.9527C32.405 19.9538 32.4049 19.9544 32.4048 19.9545C32.4048 19.9547 32.4046 19.9553 32.4039 19.9561C32.403 19.9573 32.4021 19.9578 32.4023 19.9577L31.9188 19.0824Z" fill="url(#paint9_linear)" mask="url(#path-11-outside-1)"/>
            <defs>
                <linearGradient id="paint0_linear" x1="28" y1="0" x2="28" y2="44" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="white"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="7.46667" y1="39.7625" x2="57.7115" y2="31.8389" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint2_linear" x1="43.4691" y1="13.172" x2="12.4893" y2="30.2501" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0B080F"/>
                    <stop offset="0.526042" stop-color="#2E213C"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint3_linear" x1="45.2344" y1="12.1647" x2="10.72" y2="31.1913" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint4_linear" x1="9.7887" y1="37.7536" x2="54.3511" y2="30.7262" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint5_linear" x1="37.9652" y1="36.7446" x2="19.7043" y2="6.30979" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint6_linear" x1="37.559" y1="36.1428" x2="20.0435" y2="6.95027" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint7_linear" x1="42.3736" y1="13.7395" x2="13.5182" y2="29.6465" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint8_linear" x1="10.9497" y1="36.7491" x2="52.6709" y2="30.1697" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint9_linear" x1="10.5751" y1="31.9048" x2="50.7265" y2="29.5005" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.453125" stop-color="white" stop-opacity="0.32"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>
<p><b>Разделение</b> — если первые две полученные карты имеют одинаковое значение (например, два короля или две 10),
    есть возможность разделить их на две «руки», каждая из которых будет иметь сумму ставки, равную исходной ставке.
    Если вы разделите руку, то в первой руке сдается вторая карта, и игрок может остановиться или взять одну
    или несколько карт, чтобы увеличить ценность карт. Как только игрок решает, что в первой руке достаточно карт,
    во второй раздается вторая карта. В этом случае игрок также решает взять другую карту или «достаточно».
    Исключение составляют разделенные тузы. Когда игрок делится парой тузов, каждая разделенная рука получает
    только одну дополнительную карту, не имея возможности изменить ее или взять другую карту.
    Если после разделения тузов на две «руки», одному из них игрок получает 10 очков, то эта комбинация будет считаться
    не «Блэкджеком», а просто 21 очком. Игрок не может повторно «разбивать» уже разделенные карты.
</p>
<div class="display-flex-center-column">
    <div class="svg">
        <svg width="45" height="59" viewBox="0 0 45 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.02539 47.5977L4.42969 53.4629C3.96875 54.502 3.52344 55.209 3.09375 55.584C2.66406 55.959 2.19531 56.1465 1.6875 56.1465C1.26953 56.1465 0.919922 56.0859 0.638672 55.9648V54.9688C0.974609 55.168 1.29883 55.2676 1.61133 55.2676C1.92773 55.2676 2.21875 55.1465 2.48438 54.9043C2.75 54.6582 3.03711 54.2266 3.3457 53.6094L0.498047 47.5977H1.61719L3.63281 52.0859C3.66797 52.1602 3.74023 52.3418 3.84961 52.6309H3.86133C3.87305 52.5957 3.95312 52.4062 4.10156 52.0625L5.9707 47.5977H7.02539ZM13.1602 58.1855H12.3457V56H7.88086V58.1855H7.06055V55.1855H7.59375C8.61719 53.709 9.13672 51.9805 9.15234 50H12.2695V55.1855H13.1602V58.1855ZM11.3086 55.1855V50.8145H9.97852C9.87305 52.4316 9.41797 53.8887 8.61328 55.1855H11.3086ZM14.4902 56V50H17.1035C17.6934 50 18.1582 50.1309 18.498 50.3926C18.8418 50.6543 19.0137 51.0117 19.0137 51.4648C19.0137 52.2422 18.6309 52.7148 17.8652 52.8828C18.7832 53 19.2422 53.4629 19.2422 54.2715C19.2422 54.7598 19.0527 55.1699 18.6738 55.502C18.2988 55.834 17.832 56 17.2734 56H14.4902ZM15.4512 50.8203V52.5078H16.8926C17.666 52.5078 18.0527 52.207 18.0527 51.6055C18.0527 51.082 17.7051 50.8203 17.0098 50.8203H15.4512ZM15.4512 53.3281V55.1797H17.1152C17.8926 55.1797 18.2812 54.8652 18.2812 54.2363C18.2812 53.6309 17.8457 53.3281 16.9746 53.3281H15.4512ZM23.3613 56.1406C22.4746 56.1406 21.7656 55.8613 21.2344 55.3027C20.707 54.7402 20.4434 53.9961 20.4434 53.0703C20.4434 52.0625 20.7188 51.2754 21.2695 50.709C21.8203 50.1426 22.5645 49.8594 23.502 49.8594C24.3965 49.8594 25.0938 50.1348 25.5938 50.6855C26.0977 51.2363 26.3496 52 26.3496 52.9766C26.3496 53.9336 26.0781 54.7012 25.5352 55.2793C24.9961 55.8535 24.2715 56.1406 23.3613 56.1406ZM23.4316 50.668C22.8145 50.668 22.3262 50.8789 21.9668 51.3008C21.6074 51.7188 21.4277 52.2969 21.4277 53.0352C21.4277 53.7461 21.6094 54.3066 21.9727 54.7168C22.3359 55.127 22.8223 55.332 23.4316 55.332C24.0527 55.332 24.5293 55.1309 24.8613 54.7285C25.1973 54.3262 25.3652 53.7539 25.3652 53.0117C25.3652 52.2617 25.1973 51.6836 24.8613 51.2773C24.5293 50.8711 24.0527 50.668 23.4316 50.668ZM32.9121 56H32.0449V51.2129C31.959 51.3809 31.8281 51.6172 31.6523 51.9219L28.8809 56H27.8848V50H28.7637V54.7285C28.8105 54.6152 28.9121 54.4219 29.0684 54.1484L31.916 50H32.9121V56ZM38.625 50.8203H36.8262V56H35.8652V50.8203H34.0605V50H38.625V50.8203ZM39.7793 56V50H40.7402V52.3027H42.3574C42.9707 52.3027 43.457 52.4629 43.8164 52.7832C44.1797 53.1035 44.3613 53.5508 44.3613 54.125C44.3613 54.7031 44.1797 55.1602 43.8164 55.4961C43.4531 55.832 42.9941 56 42.4395 56H39.7793ZM40.7402 53.1289V55.1797H42.1816C42.9785 55.1797 43.377 54.8281 43.377 54.125C43.377 53.4609 42.9746 53.1289 42.1699 53.1289H40.7402Z" fill="#F3F3F3"/>
            <path d="M44 22C44 34.1503 34.1503 44 22 44C9.84974 44 0 34.1503 0 22C0 9.84974 9.84974 0 22 0C34.1503 0 44 9.84974 44 22Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 42C33.0457 42 42 33.0457 42 22C42 10.9543 33.0457 2 22 2C10.9543 2 2 10.9543 2 22C2 33.0457 10.9543 42 22 42ZM22 41.7619C32.9142 41.7619 41.7619 32.9142 41.7619 22C41.7619 11.0858 32.9142 2.2381 22 2.2381C11.0858 2.2381 2.2381 11.0858 2.2381 22C2.2381 32.9142 11.0858 41.7619 22 41.7619Z" fill="url(#paint1_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7379C31.7963 39.7379 39.7379 31.7963 39.7379 21.9998C39.7379 12.2033 31.7963 4.26172 21.9998 4.26172C12.2033 4.26172 4.26172 12.2033 4.26172 21.9998C4.26172 31.7963 12.2033 39.7379 21.9998 39.7379ZM21.9995 38.3688C31.0399 38.3688 38.3686 31.0401 38.3686 21.9998C38.3686 12.9594 31.0399 5.63071 21.9995 5.63071C12.9592 5.63071 5.63049 12.9594 5.63049 21.9998C5.63049 31.0401 12.9592 38.3688 21.9995 38.3688Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7379C31.7963 39.7379 39.7379 31.7963 39.7379 21.9998C39.7379 12.2033 31.7963 4.26172 21.9998 4.26172C12.2033 4.26172 4.26172 12.2033 4.26172 21.9998C4.26172 31.7963 12.2033 39.7379 21.9998 39.7379ZM21.9995 38.3688C31.0399 38.3688 38.3686 31.0401 38.3686 21.9998C38.3686 12.9594 31.0399 5.63071 21.9995 5.63071C12.9592 5.63071 5.63049 12.9594 5.63049 21.9998C5.63049 31.0401 12.9592 38.3688 21.9995 38.3688Z" fill="url(#paint2_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 41.7621C32.9144 41.7621 41.7621 32.9144 41.7621 22.0002C41.7621 11.086 32.9144 2.23828 22.0002 2.23828C11.086 2.23828 2.23828 11.086 2.23828 22.0002C2.23828 32.9144 11.086 41.7621 22.0002 41.7621ZM21.9998 39.4131C31.6167 39.4131 39.4127 31.6171 39.4127 22.0003C39.4127 12.3834 31.6167 4.58744 21.9998 4.58744C12.383 4.58744 4.58696 12.3834 4.58696 22.0003C4.58696 31.6171 12.383 39.4131 21.9998 39.4131Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 41.7621C32.9144 41.7621 41.7621 32.9144 41.7621 22.0002C41.7621 11.086 32.9144 2.23828 22.0002 2.23828C11.086 2.23828 2.23828 11.086 2.23828 22.0002C2.23828 32.9144 11.086 41.7621 22.0002 41.7621ZM21.9998 39.4131C31.6167 39.4131 39.4127 31.6171 39.4127 22.0003C39.4127 12.3834 31.6167 4.58744 21.9998 4.58744C12.383 4.58744 4.58696 12.3834 4.58696 22.0003C4.58696 31.6171 12.383 39.4131 21.9998 39.4131Z" fill="url(#paint3_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7379C31.7963 39.7379 39.7379 31.7963 39.7379 21.9998C39.7379 12.2033 31.7963 4.26172 21.9998 4.26172C12.2033 4.26172 4.26172 12.2033 4.26172 21.9998C4.26172 31.7963 12.2033 39.7379 21.9998 39.7379ZM22 39.4998C31.665 39.4998 39.5 31.6647 39.5 21.9998C39.5 12.3348 31.665 4.49976 22 4.49976C12.335 4.49976 4.5 12.3348 4.5 21.9998C4.5 31.6647 12.335 39.4998 22 39.4998Z" fill="url(#paint4_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 39.5C31.665 39.5 39.5 31.665 39.5 22C39.5 12.335 31.665 4.5 22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5ZM22 39.3214C31.5664 39.3214 39.3214 31.5664 39.3214 22C39.3214 12.4336 31.5664 4.67857 22 4.67857C12.4336 4.67857 4.67857 12.4336 4.67857 22C4.67857 31.5664 12.4336 39.3214 22 39.3214Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 39.5C31.665 39.5 39.5 31.665 39.5 22C39.5 12.335 31.665 4.5 22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5ZM22 39.3214C31.5664 39.3214 39.3214 31.5664 39.3214 22C39.3214 12.4336 31.5664 4.67857 22 4.67857C12.4336 4.67857 4.67857 12.4336 4.67857 22C4.67857 31.5664 12.4336 39.3214 22 39.3214Z" fill="url(#paint5_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 38.7858C31.2711 38.7858 38.7863 31.2706 38.7863 22.0001C38.7863 12.7296 31.2711 5.21436 22.0006 5.21436C12.7301 5.21436 5.21484 12.7296 5.21484 22.0001C5.21484 31.2706 12.7301 38.7858 22.0006 38.7858ZM22.0005 38.6071C31.1724 38.6071 38.6076 31.1719 38.6076 22C38.6076 12.8281 31.1724 5.39286 22.0005 5.39286C12.8286 5.39286 5.39335 12.8281 5.39335 22C5.39335 31.1719 12.8286 38.6071 22.0005 38.6071Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 38.7858C31.2711 38.7858 38.7863 31.2706 38.7863 22.0001C38.7863 12.7296 31.2711 5.21436 22.0006 5.21436C12.7301 5.21436 5.21484 12.7296 5.21484 22.0001C5.21484 31.2706 12.7301 38.7858 22.0006 38.7858ZM22.0005 38.6071C31.1724 38.6071 38.6076 31.1719 38.6076 22C38.6076 12.8281 31.1724 5.39286 22.0005 5.39286C12.8286 5.39286 5.39335 12.8281 5.39335 22C5.39335 31.1719 12.8286 38.6071 22.0005 38.6071Z" fill="url(#paint6_linear)"/>
            <circle cx="21.9651" cy="21.9622" r="16.5217" fill="#2B2431"/>
            <circle cx="21.9651" cy="21.9622" r="16.5217" fill="url(#paint7_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 38.6074C31.1716 38.6074 38.6069 31.1721 38.6069 22.0002C38.6069 12.8283 31.1716 5.39307 21.9997 5.39307C12.8278 5.39307 5.39258 12.8283 5.39258 22.0002C5.39258 31.1721 12.8278 38.6074 21.9997 38.6074ZM21.999 38.3693C31.0394 38.3693 38.3681 31.0406 38.3681 22.0002C38.3681 12.9599 31.0394 5.6312 21.999 5.6312C12.9587 5.6312 5.63 12.9599 5.63 22.0002C5.63 31.0406 12.9587 38.3693 21.999 38.3693Z" fill="url(#paint8_linear)"/>
            <mask id="path-11-outside-1" maskUnits="userSpaceOnUse" x="9.57812" y="12.4287" width="24" height="17" fill="black">
                <rect fill="white" x="9.57812" y="12.4287" width="24" height="17"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M32.4533 26.2879C32.4533 26.0118 32.2295 25.7879 31.9533 25.7879H26.672C26.3959 25.7879 26.1733 25.5543 26.3034 25.3107C26.3268 25.2668 26.3535 25.2224 26.3832 25.1778C26.5162 24.9666 26.704 24.7476 26.9386 24.5207C27.1733 24.3017 27.4471 24.067 27.7521 23.8402C28.0572 23.6133 28.3779 23.3787 28.7065 23.144C29.1993 22.8076 29.6686 22.4634 30.1223 22.0958C30.576 21.7282 30.9749 21.337 31.3269 20.899C31.6711 20.4688 31.9527 19.9838 32.1639 19.4597C32.3751 18.9356 32.4768 18.3255 32.4768 17.6449C32.4768 17.0035 32.3673 16.4246 32.1483 15.9006C31.9292 15.3765 31.6163 14.9384 31.2018 14.5708C30.795 14.2031 30.2866 13.9215 29.6921 13.726C29.0976 13.5304 28.4249 13.4287 27.6739 13.4287C26.143 13.4287 24.7714 13.7957 23.5395 14.5363C23.3943 14.6236 23.3091 14.7825 23.3091 14.952V16.449C23.3091 16.8773 23.8224 17.1172 24.1835 16.8868C25.0812 16.3139 26.0101 16.0257 26.9699 16.0257C27.7052 16.0257 28.2528 16.1822 28.6126 16.5107C28.9724 16.8392 29.1523 17.3164 29.1523 17.95C29.1523 18.2707 29.0976 18.5758 28.9881 18.8652C28.8785 19.1468 28.7143 19.4284 28.4874 19.71C28.2606 19.9916 27.9868 20.2732 27.6583 20.5548C27.3297 20.8442 26.9464 21.1337 26.5162 21.4465C26.1016 21.736 25.6636 22.0723 25.2099 22.44C24.7484 22.8154 24.326 23.2379 23.9427 23.715C23.5594 24.1922 23.2387 24.7319 22.9805 25.3342C22.7224 25.9365 22.5973 26.6171 22.5973 27.3758V27.9944C22.5973 28.2706 22.8211 28.4944 23.0973 28.4944H31.9533C32.2295 28.4944 32.4533 28.2706 32.4533 27.9944V26.2879ZM18.3382 23.312C18.231 23.1435 18.2344 22.9273 18.3468 22.7622L21.1182 18.6921C21.3442 18.3602 21.1065 17.9107 20.7049 17.9107H18.394C18.2078 17.9107 18.0371 18.0141 17.9508 18.1791L16.5501 20.8597C16.3735 21.2052 16.227 21.5357 16.1107 21.8511C16.1068 21.8617 16.0967 21.8687 16.0854 21.8687V21.8687C16.0734 21.8687 16.0629 21.8608 16.0595 21.8493C15.9802 21.5794 15.8413 21.2572 15.6427 20.8753L14.2721 18.1838C14.1868 18.0162 14.0146 17.9107 13.8266 17.9107H11.2622C10.8684 17.9107 10.6292 18.3448 10.8395 18.6777L13.5358 22.9453C13.642 23.1133 13.6385 23.3284 13.5269 23.4929L10.6651 27.7136C10.44 28.0456 10.6779 28.4942 11.079 28.4942H13.5907C13.7753 28.4942 13.9448 28.3925 14.0318 28.2297L15.4315 25.6078C15.6083 25.285 15.7473 24.9773 15.8486 24.6921C15.8518 24.683 15.8604 24.6769 15.8701 24.6769V24.6769C15.8792 24.6769 15.8876 24.6825 15.8911 24.691C16.0607 25.0988 16.2074 25.4148 16.3311 25.6391L17.7228 28.2308C17.8099 28.393 17.9792 28.4942 18.1633 28.4942H20.724C21.1185 28.4942 21.3576 28.0587 21.1459 27.7259L18.3382 23.312Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.4533 26.2879C32.4533 26.0118 32.2295 25.7879 31.9533 25.7879H26.672C26.3959 25.7879 26.1733 25.5543 26.3034 25.3107C26.3268 25.2668 26.3535 25.2224 26.3832 25.1778C26.5162 24.9666 26.704 24.7476 26.9386 24.5207C27.1733 24.3017 27.4471 24.067 27.7521 23.8402C28.0572 23.6133 28.3779 23.3787 28.7065 23.144C29.1993 22.8076 29.6686 22.4634 30.1223 22.0958C30.576 21.7282 30.9749 21.337 31.3269 20.899C31.6711 20.4688 31.9527 19.9838 32.1639 19.4597C32.3751 18.9356 32.4768 18.3255 32.4768 17.6449C32.4768 17.0035 32.3673 16.4246 32.1483 15.9006C31.9292 15.3765 31.6163 14.9384 31.2018 14.5708C30.795 14.2031 30.2866 13.9215 29.6921 13.726C29.0976 13.5304 28.4249 13.4287 27.6739 13.4287C26.143 13.4287 24.7714 13.7957 23.5395 14.5363C23.3943 14.6236 23.3091 14.7825 23.3091 14.952V16.449C23.3091 16.8773 23.8224 17.1172 24.1835 16.8868C25.0812 16.3139 26.0101 16.0257 26.9699 16.0257C27.7052 16.0257 28.2528 16.1822 28.6126 16.5107C28.9724 16.8392 29.1523 17.3164 29.1523 17.95C29.1523 18.2707 29.0976 18.5758 28.9881 18.8652C28.8785 19.1468 28.7143 19.4284 28.4874 19.71C28.2606 19.9916 27.9868 20.2732 27.6583 20.5548C27.3297 20.8442 26.9464 21.1337 26.5162 21.4465C26.1016 21.736 25.6636 22.0723 25.2099 22.44C24.7484 22.8154 24.326 23.2379 23.9427 23.715C23.5594 24.1922 23.2387 24.7319 22.9805 25.3342C22.7224 25.9365 22.5973 26.6171 22.5973 27.3758V27.9944C22.5973 28.2706 22.8211 28.4944 23.0973 28.4944H31.9533C32.2295 28.4944 32.4533 28.2706 32.4533 27.9944V26.2879ZM18.3382 23.312C18.231 23.1435 18.2344 22.9273 18.3468 22.7622L21.1182 18.6921C21.3442 18.3602 21.1065 17.9107 20.7049 17.9107H18.394C18.2078 17.9107 18.0371 18.0141 17.9508 18.1791L16.5501 20.8597C16.3735 21.2052 16.227 21.5357 16.1107 21.8511C16.1068 21.8617 16.0967 21.8687 16.0854 21.8687V21.8687C16.0734 21.8687 16.0629 21.8608 16.0595 21.8493C15.9802 21.5794 15.8413 21.2572 15.6427 20.8753L14.2721 18.1838C14.1868 18.0162 14.0146 17.9107 13.8266 17.9107H11.2622C10.8684 17.9107 10.6292 18.3448 10.8395 18.6777L13.5358 22.9453C13.642 23.1133 13.6385 23.3284 13.5269 23.4929L10.6651 27.7136C10.44 28.0456 10.6779 28.4942 11.079 28.4942H13.5907C13.7753 28.4942 13.9448 28.3925 14.0318 28.2297L15.4315 25.6078C15.6083 25.285 15.7473 24.9773 15.8486 24.6921C15.8518 24.683 15.8604 24.6769 15.8701 24.6769V24.6769C15.8792 24.6769 15.8876 24.6825 15.8911 24.691C16.0607 25.0988 16.2074 25.4148 16.3311 25.6391L17.7228 28.2308C17.8099 28.393 17.9792 28.4942 18.1633 28.4942H20.724C21.1185 28.4942 21.3576 28.0587 21.1459 27.7259L18.3382 23.312Z" fill="white"/>
            <path d="M26.3832 25.1778L26.7994 25.4552L26.8064 25.4442L26.3832 25.1778ZM26.9386 24.5207L26.5974 24.1551L26.5911 24.1612L26.9386 24.5207ZM27.7521 23.8402L28.0505 24.2414L28.0505 24.2414L27.7521 23.8402ZM28.7065 23.144L28.4245 22.7309L28.4158 22.7371L28.7065 23.144ZM31.3269 20.899L31.7167 21.2122L31.7174 21.2113L31.3269 20.899ZM32.1639 19.4597L32.6277 19.6466L32.6277 19.6466L32.1639 19.4597ZM32.1483 15.9006L31.6869 16.0933L31.6869 16.0933L32.1483 15.9006ZM31.2018 14.5708L30.8665 14.9417L30.87 14.9449L31.2018 14.5708ZM29.6921 13.726L29.5358 14.2009L29.5358 14.2009L29.6921 13.726ZM28.9881 18.8652L29.4541 19.0464L29.4557 19.0421L28.9881 18.8652ZM28.4874 19.71L28.0981 19.3963L28.0981 19.3963L28.4874 19.71ZM27.6583 20.5548L27.3328 20.1751L27.3278 20.1796L27.6583 20.5548ZM26.5162 21.4465L26.8025 21.8566L26.8103 21.8509L26.5162 21.4465ZM25.2099 22.44L24.8951 22.0515L24.8944 22.0521L25.2099 22.44ZM23.9427 23.715L23.5529 23.4019L23.5529 23.4019L23.9427 23.715ZM22.9805 25.3342L22.521 25.1373L22.521 25.1373L22.9805 25.3342ZM16.5501 20.8597L16.107 20.6281L16.1049 20.6321L16.5501 20.8597ZM15.6427 20.8753L15.1972 21.1022L15.1991 21.106L15.6427 20.8753ZM15.4315 25.6078L14.993 25.3676L14.9905 25.3723L15.4315 25.6078ZM16.3311 25.6391L16.7716 25.4025L16.7689 25.3975L16.3311 25.6391ZM15.8911 24.691L16.3527 24.499L15.8911 24.691ZM15.8486 24.6921L15.3774 24.5248L15.8486 24.6921ZM14.0318 28.2297L14.4728 28.4652L14.0318 28.2297ZM14.2721 18.1838L13.8266 18.4107L14.2721 18.1838ZM17.9508 18.1791L18.394 18.4107L17.9508 18.1791ZM18.3468 22.7622L18.7601 23.0436L18.3468 22.7622ZM23.5395 14.5363L23.7971 14.9649L23.7971 14.9649L23.5395 14.5363ZM16.0595 21.8493L16.5392 21.7084L16.0595 21.8493ZM13.5358 22.9453L13.1131 23.2123L13.5358 22.9453ZM24.1835 16.8868L23.9145 16.4653L24.1835 16.8868ZM16.1107 21.8511L16.5799 22.0241L16.1107 21.8511ZM21.1459 27.7259L20.724 27.9942L21.1459 27.7259ZM26.3034 25.3107L25.8623 25.0752L26.3034 25.3107ZM26.672 26.2879H31.9533V25.2879H26.672V26.2879ZM25.9672 24.9004C25.9291 24.9576 25.894 25.0158 25.8623 25.0752L26.7444 25.5463C26.7597 25.5177 26.7778 25.4873 26.7993 25.4551L25.9672 24.9004ZM26.5911 24.1612C26.3388 24.4051 26.1214 24.6552 25.9601 24.9114L26.8064 25.4442C26.911 25.278 27.0691 25.09 27.2861 24.8802L26.5911 24.1612ZM27.4538 23.4389C27.1315 23.6786 26.8434 23.9256 26.5975 24.1552L27.2798 24.8862C27.5031 24.6778 27.7627 24.4554 28.0505 24.2414L27.4538 23.4389ZM28.4158 22.7371C28.0843 22.9739 27.761 23.2105 27.4538 23.4389L28.0505 24.2414C28.3534 24.0161 28.6716 23.7834 28.9971 23.5509L28.4158 22.7371ZM29.8075 21.7073C29.3663 22.0648 28.9083 22.4009 28.4246 22.731L28.9883 23.557C29.4902 23.2144 29.9709 22.8621 30.4371 22.4843L29.8075 21.7073ZM30.9372 20.5858C30.6102 20.9926 30.2373 21.359 29.8075 21.7073L30.4371 22.4843C30.9146 22.0973 31.3396 21.6814 31.7167 21.2122L30.9372 20.5858ZM31.7001 19.2728C31.5066 19.7532 31.2493 20.1957 30.9365 20.5866L31.7174 21.2113C32.0929 20.7419 32.3989 20.2144 32.6277 19.6466L31.7001 19.2728ZM31.9768 17.6449C31.9768 18.2774 31.8821 18.8213 31.7001 19.2728L32.6277 19.6466C32.8681 19.0499 32.9768 18.3736 32.9768 17.6449H31.9768ZM31.6869 16.0933C31.8775 16.5493 31.9768 17.0616 31.9768 17.6449H32.9768C32.9768 16.9454 32.8571 16.3 32.6096 15.7078L31.6869 16.0933ZM30.87 14.9449C31.2275 15.2619 31.4965 15.6377 31.6869 16.0933L32.6096 15.7078C32.362 15.1153 32.0052 14.615 31.5335 14.1967L30.87 14.9449ZM29.5358 14.2009C30.0757 14.3785 30.5199 14.6284 30.8665 14.9417L31.537 14.1998C31.0701 13.7778 30.4974 13.4645 29.8483 13.251L29.5358 14.2009ZM27.6739 13.9287C28.38 13.9287 28.999 14.0243 29.5358 14.2009L29.8483 13.251C29.1962 13.0365 28.4697 12.9287 27.6739 12.9287V13.9287ZM23.7971 14.9649C24.946 14.2742 26.2275 13.9287 27.6739 13.9287V12.9287C26.0586 12.9287 24.5968 13.3173 23.2819 14.1078L23.7971 14.9649ZM23.8091 16.449V14.952H22.8091V16.449H23.8091ZM26.9699 15.5257C25.904 15.5257 24.883 15.8472 23.9145 16.4653L24.4524 17.3083C25.2795 16.7805 26.1162 16.5257 26.9699 16.5257V15.5257ZM28.9497 16.1414C28.4578 15.6923 27.7625 15.5257 26.9699 15.5257V16.5257C27.6479 16.5257 28.0477 16.672 28.2755 16.8799L28.9497 16.1414ZM29.6523 17.95C29.6523 17.2194 29.4416 16.5906 28.9497 16.1414L28.2755 16.8799C28.5032 17.0879 28.6523 17.4133 28.6523 17.95H29.6523ZM29.4557 19.0421C29.5874 18.6941 29.6523 18.3289 29.6523 17.95H28.6523C28.6523 18.2125 28.6078 18.4574 28.5204 18.6882L29.4557 19.0421ZM28.8768 20.0237C29.132 19.7068 29.3239 19.3812 29.4541 19.0464L28.5221 18.684C28.4332 18.9124 28.2965 19.15 28.0981 19.3963L28.8768 20.0237ZM27.9837 20.9344C28.333 20.635 28.6288 20.3316 28.8768 20.0237L28.0981 19.3963C27.8924 19.6516 27.6406 19.9114 27.3329 20.1752L27.9837 20.9344ZM26.8103 21.8509C27.2426 21.5365 27.6417 21.2357 27.9888 20.93L27.3278 20.1796C27.0177 20.4527 26.6503 20.7308 26.2221 21.0422L26.8103 21.8509ZM25.5247 22.8284C25.9726 22.4655 26.4007 22.137 26.8024 21.8565L26.23 21.0366C25.8026 21.335 25.3546 21.6791 24.8951 22.0515L25.5247 22.8284ZM24.3325 24.0281C24.6934 23.5788 25.0908 23.1814 25.5254 22.8278L24.8944 22.0521C24.4059 22.4495 23.9586 22.8969 23.5529 23.4019L24.3325 24.0281ZM23.4401 25.5312C23.6816 24.9676 23.9796 24.4675 24.3325 24.0281L23.5529 23.4019C23.1392 23.9168 22.7957 24.4962 22.521 25.1373L23.4401 25.5312ZM23.0973 27.3758C23.0973 26.6722 23.2132 26.0606 23.4401 25.5312L22.521 25.1373C22.2316 25.8125 22.0973 26.562 22.0973 27.3758H23.0973ZM23.0973 27.9944V27.3758H22.0973V27.9944H23.0973ZM31.9533 27.9944H23.0973V28.9944H31.9533V27.9944ZM31.9533 26.2879V27.9944H32.9533V26.2879H31.9533ZM20.7049 18.4107L17.9335 22.4808L18.7601 23.0436L21.5315 18.9735L20.7049 18.4107ZM18.394 18.4107H20.7049V17.4107H18.394V18.4107ZM16.9933 21.0912L18.394 18.4107L17.5077 17.9475L16.107 20.6281L16.9933 21.0912ZM16.5799 22.0241C16.6883 21.7299 16.8264 21.4177 16.9953 21.0872L16.1049 20.6321C15.9206 20.9927 15.7658 21.3415 15.6416 21.6781L16.5799 22.0241ZM15.1991 21.106C15.3905 21.474 15.5134 21.7641 15.5798 21.9902L16.5392 21.7084C16.4471 21.3948 16.2921 21.0404 16.0864 20.6446L15.1991 21.106ZM13.8266 18.4107L15.1972 21.1022L16.0883 20.6484L14.7177 17.9569L13.8266 18.4107ZM11.2622 18.4107H13.8266V17.4107H11.2622V18.4107ZM13.9585 22.6782L11.2622 18.4107L10.4168 18.9448L13.1131 23.2123L13.9585 22.6782ZM11.079 27.9942L13.9408 23.7735L13.1131 23.2123L10.2513 27.433L11.079 27.9942ZM13.5907 27.9942H11.079V28.9942H13.5907V27.9942ZM14.9905 25.3723L13.5907 27.9942L14.4728 28.4652L15.8726 25.8433L14.9905 25.3723ZM15.3774 24.5248C15.2863 24.7815 15.1588 25.0649 14.993 25.3676L15.8701 25.8479C16.0578 25.5051 16.2084 25.1731 16.3198 24.8594L15.3774 24.5248ZM16.7689 25.3975C16.6581 25.1967 16.5196 24.9001 16.3527 24.499L15.4294 24.883C15.6018 25.2975 15.7566 25.6329 15.8933 25.8806L16.7689 25.3975ZM18.1633 27.9942L16.7716 25.4025L15.8906 25.8756L17.2823 28.4673L18.1633 27.9942ZM20.724 27.9942H18.1633V28.9942H20.724V27.9942ZM17.9163 23.5803L20.724 27.9942L21.5677 27.4575L18.7601 23.0436L17.9163 23.5803ZM17.2823 28.4673C17.4565 28.7918 17.795 28.9942 18.1633 28.9942V27.9942L18.1633 27.9942L17.2823 28.4673ZM15.8701 25.1769C15.6754 25.1769 15.5028 25.0593 15.4294 24.883L16.3527 24.499C16.2724 24.3057 16.083 24.1769 15.8701 24.1769V25.1769ZM16.3198 24.8594C16.2523 25.0495 16.0724 25.1769 15.8701 25.1769V24.1769C15.6484 24.1769 15.4513 24.3166 15.3774 24.5248L16.3198 24.8594ZM13.5907 28.9942C13.9599 28.9942 14.299 28.7908 14.4728 28.4652L13.5907 27.9942L13.5907 27.9942V28.9942ZM10.2513 27.433C9.80107 28.097 10.2767 28.9942 11.079 28.9942V27.9942L11.079 27.9942L10.2513 27.433ZM14.7177 17.9569C14.547 17.6217 14.2027 17.4107 13.8266 17.4107V18.4107L13.8266 18.4107L14.7177 17.9569ZM18.394 17.4107C18.0216 17.4107 17.6801 17.6175 17.5077 17.9475L18.394 18.4107L18.394 18.4107V17.4107ZM17.9335 22.4808C17.7086 22.811 17.7019 23.2433 17.9163 23.5803L18.7601 23.0436L18.7601 23.0436L17.9335 22.4808ZM21.5315 18.9735C21.9835 18.3096 21.508 17.4107 20.7049 17.4107V18.4107L20.7049 18.4107L21.5315 18.9735ZM31.9533 28.9944C32.5056 28.9944 32.9533 28.5467 32.9533 27.9944H31.9533L31.9533 27.9944V28.9944ZM22.0973 27.9944C22.0973 28.5467 22.545 28.9944 23.0973 28.9944V27.9944L23.0973 27.9944H22.0973ZM11.2622 17.4107C10.4746 17.4107 9.99612 18.2789 10.4168 18.9448L11.2622 18.4107L11.2622 18.4107V17.4107ZM23.2819 14.1078C22.9783 14.2903 22.8091 14.6166 22.8091 14.952H23.8091C23.8091 14.951 23.8094 14.9518 23.8081 14.9541C23.8066 14.9568 23.8031 14.9613 23.7971 14.9649L23.2819 14.1078ZM16.0854 21.3687C16.2966 21.3687 16.4805 21.5083 16.5392 21.7084L15.5798 21.9902C15.6453 22.2133 15.8502 22.3687 16.0854 22.3687V21.3687ZM31.9533 26.2879L31.9533 26.2879H32.9533C32.9533 25.7356 32.5056 25.2879 31.9533 25.2879V26.2879ZM13.1131 23.2123L13.1131 23.2123L13.9408 23.7735C14.1639 23.4444 14.1709 23.0144 13.9585 22.6782L13.1131 23.2123ZM22.8091 16.449C22.8091 16.8836 23.0744 17.2094 23.3914 17.3642C23.7044 17.5171 24.1097 17.527 24.4524 17.3083L23.9145 16.4653C23.8961 16.4771 23.8643 16.4823 23.8303 16.4657C23.8153 16.4584 23.8094 16.4509 23.8085 16.4495C23.8082 16.4491 23.8086 16.4496 23.809 16.4509C23.8095 16.4523 23.8091 16.4521 23.8091 16.449H22.8091ZM15.6416 21.6781C15.71 21.4925 15.887 21.3687 16.0854 21.3687V22.3687C16.3065 22.3687 16.5036 22.2309 16.5799 22.0241L15.6416 21.6781ZM20.724 28.9942C21.513 28.9942 21.9912 28.1232 21.5677 27.4575L20.724 27.9942L20.724 27.9942V28.9942ZM26.672 25.2879C26.6731 25.2879 26.6768 25.2881 26.6832 25.2909C26.689 25.2935 26.7033 25.3012 26.7197 25.3209C26.7369 25.3415 26.7574 25.3773 26.7635 25.4271C26.77 25.4796 26.7572 25.5223 26.7444 25.5463L25.8623 25.0752C25.6938 25.3906 25.7577 25.728 25.951 25.9604C26.1287 26.1741 26.3998 26.2879 26.672 26.2879V25.2879Z" fill="url(#paint9_linear)" mask="url(#path-11-outside-1)"/>
            <defs>
                <linearGradient id="paint0_linear" x1="22" y1="0" x2="22" y2="44" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="white"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="1.46667" y1="39.7627" x2="51.7115" y2="31.8391" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint2_linear" x1="37.4691" y1="13.172" x2="6.48929" y2="30.2501" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0B080F"/>
                    <stop offset="0.526042" stop-color="#2E213C"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint3_linear" x1="39.2344" y1="12.1652" x2="4.72001" y2="31.1918" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint4_linear" x1="3.7887" y1="37.7536" x2="48.3511" y2="30.7262" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint5_linear" x1="31.9652" y1="36.7448" x2="13.7043" y2="6.31004" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint6_linear" x1="31.559" y1="36.1431" x2="14.0435" y2="6.95052" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint7_linear" x1="36.3736" y1="13.7397" x2="7.51818" y2="29.6467" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint8_linear" x1="4.94972" y1="36.7496" x2="46.6709" y2="30.1702" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint9_linear" x1="6.11728" y1="29.3314" x2="41.6141" y2="27.1069" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.453125" stop-color="white" stop-opacity="0.32"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>
<p><b>Удвоение</b> — когда игрок получает первые две карты и считает, что третья карта может принести победу,
    можно удвоить ставку. В этом случае ставка удваивается, и игрок получает одну дополнительную карту.
    За исключением разделения тузов (это связано с тем, что разделенные тузы могут получить только вторую
    дополнительную карту).
</p>
<div class="display-flex-center-column">
    <div class="svg">
        <svg width="94" height="44" viewBox="0 0 94 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="94" height="44" rx="22" fill="url(#paint0_linear_insurance)" fill-opacity="0.24"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 2C10.9543 2 2 10.9543 2 22C2 33.0457 10.9543 42 22 42H72C83.0457 42 92 33.0457 92 22C92 10.9543 83.0457 2 72 2H22ZM22 2.2381C11.0858 2.2381 2.2381 11.0858 2.2381 22C2.2381 32.9142 11.0858 41.7619 22 41.7619H71.9962C82.9104 41.7619 91.7581 32.9142 91.7581 22C91.7581 11.0858 82.9104 2.2381 71.9962 2.2381H22Z" fill="url(#paint1_linear_insurance)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H72C81.665 39.5 89.5 31.665 89.5 22C89.5 12.335 81.665 4.5 72 4.5H22ZM22 5.39286C12.8281 5.39286 5.39286 12.8281 5.39286 22C5.39286 31.1719 12.8281 38.6071 22 38.6071H71.9957C81.1676 38.6071 88.6029 31.1719 88.6029 22C88.6029 12.8281 81.1676 5.39286 71.9957 5.39286H22Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H72C81.665 39.5 89.5 31.665 89.5 22C89.5 12.335 81.665 4.5 72 4.5H22ZM22 5.39286C12.8281 5.39286 5.39286 12.8281 5.39286 22C5.39286 31.1719 12.8281 38.6071 22 38.6071H71.9957C81.1676 38.6071 88.6029 31.1719 88.6029 22C88.6029 12.8281 81.1676 5.39286 71.9957 5.39286H22Z" fill="url(#paint2_linear_insurance)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23828C11.086 2.23828 2.23828 11.086 2.23828 22.0002C2.23828 32.9144 11.086 41.7621 22.0002 41.7621H71.9964C82.9106 41.7621 91.7583 32.9144 91.7583 22.0002C91.7583 11.086 82.9106 2.23828 71.9964 2.23828H22.0002ZM22.0002 4.26215C12.2038 4.26215 4.26215 12.2038 4.26215 22.0002C4.26215 31.7967 12.2038 39.7383 22.0003 39.7383H72.0041C81.8005 39.7383 89.7421 31.7967 89.7421 22.0002C89.7421 12.2038 81.8005 4.26215 72.0041 4.26215H22.0002Z" fill="#4CFF9F"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23828C11.086 2.23828 2.23828 11.086 2.23828 22.0002C2.23828 32.9144 11.086 41.7621 22.0002 41.7621H71.9964C82.9106 41.7621 91.7583 32.9144 91.7583 22.0002C91.7583 11.086 82.9106 2.23828 71.9964 2.23828H22.0002ZM22.0002 4.26215C12.2038 4.26215 4.26215 12.2038 4.26215 22.0002C4.26215 31.7967 12.2038 39.7383 22.0003 39.7383H72.0041C81.8005 39.7383 89.7421 31.7967 89.7421 22.0002C89.7421 12.2038 81.8005 4.26215 72.0041 4.26215H22.0002Z" fill="url(#paint3_linear_insurance)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21436C12.7301 5.21436 5.21484 12.7296 5.21484 22.0001C5.21484 31.2706 12.73 38.7858 22.0005 38.7858H71.9991C81.2696 38.7858 88.7848 31.2706 88.7848 22.0001C88.7848 12.7296 81.2696 5.21436 71.9991 5.21436H22.0006ZM22.0006 5.39286C12.8287 5.39286 5.39347 12.8281 5.39347 22C5.39347 31.1719 12.8288 38.6071 22.0006 38.6071H71.9963C81.1682 38.6071 88.6035 31.1719 88.6035 22C88.6035 12.8281 81.1682 5.39286 71.9963 5.39286H22.0006Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21436C12.7301 5.21436 5.21484 12.7296 5.21484 22.0001C5.21484 31.2706 12.73 38.7858 22.0005 38.7858H71.9991C81.2696 38.7858 88.7848 31.2706 88.7848 22.0001C88.7848 12.7296 81.2696 5.21436 71.9991 5.21436H22.0006ZM22.0006 5.39286C12.8287 5.39286 5.39347 12.8281 5.39347 22C5.39347 31.1719 12.8288 38.6071 22.0006 38.6071H71.9963C81.1682 38.6071 88.6035 31.1719 88.6035 22C88.6035 12.8281 81.1682 5.39286 71.9963 5.39286H22.0006Z" fill="url(#paint4_linear_insurance)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H72C81.665 39.5 89.5 31.665 89.5 22C89.5 12.335 81.665 4.5 72 4.5H22ZM22 4.67857C12.4336 4.67857 4.67857 12.4336 4.67857 22C4.67857 31.5664 12.4337 39.3214 22 39.3214H71.9971C81.5635 39.3214 89.3186 31.5664 89.3186 22C89.3186 12.4336 81.5635 4.67857 71.9971 4.67857H22Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H72C81.665 39.5 89.5 31.665 89.5 22C89.5 12.335 81.665 4.5 72 4.5H22ZM22 4.67857C12.4336 4.67857 4.67857 12.4336 4.67857 22C4.67857 31.5664 12.4337 39.3214 22 39.3214H71.9971C81.5635 39.3214 89.3186 31.5664 89.3186 22C89.3186 12.4336 81.5635 4.67857 71.9971 4.67857H22Z" fill="url(#paint5_linear_insurance)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 4.26172C12.2033 4.26172 4.26172 12.2033 4.26172 21.9998C4.26172 31.7963 12.2033 39.7379 21.9998 39.7379H72.0036C81.8001 39.7379 89.7417 31.7963 89.7417 21.9998C89.7417 12.2033 81.8001 4.26172 72.0036 4.26172H21.9998ZM21.9998 4.49976C12.3348 4.49976 4.49976 12.3348 4.49976 21.9998C4.49976 31.6647 12.3348 39.4998 21.9998 39.4998H71.9998C81.6647 39.4998 89.4998 31.6647 89.4998 21.9998C89.4998 12.3348 81.6647 4.49976 71.9998 4.49976H21.9998Z" fill="url(#paint6_linear_insurance)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 5.39307C12.8279 5.39307 5.39258 12.8283 5.39258 22.0002C5.39258 31.1721 12.8279 38.6074 21.9997 38.6074H71.9954C81.1673 38.6074 88.6026 31.1721 88.6026 22.0002C88.6026 12.8283 81.1673 5.39307 71.9954 5.39307H21.9997ZM21.9998 5.6312C12.9594 5.6312 5.63071 12.9599 5.63071 22.0002C5.63071 31.0406 12.9594 38.3693 21.9998 38.3693H72.0017C81.042 38.3693 88.3707 31.0406 88.3707 22.0002C88.3707 12.9599 81.042 5.6312 72.0017 5.6312H21.9998Z" fill="url(#paint7_linear_insurance)"/>
            <rect x="5.63086" y="5.63086" width="82.74" height="32.7381" rx="16.369" fill="#4CFF9F"/>
            <rect x="5.63086" y="5.63086" width="82.74" height="32.7381" rx="16.369" fill="url(#paint8_linear_insurance)"/>
            <path d="M25.5781 25.6484C24.957 25.9766 24.1836 26.1406 23.2578 26.1406C22.0625 26.1406 21.1055 25.7559 20.3867 24.9863C19.668 24.2168 19.3086 23.207 19.3086 21.957C19.3086 20.6133 19.7129 19.5273 20.5215 18.6992C21.3301 17.8711 22.3555 17.457 23.5977 17.457C24.3945 17.457 25.0547 17.5723 25.5781 17.8027V18.8516C24.9766 18.5156 24.3125 18.3477 23.5859 18.3477C22.6211 18.3477 21.8379 18.6699 21.2363 19.3145C20.6387 19.959 20.3398 20.8203 20.3398 21.8984C20.3398 22.9219 20.6191 23.7383 21.1777 24.3477C21.7402 24.9531 22.4766 25.2559 23.3867 25.2559C24.2305 25.2559 24.9609 25.0684 25.5781 24.6934V25.6484ZM30.9277 20.8203H29.1289V26H28.168V20.8203H26.3633V20H30.9277V20.8203ZM33.0664 25.1328H33.043V28.7598H32.082V20H33.043V21.0547H33.0664C33.5391 20.2578 34.2305 19.8594 35.1406 19.8594C35.9141 19.8594 36.5176 20.1289 36.9512 20.668C37.3848 21.2031 37.6016 21.9219 37.6016 22.8242C37.6016 23.8281 37.3574 24.6328 36.8691 25.2383C36.3809 25.8398 35.7129 26.1406 34.8652 26.1406C34.0879 26.1406 33.4883 25.8047 33.0664 25.1328ZM33.043 22.7129V23.5508C33.043 24.0469 33.2031 24.4688 33.5234 24.8164C33.8477 25.1602 34.2578 25.332 34.7539 25.332C35.3359 25.332 35.791 25.1094 36.1191 24.6641C36.4512 24.2188 36.6172 23.5996 36.6172 22.8066C36.6172 22.1387 36.4629 21.6152 36.1543 21.2363C35.8457 20.8574 35.4277 20.668 34.9004 20.668C34.3418 20.668 33.8926 20.8633 33.5527 21.2539C33.2129 21.6406 33.043 22.127 33.043 22.7129ZM43.4316 26H42.4707V25.0625H42.4473C42.0293 25.7812 41.4141 26.1406 40.6016 26.1406C40.0039 26.1406 39.5352 25.9824 39.1953 25.666C38.8594 25.3496 38.6914 24.9297 38.6914 24.4062C38.6914 23.2852 39.3516 22.6328 40.6719 22.4492L42.4707 22.1973C42.4707 21.1777 42.0586 20.668 41.2344 20.668C40.5117 20.668 39.8594 20.9141 39.2773 21.4062V20.4219C39.8672 20.0469 40.5469 19.8594 41.3164 19.8594C42.7266 19.8594 43.4316 20.6055 43.4316 22.0977V26ZM42.4707 22.9648L41.0234 23.1641C40.5781 23.2266 40.2422 23.3379 40.0156 23.498C39.7891 23.6543 39.6758 23.9336 39.6758 24.3359C39.6758 24.6289 39.7793 24.8691 39.9863 25.0566C40.1973 25.2402 40.4766 25.332 40.8242 25.332C41.3008 25.332 41.6934 25.166 42.002 24.834C42.3145 24.498 42.4707 24.0742 42.4707 23.5625V22.9648ZM49.625 20L47.6094 23.0352L49.5898 26H48.4707L47.293 24.0547C47.2188 23.9336 47.1309 23.7812 47.0293 23.5977H47.0059C46.9863 23.6328 46.8945 23.7852 46.7305 24.0547L45.5293 26H44.4219L46.4668 23.0586L44.5098 20H45.6289L46.7891 22.0508C46.875 22.2031 46.959 22.3594 47.041 22.5195H47.0645L48.5645 20H49.625ZM53.2578 26.1406C52.3711 26.1406 51.6621 25.8613 51.1309 25.3027C50.6035 24.7402 50.3398 23.9961 50.3398 23.0703C50.3398 22.0625 50.6152 21.2754 51.166 20.709C51.7168 20.1426 52.4609 19.8594 53.3984 19.8594C54.293 19.8594 54.9902 20.1348 55.4902 20.6855C55.9941 21.2363 56.2461 22 56.2461 22.9766C56.2461 23.9336 55.9746 24.7012 55.4316 25.2793C54.8926 25.8535 54.168 26.1406 53.2578 26.1406ZM53.3281 20.668C52.7109 20.668 52.2227 20.8789 51.8633 21.3008C51.5039 21.7188 51.3242 22.2969 51.3242 23.0352C51.3242 23.7461 51.5059 24.3066 51.8691 24.7168C52.2324 25.127 52.7188 25.332 53.3281 25.332C53.9492 25.332 54.4258 25.1309 54.7578 24.7285C55.0938 24.3262 55.2617 23.7539 55.2617 23.0117C55.2617 22.2617 55.0938 21.6836 54.7578 21.2773C54.4258 20.8711 53.9492 20.668 53.3281 20.668ZM57.7812 26V20H60.3945C60.9844 20 61.4492 20.1309 61.7891 20.3926C62.1328 20.6543 62.3047 21.0117 62.3047 21.4648C62.3047 22.2422 61.9219 22.7148 61.1562 22.8828C62.0742 23 62.5332 23.4629 62.5332 24.2715C62.5332 24.7598 62.3438 25.1699 61.9648 25.502C61.5898 25.834 61.123 26 60.5645 26H57.7812ZM58.7422 20.8203V22.5078H60.1836C60.957 22.5078 61.3438 22.207 61.3438 21.6055C61.3438 21.082 60.9961 20.8203 60.3008 20.8203H58.7422ZM58.7422 23.3281V25.1797H60.4062C61.1836 25.1797 61.5723 24.8652 61.5723 24.2363C61.5723 23.6309 61.1367 23.3281 60.2656 23.3281H58.7422ZM69.125 26H67.7773L65.1289 23.1172H65.1055V26H64.1445V20H65.1055V22.748H65.1289L67.6484 20H68.9082L66.125 22.8945L69.125 26ZM74.4043 26H73.4434V25.0625H73.4199C73.002 25.7812 72.3867 26.1406 71.5742 26.1406C70.9766 26.1406 70.5078 25.9824 70.168 25.666C69.832 25.3496 69.6641 24.9297 69.6641 24.4062C69.6641 23.2852 70.3242 22.6328 71.6445 22.4492L73.4434 22.1973C73.4434 21.1777 73.0312 20.668 72.207 20.668C71.4844 20.668 70.832 20.9141 70.25 21.4062V20.4219C70.8398 20.0469 71.5195 19.8594 72.2891 19.8594C73.6992 19.8594 74.4043 20.6055 74.4043 22.0977V26ZM73.4434 22.9648L71.9961 23.1641C71.5508 23.2266 71.2148 23.3379 70.9883 23.498C70.7617 23.6543 70.6484 23.9336 70.6484 24.3359C70.6484 24.6289 70.752 24.8691 70.959 25.0566C71.1699 25.2402 71.4492 25.332 71.7969 25.332C72.2734 25.332 72.666 25.166 72.9746 24.834C73.2871 24.498 73.4434 24.0742 73.4434 23.5625V22.9648Z" fill="white"/>
            <defs>
                <linearGradient id="paint0_linear_insurance" x1="31.5" y1="-9.18165e-07" x2="75.5" y2="44" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="white"/>
                </linearGradient>
                <linearGradient id="paint1_linear_insurance" x1="0.800001" y1="39.7627" x2="103.706" y2="3.24914" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint2_linear_insurance" x1="84.064" y1="13.2907" x2="49.4036" y2="59.6935" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0B080F"/>
                    <stop offset="0.526042" stop-color="#2E213C"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint3_linear_insurance" x1="86.0332" y1="12.1652" x2="46.2009" y2="61.8996" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint4_linear_insurance" x1="70.7939" y1="36.1431" x2="61.7499" y2="-1.37895" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint5_linear_insurance" x1="71.2012" y1="36.7448" x2="61.5633" y2="-2.26537" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint6_linear_insurance" x1="3.12199" y1="37.7536" x2="99.2817" y2="1.21521" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint7_linear_insurance" x1="4.28311" y1="36.7496" x2="96.9417" y2="0.142493" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint8_linear_insurance" x1="83.0793" y1="13.8535" x2="51.0468" y2="58.4821" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>
<p><b>Страхование</b> — если открытая карта дилера - туз, игрок может купить страховку, равную половине суммы
    начальной ставки. Если у дилера есть «Блэкджек», то страховка будет выплачена с коэффициентом 2 к 1.
    Если у дилера нет «Блэкджека», игрок теряет сумму страховки.
</p>

<h2>Платежи</h2>
<p>Для «Блэкджека», где две карты общей ценностью 21 (если они не получены из-за сплита),
    клиенту выплачивается ставка с коэффициентом 3 к 2. Но только если у дилера нет «Блэк Джек».
    Если и у игрока, и у дилера выпал «Блэкджек», сумма ставки возвращается клиенту.
</p>
<p>«Блэкджек» выигрывает любые три или более карт со значением 21. Все остальные выигрышные ставки оплачиваются
    с коэффициентом 1 к 1. В случае ничьей ставка не проигрывает и не выигрывает.
    Ставка проигрывает в случае превышения, то есть, когда общая ценность карт превышает 21.
</p>
<div class="display-flex-center-column">
    <div class="svg">
        <svg width="54" height="58" viewBox="0 0 54 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.498 54.6484C11.877 54.9766 11.1035 55.1406 10.1777 55.1406C8.98242 55.1406 8.02539 54.7559 7.30664 53.9863C6.58789 53.2168 6.22852 52.207 6.22852 50.957C6.22852 49.6133 6.63281 48.5273 7.44141 47.6992C8.25 46.8711 9.27539 46.457 10.5176 46.457C11.3145 46.457 11.9746 46.5723 12.498 46.8027V47.8516C11.8965 47.5156 11.2324 47.3477 10.5059 47.3477C9.54102 47.3477 8.75781 47.6699 8.15625 48.3145C7.55859 48.959 7.25977 49.8203 7.25977 50.8984C7.25977 51.9219 7.53906 52.7383 8.09766 53.3477C8.66016 53.9531 9.39648 54.2559 10.3066 54.2559C11.1504 54.2559 11.8809 54.0684 12.498 53.6934V54.6484ZM19.3125 57.1855H18.498V55H14.0332V57.1855H13.2129V54.1855H13.7461C14.7695 52.709 15.2891 50.9805 15.3047 49H18.4219V54.1855H19.3125V57.1855ZM17.4609 54.1855V49.8145H16.1309C16.0254 51.4316 15.5703 52.8887 14.7656 54.1855H17.4609ZM24.9375 55H23.9766V54.0625H23.9531C23.5352 54.7812 22.9199 55.1406 22.1074 55.1406C21.5098 55.1406 21.041 54.9824 20.7012 54.666C20.3652 54.3496 20.1973 53.9297 20.1973 53.4062C20.1973 52.2852 20.8574 51.6328 22.1777 51.4492L23.9766 51.1973C23.9766 50.1777 23.5645 49.668 22.7402 49.668C22.0176 49.668 21.3652 49.9141 20.7832 50.4062V49.4219C21.373 49.0469 22.0527 48.8594 22.8223 48.8594C24.2324 48.8594 24.9375 49.6055 24.9375 51.0977V55ZM23.9766 51.9648L22.5293 52.1641C22.084 52.2266 21.748 52.3379 21.5215 52.498C21.2949 52.6543 21.1816 52.9336 21.1816 53.3359C21.1816 53.6289 21.2852 53.8691 21.4922 54.0566C21.7031 54.2402 21.9824 54.332 22.3301 54.332C22.8066 54.332 23.1992 54.166 23.5078 53.834C23.8203 53.498 23.9766 53.0742 23.9766 52.5625V51.9648ZM30.5156 49.8203H28.7168V55H27.7559V49.8203H25.9512V49H30.5156V49.8203ZM31.6699 55V49H32.6309V51.3027H34.248C34.8613 51.3027 35.3477 51.4629 35.707 51.7832C36.0703 52.1035 36.252 52.5508 36.252 53.125C36.252 53.7031 36.0703 54.1602 35.707 54.4961C35.3438 54.832 34.8848 55 34.3301 55H31.6699ZM32.6309 52.1289V54.1797H34.0723C34.8691 54.1797 35.2676 53.8281 35.2676 53.125C35.2676 52.4609 34.8652 52.1289 34.0605 52.1289H32.6309ZM41.8066 54.7246C41.3457 55.002 40.7988 55.1406 40.166 55.1406C39.3105 55.1406 38.6191 54.8633 38.0918 54.3086C37.5684 53.75 37.3066 53.0273 37.3066 52.1406C37.3066 51.1523 37.5898 50.3594 38.1562 49.7617C38.7227 49.1602 39.4785 48.8594 40.4238 48.8594C40.9512 48.8594 41.416 48.957 41.8184 49.1523V50.1367C41.373 49.8242 40.8965 49.668 40.3887 49.668C39.7754 49.668 39.2715 49.8887 38.877 50.3301C38.4863 50.7676 38.291 51.3438 38.291 52.0586C38.291 52.7617 38.4746 53.3164 38.8418 53.7227C39.2129 54.1289 39.709 54.332 40.3301 54.332C40.8535 54.332 41.3457 54.1582 41.8066 53.8105V54.7246ZM47.3613 55H46.4004V52.5156H45.5977C45.2109 52.5156 44.8594 52.8281 44.543 53.4531L43.7637 55H42.6504L43.6582 53.1484C43.8926 52.7188 44.1758 52.4355 44.5078 52.2988C44.0391 52.2363 43.6816 52.0645 43.4355 51.7832C43.1895 51.502 43.0664 51.1504 43.0664 50.7285C43.0664 50.1973 43.2578 49.7773 43.6406 49.4688C44.0273 49.1562 44.5684 49 45.2637 49H47.3613V55ZM46.4004 51.7129V49.8203H45.2637C44.4551 49.8203 44.0508 50.127 44.0508 50.7402C44.0508 51.3887 44.4434 51.7129 45.2285 51.7129H46.4004Z" fill="#F3F3F3"/>
            <path d="M48.582 22C48.582 34.1503 38.7323 44 26.582 44C14.4318 44 4.58203 34.1503 4.58203 22C4.58203 9.84974 14.4318 0 26.582 0C38.7323 0 48.582 9.84974 48.582 22Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.582 42C37.6277 42 46.582 33.0457 46.582 22C46.582 10.9543 37.6277 2 26.582 2C15.5363 2 6.58203 10.9543 6.58203 22C6.58203 33.0457 15.5363 42 26.582 42ZM26.582 41.7619C37.4962 41.7619 46.3439 32.9142 46.3439 22C46.3439 11.0858 37.4962 2.2381 26.582 2.2381C15.6678 2.2381 6.82013 11.0858 6.82013 22C6.82013 32.9142 15.6678 41.7619 26.582 41.7619Z" fill="url(#paint1_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 39.7379C36.3783 39.7379 44.3199 31.7963 44.3199 21.9998C44.3199 12.2033 36.3783 4.26172 26.5818 4.26172C16.7854 4.26172 8.84375 12.2033 8.84375 21.9998C8.84375 31.7963 16.7854 39.7379 26.5818 39.7379ZM26.5816 38.3688C35.6219 38.3688 42.9506 31.0401 42.9506 21.9998C42.9506 12.9594 35.6219 5.63071 26.5816 5.63071C17.5412 5.63071 10.2125 12.9594 10.2125 21.9998C10.2125 31.0401 17.5412 38.3688 26.5816 38.3688Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 39.7379C36.3783 39.7379 44.3199 31.7963 44.3199 21.9998C44.3199 12.2033 36.3783 4.26172 26.5818 4.26172C16.7854 4.26172 8.84375 12.2033 8.84375 21.9998C8.84375 31.7963 16.7854 39.7379 26.5818 39.7379ZM26.5816 38.3688C35.6219 38.3688 42.9506 31.0401 42.9506 21.9998C42.9506 12.9594 35.6219 5.63071 26.5816 5.63071C17.5412 5.63071 10.2125 12.9594 10.2125 21.9998C10.2125 31.0401 17.5412 38.3688 26.5816 38.3688Z" fill="url(#paint2_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5822 41.7621C37.4964 41.7621 46.3441 32.9144 46.3441 22.0002C46.3441 11.086 37.4964 2.23828 26.5822 2.23828C15.668 2.23828 6.82031 11.086 6.82031 22.0002C6.82031 32.9144 15.668 41.7621 26.5822 41.7621ZM26.5818 39.4131C36.1987 39.4131 43.9947 31.6171 43.9947 22.0003C43.9947 12.3834 36.1987 4.58744 26.5818 4.58744C16.965 4.58744 9.16899 12.3834 9.16899 22.0003C9.16899 31.6171 16.965 39.4131 26.5818 39.4131Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5822 41.7621C37.4964 41.7621 46.3441 32.9144 46.3441 22.0002C46.3441 11.086 37.4964 2.23828 26.5822 2.23828C15.668 2.23828 6.82031 11.086 6.82031 22.0002C6.82031 32.9144 15.668 41.7621 26.5822 41.7621ZM26.5818 39.4131C36.1987 39.4131 43.9947 31.6171 43.9947 22.0003C43.9947 12.3834 36.1987 4.58744 26.5818 4.58744C16.965 4.58744 9.16899 12.3834 9.16899 22.0003C9.16899 31.6171 16.965 39.4131 26.5818 39.4131Z" fill="url(#paint3_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 39.7379C36.3783 39.7379 44.3199 31.7963 44.3199 21.9998C44.3199 12.2033 36.3783 4.26172 26.5818 4.26172C16.7854 4.26172 8.84375 12.2033 8.84375 21.9998C8.84375 31.7963 16.7854 39.7379 26.5818 39.7379ZM26.582 39.4998C36.247 39.4998 44.082 31.6647 44.082 21.9998C44.082 12.3348 36.247 4.49976 26.582 4.49976C16.917 4.49976 9.08203 12.3348 9.08203 21.9998C9.08203 31.6647 16.917 39.4998 26.582 39.4998Z" fill="url(#paint4_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.582 39.5C36.247 39.5 44.082 31.665 44.082 22C44.082 12.335 36.247 4.5 26.582 4.5C16.917 4.5 9.08203 12.335 9.08203 22C9.08203 31.665 16.917 39.5 26.582 39.5ZM26.582 39.3214C36.1484 39.3214 43.9035 31.5664 43.9035 22C43.9035 12.4336 36.1484 4.67857 26.582 4.67857C17.0157 4.67857 9.2606 12.4336 9.2606 22C9.2606 31.5664 17.0157 39.3214 26.582 39.3214Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.582 39.5C36.247 39.5 44.082 31.665 44.082 22C44.082 12.335 36.247 4.5 26.582 4.5C16.917 4.5 9.08203 12.335 9.08203 22C9.08203 31.665 16.917 39.5 26.582 39.5ZM26.582 39.3214C36.1484 39.3214 43.9035 31.5664 43.9035 22C43.9035 12.4336 36.1484 4.67857 26.582 4.67857C17.0157 4.67857 9.2606 12.4336 9.2606 22C9.2606 31.5664 17.0157 39.3214 26.582 39.3214Z" fill="url(#paint5_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5826 38.7858C35.8531 38.7858 43.3683 31.2706 43.3683 22.0001C43.3683 12.7296 35.8531 5.21436 26.5826 5.21436C17.3121 5.21436 9.79688 12.7296 9.79688 22.0001C9.79688 31.2706 17.3121 38.7858 26.5826 38.7858ZM26.5825 38.6071C35.7544 38.6071 43.1897 31.1719 43.1897 22C43.1897 12.8281 35.7544 5.39286 26.5825 5.39286C17.4106 5.39286 9.97538 12.8281 9.97538 22C9.97538 31.1719 17.4106 38.6071 26.5825 38.6071Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5826 38.7858C35.8531 38.7858 43.3683 31.2706 43.3683 22.0001C43.3683 12.7296 35.8531 5.21436 26.5826 5.21436C17.3121 5.21436 9.79688 12.7296 9.79688 22.0001C9.79688 31.2706 17.3121 38.7858 26.5826 38.7858ZM26.5825 38.6071C35.7544 38.6071 43.1897 31.1719 43.1897 22C43.1897 12.8281 35.7544 5.39286 26.5825 5.39286C17.4106 5.39286 9.97538 12.8281 9.97538 22C9.97538 31.1719 17.4106 38.6071 26.5825 38.6071Z" fill="url(#paint6_linear)"/>
            <circle cx="26.5471" cy="21.9622" r="16.5217" fill="#2B2431"/>
            <circle cx="26.5471" cy="21.9622" r="16.5217" fill="url(#paint7_linear)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 38.6074C35.7536 38.6074 43.1889 31.1721 43.1889 22.0002C43.1889 12.8283 35.7536 5.39307 26.5818 5.39307C17.4099 5.39307 9.97461 12.8283 9.97461 22.0002C9.97461 31.1721 17.4099 38.6074 26.5818 38.6074ZM26.5811 38.3693C35.6215 38.3693 42.9501 31.0406 42.9501 22.0002C42.9501 12.9599 35.6215 5.6312 26.5811 5.6312C17.5407 5.6312 10.212 12.9599 10.212 22.0002C10.212 31.0406 17.5407 38.3693 26.5811 38.3693Z" fill="url(#paint8_linear)"/>
            <path d="M28.8861 14.275L28.6175 12.8383C28.5512 12.4833 28.2414 12.2261 27.8803 12.2261H18.5098C18.0956 12.2261 17.7598 12.5619 17.7598 12.9761V31.0237C17.7598 31.4379 18.0956 31.7737 18.5098 31.7737H19.759C20.1732 31.7737 20.509 31.4379 20.509 31.0237V24.2C20.509 24.0619 20.6209 23.95 20.759 23.95H26.2746C26.3942 23.95 26.4971 24.0347 26.5199 24.1521L26.7919 25.547C26.8606 25.8993 27.1692 26.1535 27.528 26.1535H34.6526C35.0668 26.1535 35.4026 25.8177 35.4026 25.4035V15.2291C35.4026 14.8149 35.0668 14.4791 34.6526 14.4791H29.1319C29.0115 14.4791 28.9082 14.3934 28.8861 14.275Z" fill="white" stroke="url(#paint9_linear)" stroke-width="0.5"/>
            <defs>
                <linearGradient id="paint0_linear" x1="26.582" y1="0" x2="26.582" y2="44" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="white"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="6.0487" y1="39.7627" x2="56.2935" y2="31.8391" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint2_linear" x1="42.0511" y1="13.172" x2="11.0713" y2="30.2501" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0B080F"/>
                    <stop offset="0.526042" stop-color="#2E213C"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint3_linear" x1="43.8164" y1="12.1652" x2="9.30204" y2="31.1918" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint4_linear" x1="8.37073" y1="37.7536" x2="52.9331" y2="30.7262" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint5_linear" x1="36.5472" y1="36.7448" x2="18.2863" y2="6.31004" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint6_linear" x1="36.141" y1="36.1431" x2="18.6255" y2="6.95052" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint7_linear" x1="40.9556" y1="13.7397" x2="12.1002" y2="29.6467" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint8_linear" x1="9.53175" y1="36.7496" x2="51.2529" y2="30.1702" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint9_linear" x1="14.5177" y1="32.5819" x2="42.3727" y2="31.5011" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.453125" stop-color="white" stop-opacity="0.32"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
            </defs>
        </svg>

    </div>
</div>
<p><b>Сдаться</b> — Если игрок не уверен, что его карты могут выиграть,
    он может забрать половину своей ставки без возможности продолжить игру с этой рукой.
</p>
<div class="display-flex-center-column">
    <div class="svg">
        <svg width="100" height="44" viewBox="0 0 100 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="100" height="44" rx="22" fill="url(#paint0_linear_evenMoney)" fill-opacity="0.24"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 2C10.9543 2 2 10.9543 2 22C2 33.0457 10.9543 42 22 42H78C89.0457 42 98 33.0457 98 22C98 10.9543 89.0457 2 78 2H22ZM22 2.2381C11.0858 2.2381 2.2381 11.0858 2.2381 22C2.2381 32.9142 11.0858 41.7619 22 41.7619H77.9962C88.9104 41.7619 97.7581 32.9142 97.7581 22C97.7581 11.0858 88.9104 2.2381 77.9962 2.2381H22Z" fill="url(#paint1_linear_evenMoney)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H78C87.665 39.5 95.5 31.665 95.5 22C95.5 12.335 87.665 4.5 78 4.5H22ZM22 5.39286C12.8281 5.39286 5.39286 12.8281 5.39286 22C5.39286 31.1719 12.8281 38.6071 22 38.6071H77.9957C87.1676 38.6071 94.6029 31.1719 94.6029 22C94.6029 12.8281 87.1676 5.39286 77.9957 5.39286H22Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H78C87.665 39.5 95.5 31.665 95.5 22C95.5 12.335 87.665 4.5 78 4.5H22ZM22 5.39286C12.8281 5.39286 5.39286 12.8281 5.39286 22C5.39286 31.1719 12.8281 38.6071 22 38.6071H77.9957C87.1676 38.6071 94.6029 31.1719 94.6029 22C94.6029 12.8281 87.1676 5.39286 77.9957 5.39286H22Z" fill="url(#paint2_linear_evenMoney)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23828C11.086 2.23828 2.23828 11.086 2.23828 22.0002C2.23828 32.9144 11.086 41.7621 22.0002 41.7621H77.9964C88.9106 41.7621 97.7583 32.9144 97.7583 22.0002C97.7583 11.086 88.9106 2.23828 77.9964 2.23828H22.0002ZM22.0002 4.26215C12.2038 4.26215 4.26215 12.2038 4.26215 22.0002C4.26215 31.7967 12.2038 39.7383 22.0003 39.7383H78.0041C87.8005 39.7383 95.7421 31.7967 95.7421 22.0002C95.7421 12.2038 87.8005 4.26215 78.0041 4.26215H22.0002Z" fill="#4CFF9F"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23828C11.086 2.23828 2.23828 11.086 2.23828 22.0002C2.23828 32.9144 11.086 41.7621 22.0002 41.7621H77.9964C88.9106 41.7621 97.7583 32.9144 97.7583 22.0002C97.7583 11.086 88.9106 2.23828 77.9964 2.23828H22.0002ZM22.0002 4.26215C12.2038 4.26215 4.26215 12.2038 4.26215 22.0002C4.26215 31.7967 12.2038 39.7383 22.0003 39.7383H78.0041C87.8005 39.7383 95.7421 31.7967 95.7421 22.0002C95.7421 12.2038 87.8005 4.26215 78.0041 4.26215H22.0002Z" fill="url(#paint3_linear_evenMoney)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21436C12.7301 5.21436 5.21484 12.7296 5.21484 22.0001C5.21484 31.2706 12.7301 38.7858 22.0005 38.7858H77.9991C87.2696 38.7858 94.7848 31.2706 94.7848 22.0001C94.7848 12.7296 87.2696 5.21436 77.9991 5.21436H22.0006ZM22.0006 5.39286C12.8287 5.39286 5.39347 12.8281 5.39347 22C5.39347 31.1719 12.8287 38.6071 22.0006 38.6071H77.9963C87.1682 38.6071 94.6035 31.1719 94.6035 22C94.6035 12.8281 87.1682 5.39286 77.9963 5.39286H22.0006Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21436C12.7301 5.21436 5.21484 12.7296 5.21484 22.0001C5.21484 31.2706 12.7301 38.7858 22.0005 38.7858H77.9991C87.2696 38.7858 94.7848 31.2706 94.7848 22.0001C94.7848 12.7296 87.2696 5.21436 77.9991 5.21436H22.0006ZM22.0006 5.39286C12.8287 5.39286 5.39347 12.8281 5.39347 22C5.39347 31.1719 12.8287 38.6071 22.0006 38.6071H77.9963C87.1682 38.6071 94.6035 31.1719 94.6035 22C94.6035 12.8281 87.1682 5.39286 77.9963 5.39286H22.0006Z" fill="url(#paint4_linear_evenMoney)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H78C87.665 39.5 95.5 31.665 95.5 22C95.5 12.335 87.665 4.5 78 4.5H22ZM22 4.67857C12.4336 4.67857 4.67857 12.4336 4.67857 22C4.67857 31.5664 12.4337 39.3214 22 39.3214H77.9971C87.5635 39.3214 95.3186 31.5664 95.3186 22C95.3186 12.4336 87.5635 4.67857 77.9971 4.67857H22Z" fill="#2B2431"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.5C12.335 4.5 4.5 12.335 4.5 22C4.5 31.665 12.335 39.5 22 39.5H78C87.665 39.5 95.5 31.665 95.5 22C95.5 12.335 87.665 4.5 78 4.5H22ZM22 4.67857C12.4336 4.67857 4.67857 12.4336 4.67857 22C4.67857 31.5664 12.4337 39.3214 22 39.3214H77.9971C87.5635 39.3214 95.3186 31.5664 95.3186 22C95.3186 12.4336 87.5635 4.67857 77.9971 4.67857H22Z" fill="url(#paint5_linear_evenMoney)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 4.26172C12.2033 4.26172 4.26172 12.2033 4.26172 21.9998C4.26172 31.7963 12.2033 39.7379 21.9998 39.7379H78.0036C87.8001 39.7379 95.7417 31.7963 95.7417 21.9998C95.7417 12.2033 87.8001 4.26172 78.0036 4.26172H21.9998ZM21.9998 4.49976C12.3348 4.49976 4.49976 12.3348 4.49976 21.9998C4.49976 31.6647 12.3348 39.4998 21.9998 39.4998H77.9998C87.6647 39.4998 95.4998 31.6647 95.4998 21.9998C95.4998 12.3348 87.6647 4.49976 77.9998 4.49976H21.9998Z" fill="url(#paint6_linear_evenMoney)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 5.39307C12.8278 5.39307 5.39258 12.8283 5.39258 22.0002C5.39258 31.1721 12.8279 38.6074 21.9997 38.6074H77.9954C87.1673 38.6074 94.6026 31.1721 94.6026 22.0002C94.6026 12.8283 87.1673 5.39307 77.9954 5.39307H21.9997ZM21.9998 5.6312C12.9594 5.6312 5.63071 12.9599 5.63071 22.0002C5.63071 31.0406 12.9594 38.3693 21.9998 38.3693H78.0017C87.042 38.3693 94.3707 31.0406 94.3707 22.0002C94.3707 12.9599 87.042 5.6312 78.0017 5.6312H21.9998Z" fill="url(#paint7_linear_evenMoney)"/>
            <rect x="5.63086" y="5.63086" width="88.74" height="32.7381" rx="16.369" fill="#4CFF9F"/>
            <rect x="5.63086" y="5.63086" width="88.74" height="32.7381" rx="16.369" fill="url(#paint8_linear_evenMoney)"/>
            <path d="M11.2871 22.8242V26H10.3027V17.5977H12.6113C13.5098 17.5977 14.2051 17.8164 14.6973 18.2539C15.1934 18.6914 15.4414 19.3086 15.4414 20.1055C15.4414 20.9023 15.166 21.5547 14.6152 22.0625C14.0684 22.5703 13.3281 22.8242 12.3945 22.8242H11.2871ZM11.2871 18.4883V21.9336H12.3184C12.998 21.9336 13.5156 21.7793 13.8711 21.4707C14.2305 21.1582 14.4102 20.7188 14.4102 20.1523C14.4102 19.043 13.7539 18.4883 12.4414 18.4883H11.2871ZM21.1953 26H20.2344V25.0625H20.2109C19.793 25.7812 19.1777 26.1406 18.3652 26.1406C17.7676 26.1406 17.2988 25.9824 16.959 25.666C16.623 25.3496 16.4551 24.9297 16.4551 24.4062C16.4551 23.2852 17.1152 22.6328 18.4355 22.4492L20.2344 22.1973C20.2344 21.1777 19.8223 20.668 18.998 20.668C18.2754 20.668 17.623 20.9141 17.041 21.4062V20.4219C17.6309 20.0469 18.3105 19.8594 19.0801 19.8594C20.4902 19.8594 21.1953 20.6055 21.1953 22.0977V26ZM20.2344 22.9648L18.7871 23.1641C18.3418 23.2266 18.0059 23.3379 17.7793 23.498C17.5527 23.6543 17.4395 23.9336 17.4395 24.3359C17.4395 24.6289 17.543 24.8691 17.75 25.0566C17.9609 25.2402 18.2402 25.332 18.5879 25.332C19.0645 25.332 19.457 25.166 19.7656 24.834C20.0781 24.498 20.2344 24.0742 20.2344 23.5625V22.9648ZM23.0059 26V20H25.6191C26.209 20 26.6738 20.1309 27.0137 20.3926C27.3574 20.6543 27.5293 21.0117 27.5293 21.4648C27.5293 22.2422 27.1465 22.7148 26.3809 22.8828C27.2988 23 27.7578 23.4629 27.7578 24.2715C27.7578 24.7598 27.5684 25.1699 27.1895 25.502C26.8145 25.834 26.3477 26 25.7891 26H23.0059ZM23.9668 20.8203V22.5078H25.4082C26.1816 22.5078 26.5684 22.207 26.5684 21.6055C26.5684 21.082 26.2207 20.8203 25.5254 20.8203H23.9668ZM23.9668 23.3281V25.1797H25.6309C26.4082 25.1797 26.7969 24.8652 26.7969 24.2363C26.7969 23.6309 26.3613 23.3281 25.4902 23.3281H23.9668ZM34.3496 26H33.3887V23.2754H30.3301V26H29.3691V20H30.3301V22.4609H33.3887V20H34.3496V26ZM42.8574 26H41.9082V20H42.8574V26ZM36.2949 26V20H37.2559V22.3027H38.873C39.4863 22.3027 39.9727 22.4629 40.332 22.7832C40.6953 23.1035 40.877 23.5508 40.877 24.125C40.877 24.7031 40.6953 25.1602 40.332 25.4961C39.9688 25.832 39.5098 26 38.9551 26H36.2949ZM37.2559 23.1289V25.1797H38.6973C39.4941 25.1797 39.8926 24.8281 39.8926 24.125C39.8926 23.4609 39.4902 23.1289 38.6855 23.1289H37.2559ZM49.6367 23.2402H45.4004C45.416 23.9082 45.5957 24.4238 45.9395 24.7871C46.2832 25.1504 46.7559 25.332 47.3574 25.332C48.0332 25.332 48.6543 25.1094 49.2207 24.6641V25.5664C48.6934 25.9492 47.9961 26.1406 47.1289 26.1406C46.2812 26.1406 45.6152 25.8691 45.1309 25.3262C44.6465 24.7793 44.4043 24.0117 44.4043 23.0234C44.4043 22.0898 44.668 21.3301 45.1953 20.7441C45.7266 20.1543 46.3848 19.8594 47.1699 19.8594C47.9551 19.8594 48.5625 20.1133 48.9922 20.6211C49.4219 21.1289 49.6367 21.834 49.6367 22.7363V23.2402ZM48.6523 22.4258C48.6484 21.8711 48.5137 21.4395 48.248 21.1309C47.9863 20.8223 47.6211 20.668 47.1523 20.668C46.6992 20.668 46.3145 20.8301 45.998 21.1543C45.6816 21.4785 45.4863 21.9023 45.4121 22.4258H48.6523ZM59.6211 28.1855H58.8066V26H54.3418V28.1855H53.5215V25.1855H54.0547C55.0781 23.709 55.5977 21.9805 55.6133 20H58.7305V25.1855H59.6211V28.1855ZM57.7695 25.1855V20.8145H56.4395C56.334 22.4316 55.8789 23.8887 55.0742 25.1855H57.7695ZM65.7734 23.2402H61.5371C61.5527 23.9082 61.7324 24.4238 62.0762 24.7871C62.4199 25.1504 62.8926 25.332 63.4941 25.332C64.1699 25.332 64.791 25.1094 65.3574 24.6641V25.5664C64.8301 25.9492 64.1328 26.1406 63.2656 26.1406C62.418 26.1406 61.752 25.8691 61.2676 25.3262C60.7832 24.7793 60.541 24.0117 60.541 23.0234C60.541 22.0898 60.8047 21.3301 61.332 20.7441C61.8633 20.1543 62.5215 19.8594 63.3066 19.8594C64.0918 19.8594 64.6992 20.1133 65.1289 20.6211C65.5586 21.1289 65.7734 21.834 65.7734 22.7363V23.2402ZM64.7891 22.4258C64.7852 21.8711 64.6504 21.4395 64.3848 21.1309C64.123 20.8223 63.7578 20.668 63.2891 20.668C62.8359 20.668 62.4512 20.8301 62.1348 21.1543C61.8184 21.4785 61.623 21.9023 61.5488 22.4258H64.7891ZM72.2129 26H71.252V23.2754H68.1934V26H67.2324V20H68.1934V22.4609H71.252V20H72.2129V26ZM74.1582 26V20H75.1191V22.3027H76.7363C77.3496 22.3027 77.8359 22.4629 78.1953 22.7832C78.5586 23.1035 78.7402 23.5508 78.7402 24.125C78.7402 24.7031 78.5586 25.1602 78.1953 25.4961C77.832 25.832 77.373 26 76.8184 26H74.1582ZM75.1191 23.1289V25.1797H76.5605C77.3574 25.1797 77.7559 24.8281 77.7559 24.125C77.7559 23.4609 77.3535 23.1289 76.5488 23.1289H75.1191ZM83.5391 20.8203H81.166V26H80.2051V20H83.5391V20.8203ZM89.8262 26H88.959V21.2129C88.873 21.3809 88.7422 21.6172 88.5664 21.9219L85.7949 26H84.7988V20H85.6777V24.7285C85.7246 24.6152 85.8262 24.4219 85.9824 24.1484L88.8301 20H89.8262V26Z" fill="white"/>
            <defs>
                <linearGradient id="paint0_linear_evenMoney" x1="33.5106" y1="-9.18165e-07" x2="77.4265" y2="46.719" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="white"/>
                </linearGradient>
                <linearGradient id="paint1_linear_evenMoney" x1="0.800001" y1="39.7627" x2="103.706" y2="3.24914" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint2_linear_evenMoney" x1="84.064" y1="13.2907" x2="49.4036" y2="59.6935" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0B080F"/>
                    <stop offset="0.526042" stop-color="#2E213C"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint3_linear_evenMoney" x1="86.0332" y1="12.1652" x2="46.2009" y2="61.8996" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
                <linearGradient id="paint4_linear_evenMoney" x1="70.7939" y1="36.1431" x2="61.7499" y2="-1.37895" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint5_linear_evenMoney" x1="71.2012" y1="36.7448" x2="61.5633" y2="-2.26537" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#110C15"/>
                    <stop offset="0.526042" stop-color="#42354F"/>
                    <stop offset="1" stop-color="#110C15"/>
                </linearGradient>
                <linearGradient id="paint6_linear_evenMoney" x1="3.12199" y1="37.7536" x2="99.2817" y2="1.21521" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint7_linear_evenMoney" x1="4.28311" y1="36.7496" x2="96.9417" y2="0.142495" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0"/>
                    <stop offset="0.401391" stop-color="white"/>
                    <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint8_linear_evenMoney" x1="88.6956" y1="13.8535" x2="57.4404" y2="60.5568" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F1727"/>
                    <stop offset="0.526042" stop-color="#534462"/>
                    <stop offset="1" stop-color="#1F1727"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>
<p><b>Равные деньги</b> — Если у игрока уже есть «Блэкджек», а первая карта дилера - Туз,
    он имеет право принять сумму своей ставки (1 : 1) в качестве приза без возможности продолжить игру с этой рукой.
</p>

<h2>Правила того, как крупье должен улучшить свою руку</h2>
<p>Это зависит не от желания дилера, а от количества очков на его руке.
    Если у него 16 или меньше, он ДОЛЖЕН взять дополнительную карту и ДОЛЖЕН остановиться, если у него 17 или больше,
    даже если в руке игрока их больше.</p>
