<style type="text/css">
	h1 {
		font-size: 16pt;
		font-weight: bold;
	}

	h2 {
		font-size: 16pt;
		font-weight: 600;
	}

	.display-flex-center-column{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.svg{
		margin-bottom: 10px;
	}

</style>

<h1>Blackjack</h1>

<h2>Purpose of the game</h2>
<p>Purpose of the game <b>«Blackjack»</b> is to collect cards of a total value higher than
	the cards of the dealer, but not exceeding the amount of 21.</p>

<h2>Game</h2>
<p>The bets are placed in the form of a rectangle on the table for playing «Blackjack».
	Your bet must match the minimum and maximum limits, set for each table. Players
	need to place and confirm bets before the betting time is over. After this period of
	time the croupier announces: "The stakes are no longer accepted".</p>
<p>The first card is dealt from the left side of the dealer, a picture up for each player. The
	dealer is the last in the circle. The second card is distributed in the same way, picture
	up for each player; The dealer also gets a second card, however, but with a picture
	down. After all the initial cards are dealt, each player gets a chance to increase their
	cost.</p>
<p>The order of priority is the same as the order in which the cards were dealt. When your
	turn comes, you will have a choice — or "leave" the available number of cards, or take
	one or more cards, to increase the cost of cards. As soon as you make the move
	"enough cards", the move goes to the next player.</p>
<p>If the cost of cards exceeds the total amount of 21, this is called "bust". In this case,
	the bet loses. Otherwise, it remains unsettled. If the cost of the first two cards is 21,
	this combination is called "Blackjack". This combination doesn't allow to exchange
	cards. If "Blackjack" is in the player's possession, and the dealer doesn't have a
	"Blackjack" (that is, the dealer hasn't a ten or an ace), then this bet is paid with odds
	of 3 to 2 in favor to the player.</p>
<p>If there is a situation when the dealer also gets a "Blackjack", the result of the game is
	postponed until the dealer has finalized the value of the cards. After all the players
	took the cards, the dealer turns their second cards upside down, then decides to stop
	or take another card. If the cost of dealer cards exceeds 21, then there is a "bust", and
	all unsettled bets win. If the dealer "stops" without touching the cards, the value of
	each player's hand is compared with the value of the dealer's cards. If the value of the
	player's cards is closer to 21 than the dealer's value of cards, the player wins. If the
	value of dealer's cards is closer to 21, then the player loses respectively.</p>
<p>In the case of a draw between the player and the dealer, the player doesn't win or lose
	his bet. As soon as all bets have been settled, the croupier announces the beginning
	of the next period for placing bets.</p>

<h2>Cards Value</h2>
<p>The value of such cards as Ten, Jack, Queen and King is 10, while the value of Aces
	is 1 or 11. After the player has decided "enough cards", a hand that has one or more
	aces is considered as having the highest value, not exceeding 21.</p>

<h2>Player opportunities</h2>
<p>After the player are dealt the first two cards, each of them has the opportunity to
	increase the value of their cards. The players have the opportunity to change the
	range of their bets as follows:</p>
<div class="display-flex-center-column">
	<div class="svg">
		<svg width="44" height="59" viewBox="0 0 44 59" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0)">
				<path d="M11.0547 55.6594V54.4993C11.1875 54.6165 11.3457 54.7219 11.5293 54.8157C11.7168 54.9094 11.9121 54.9895 12.1152 55.0559C12.3223 55.1184 12.5293 55.1672 12.7363 55.2024C12.9434 55.2375 13.1348 55.2551 13.3105 55.2551C13.916 55.2551 14.3672 55.1438 14.6641 54.9211C14.9648 54.6946 15.1152 54.3704 15.1152 53.9485C15.1152 53.7219 15.0645 53.5247 14.9629 53.3567C14.8652 53.1887 14.7285 53.0364 14.5527 52.8997C14.377 52.759 14.168 52.6262 13.9258 52.5012C13.6875 52.3723 13.4297 52.2375 13.1523 52.0969C12.8594 51.9485 12.5859 51.7981 12.332 51.6458C12.0781 51.4934 11.8574 51.3254 11.6699 51.1418C11.4824 50.9583 11.334 50.7512 11.2246 50.5208C11.1191 50.2864 11.0664 50.0129 11.0664 49.7004C11.0664 49.3176 11.1504 48.9856 11.3184 48.7043C11.4863 48.4192 11.707 48.1848 11.9805 48.0012C12.2539 47.8176 12.5645 47.6809 12.9121 47.5911C13.2637 47.5012 13.6211 47.4563 13.9844 47.4563C14.8125 47.4563 15.416 47.5559 15.7949 47.7551V48.8625C15.2988 48.5188 14.6621 48.3469 13.8848 48.3469C13.6699 48.3469 13.4551 48.3704 13.2402 48.4172C13.0254 48.4602 12.834 48.5325 12.666 48.634C12.498 48.7356 12.3613 48.8665 12.2559 49.0266C12.1504 49.1868 12.0977 49.3821 12.0977 49.6125C12.0977 49.8274 12.1367 50.0129 12.2148 50.1692C12.2969 50.3254 12.416 50.468 12.5723 50.5969C12.7285 50.7258 12.918 50.8508 13.1406 50.9719C13.3672 51.093 13.627 51.2258 13.9199 51.3704C14.2207 51.5188 14.5059 51.675 14.7754 51.8391C15.0449 52.0032 15.2812 52.1848 15.4844 52.384C15.6875 52.5833 15.8477 52.804 15.9648 53.0461C16.0859 53.2883 16.1465 53.5657 16.1465 53.8782C16.1465 54.2922 16.0645 54.6438 15.9004 54.9329C15.7402 55.218 15.5215 55.4504 15.2441 55.6301C14.9707 55.8098 14.6543 55.9387 14.2949 56.0168C13.9355 56.0989 13.5566 56.1399 13.1582 56.1399C13.0254 56.1399 12.8613 56.1282 12.666 56.1047C12.4707 56.0852 12.2715 56.054 12.0684 56.011C11.8652 55.9719 11.6719 55.9231 11.4883 55.8645C11.3086 55.802 11.1641 55.7336 11.0547 55.6594Z" fill="#F3F3F3"/>
				<path d="M18.6777 55.1321H18.6543V58.759H17.6934V49.9993H18.6543V51.054H18.6777C19.1504 50.2571 19.8418 49.8586 20.752 49.8586C21.5254 49.8586 22.1289 50.1282 22.5625 50.6672C22.9961 51.2024 23.2129 51.9211 23.2129 52.8235C23.2129 53.8274 22.9688 54.6321 22.4805 55.2375C21.9922 55.8391 21.3242 56.1399 20.4766 56.1399C19.6992 56.1399 19.0996 55.804 18.6777 55.1321ZM18.6543 52.7122V53.55C18.6543 54.0461 18.8145 54.468 19.1348 54.8157C19.459 55.1594 19.8691 55.3313 20.3652 55.3313C20.9473 55.3313 21.4023 55.1086 21.7305 54.6633C22.0625 54.218 22.2285 53.5989 22.2285 52.8059C22.2285 52.1379 22.0742 51.6145 21.7656 51.2356C21.457 50.8567 21.0391 50.6672 20.5117 50.6672C19.9531 50.6672 19.5039 50.8625 19.1641 51.2532C18.8242 51.6399 18.6543 52.1262 18.6543 52.7122Z" fill="#F3F3F3"/>
				<path d="M25.709 55.9993H24.748V47.1165H25.709V55.9993Z" fill="#F3F3F3"/>
				<path d="M28.1465 48.4758C27.9746 48.4758 27.8281 48.4172 27.707 48.3C27.5859 48.1829 27.5254 48.0344 27.5254 47.8547C27.5254 47.675 27.5859 47.5266 27.707 47.4094C27.8281 47.2883 27.9746 47.2278 28.1465 47.2278C28.3223 47.2278 28.4707 47.2883 28.5918 47.4094C28.7168 47.5266 28.7793 47.675 28.7793 47.8547C28.7793 48.0266 28.7168 48.1731 28.5918 48.2942C28.4707 48.4153 28.3223 48.4758 28.1465 48.4758ZM28.6152 55.9993H27.6543V49.9993H28.6152V55.9993Z" fill="#F3F3F3"/>
				<path d="M33.3438 55.9407C33.1172 56.0657 32.8184 56.1282 32.4473 56.1282C31.3965 56.1282 30.8711 55.5422 30.8711 54.3704V50.8196H29.8398V49.9993H30.8711V48.5344L31.832 48.2239V49.9993H33.3438V50.8196H31.832V54.2004C31.832 54.6028 31.9004 54.8899 32.0371 55.0618C32.1738 55.2336 32.4004 55.3196 32.7168 55.3196C32.959 55.3196 33.168 55.2532 33.3438 55.1204V55.9407Z" fill="#F3F3F3"/>
				<path d="M44 21.9995C44 34.1498 34.1503 43.9995 22 43.9995C9.84974 43.9995 0 34.1498 0 21.9995C0 9.84925 9.84974 -0.000488281 22 -0.000488281C34.1503 -0.000488281 44 9.84925 44 21.9995Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 41.9993C33.0457 41.9993 42 33.045 42 21.9993C42 10.9536 33.0457 1.99927 22 1.99927C10.9543 1.99927 2 10.9536 2 21.9993C2 33.045 10.9543 41.9993 22 41.9993ZM22.0002 41.7612C32.9144 41.7612 41.7621 32.9135 41.7621 21.9993C41.7621 11.0851 32.9144 2.23736 22.0002 2.23736C11.086 2.23736 2.23828 11.0851 2.23828 21.9993C2.23828 32.9135 11.086 41.7612 22.0002 41.7612Z" fill="url(#paint1_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7374C31.7963 39.7374 39.7379 31.7958 39.7379 21.9993C39.7379 12.2028 31.7963 4.26123 21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374ZM21.9994 38.3683C31.0398 38.3683 38.3685 31.0396 38.3685 21.9993C38.3685 12.9589 31.0398 5.63022 21.9994 5.63022C12.959 5.63022 5.63037 12.9589 5.63037 21.9993C5.63037 31.0396 12.959 38.3683 21.9994 38.3683Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7374C31.7963 39.7374 39.7379 31.7958 39.7379 21.9993C39.7379 12.2028 31.7963 4.26123 21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374ZM21.9994 38.3683C31.0398 38.3683 38.3685 31.0396 38.3685 21.9993C38.3685 12.9589 31.0398 5.63022 21.9994 5.63022C12.959 5.63022 5.63037 12.9589 5.63037 21.9993C5.63037 31.0396 12.959 38.3683 21.9994 38.3683Z" fill="url(#paint2_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 41.7611C32.9144 41.7611 41.7621 32.9134 41.7621 21.9992C41.7621 11.085 32.9144 2.2373 22.0002 2.2373C11.086 2.2373 2.23828 11.085 2.23828 21.9992C2.23828 32.9134 11.086 41.7611 22.0002 41.7611ZM21.9998 39.4122C31.6166 39.4122 39.4126 31.6162 39.4126 21.9993C39.4126 12.3825 31.6166 4.58646 21.9998 4.58646C12.3829 4.58646 4.58691 12.3825 4.58691 21.9993C4.58691 31.6162 12.3829 39.4122 21.9998 39.4122Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 41.7611C32.9144 41.7611 41.7621 32.9134 41.7621 21.9992C41.7621 11.085 32.9144 2.2373 22.0002 2.2373C11.086 2.2373 2.23828 11.085 2.23828 21.9992C2.23828 32.9134 11.086 41.7611 22.0002 41.7611ZM21.9998 39.4122C31.6166 39.4122 39.4126 31.6162 39.4126 21.9993C39.4126 12.3825 31.6166 4.58646 21.9998 4.58646C12.3829 4.58646 4.58691 12.3825 4.58691 21.9993C4.58691 31.6162 12.3829 39.4122 21.9998 39.4122Z" fill="url(#paint3_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7374C31.7963 39.7374 39.7379 31.7958 39.7379 21.9993C39.7379 12.2028 31.7963 4.26123 21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374ZM22 39.4993C31.665 39.4993 39.5 31.6643 39.5 21.9993C39.5 12.3343 31.665 4.49927 22 4.49927C12.335 4.49927 4.5 12.3343 4.5 21.9993C4.5 31.6643 12.335 39.4993 22 39.4993Z" fill="url(#paint4_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 39.4993C31.665 39.4993 39.5 31.6643 39.5 21.9993C39.5 12.3343 31.665 4.49927 22 4.49927C12.335 4.49927 4.5 12.3343 4.5 21.9993C4.5 31.6643 12.335 39.4993 22 39.4993ZM22.0001 39.3207C31.5665 39.3207 39.3216 31.5656 39.3216 21.9993C39.3216 12.4329 31.5665 4.67784 22.0001 4.67784C12.4338 4.67784 4.67871 12.4329 4.67871 21.9993C4.67871 31.5656 12.4338 39.3207 22.0001 39.3207Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 39.4993C31.665 39.4993 39.5 31.6643 39.5 21.9993C39.5 12.3343 31.665 4.49927 22 4.49927C12.335 4.49927 4.5 12.3343 4.5 21.9993C4.5 31.6643 12.335 39.4993 22 39.4993ZM22.0001 39.3207C31.5665 39.3207 39.3216 31.5656 39.3216 21.9993C39.3216 12.4329 31.5665 4.67784 22.0001 4.67784C12.4338 4.67784 4.67871 12.4329 4.67871 21.9993C4.67871 31.5656 12.4338 39.3207 22.0001 39.3207Z" fill="url(#paint5_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 38.7851C31.2711 38.7851 38.7863 31.2698 38.7863 21.9993C38.7863 12.7288 31.2711 5.21362 22.0006 5.21362C12.7301 5.21362 5.21484 12.7288 5.21484 21.9993C5.21484 31.2698 12.7301 38.7851 22.0006 38.7851ZM22.0007 38.6064C31.1726 38.6064 38.6078 31.1711 38.6078 21.9993C38.6078 12.8274 31.1726 5.39212 22.0007 5.39212C12.8288 5.39212 5.39355 12.8274 5.39355 21.9993C5.39355 31.1711 12.8288 38.6064 22.0007 38.6064Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 38.7851C31.2711 38.7851 38.7863 31.2698 38.7863 21.9993C38.7863 12.7288 31.2711 5.21362 22.0006 5.21362C12.7301 5.21362 5.21484 12.7288 5.21484 21.9993C5.21484 31.2698 12.7301 38.7851 22.0006 38.7851ZM22.0007 38.6064C31.1726 38.6064 38.6078 31.1711 38.6078 21.9993C38.6078 12.8274 31.1726 5.39212 22.0007 5.39212C12.8288 5.39212 5.39355 12.8274 5.39355 21.9993C5.39355 31.1711 12.8288 38.6064 22.0007 38.6064Z" fill="url(#paint6_linear)"/>
				<path d="M38.4868 21.9614C38.4868 31.0861 31.0898 38.4832 21.9651 38.4832C12.8404 38.4832 5.44336 31.0861 5.44336 21.9614C5.44336 12.8367 12.8404 5.4397 21.9651 5.4397C31.0898 5.4397 38.4868 12.8367 38.4868 21.9614Z" fill="#2B2431"/>
				<path d="M38.4868 21.9614C38.4868 31.0861 31.0898 38.4832 21.9651 38.4832C12.8404 38.4832 5.44336 31.0861 5.44336 21.9614C5.44336 12.8367 12.8404 5.4397 21.9651 5.4397C31.0898 5.4397 38.4868 12.8367 38.4868 21.9614Z" fill="url(#paint7_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 38.6064C31.1716 38.6064 38.6069 31.1711 38.6069 21.9992C38.6069 12.8274 31.1716 5.39209 21.9997 5.39209C12.8278 5.39209 5.39258 12.8274 5.39258 21.9992C5.39258 31.1711 12.8278 38.6064 21.9997 38.6064ZM21.9989 38.3683C31.0393 38.3683 38.368 31.0396 38.368 21.9993C38.368 12.9589 31.0393 5.63022 21.9989 5.63022C12.9586 5.63022 5.62988 12.9589 5.62988 21.9993C5.62988 31.0396 12.9586 38.3683 21.9989 38.3683Z" fill="url(#paint8_linear)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M23.9063 13.1082L33.9021 15.8029C34.2481 15.8973 34.4518 16.252 34.3581 16.6003L30.678 30.4319C30.5842 30.7769 30.2317 30.9852 29.8857 30.8908L22.1318 28.8007C22.0465 28.7777 21.9567 28.7777 21.8715 28.8007L14.1176 30.8908C13.7715 30.9852 13.4191 30.7802 13.3253 30.4319L9.64196 16.6003C9.54818 16.252 9.75191 15.8973 10.0979 15.8029L20.0937 13.1082C20.4397 13.0138 20.7922 13.2188 20.886 13.5671L21.5178 15.9356C21.6499 16.4306 22.3524 16.4303 22.4841 15.9352L23.1141 13.5671C23.2078 13.2221 23.5603 13.0138 23.9063 13.1082ZM25.9652 20.1889C25.8352 19.9501 25.9225 19.6511 26.1605 19.5196L26.5159 19.3233C26.7585 19.1893 27.0639 19.2783 27.1966 19.5216L28.6451 22.1779C28.7768 22.4195 28.6886 22.7221 28.4476 22.855L25.8011 24.3152C25.5587 24.4489 25.2537 24.3602 25.1208 24.1172L24.9107 23.7328C24.7881 23.5086 24.8698 23.2276 25.0935 23.1041V23.1041C25.4656 22.8986 25.3856 22.3548 24.966 22.2869C24.0033 22.1312 23.0114 22.0516 22.0017 22.0516C20.992 22.0516 20.0001 22.1312 19.0373 22.2869C18.6177 22.3548 18.5378 22.8986 18.9099 23.1041V23.1041C19.1336 23.2276 19.2153 23.5086 19.0927 23.7328L18.8825 24.1172C18.7497 24.3602 18.4447 24.4489 18.2023 24.3152L15.5558 22.855C15.3148 22.7221 15.2266 22.4194 15.3583 22.1779L16.8065 19.5221C16.9393 19.2786 17.2451 19.1897 17.4877 19.3241L17.84 19.5192C18.0778 19.6508 18.1646 19.9499 18.0342 20.1884V20.1884C17.8293 20.5635 18.1668 21.0117 18.588 20.9386C19.6946 20.7464 20.8365 20.6489 21.9985 20.6489C23.161 20.6489 24.3034 20.7465 25.4106 20.9389C25.8317 21.012 26.1695 20.5644 25.9652 20.1889V20.1889Z" fill="white"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M34.0336 15.3204C34.6458 15.4874 35.0057 16.116 34.841 16.7294C34.8409 16.7296 34.841 16.7291 34.841 16.7294L31.1604 30.5629C30.9962 31.1668 30.3747 31.5417 29.7551 31.3733C29.7547 31.3732 29.7544 31.3731 29.754 31.373L22.0015 29.2833L14.2491 31.373C14.2487 31.3731 14.2483 31.3732 14.248 31.3733C13.6309 31.541 13.0069 31.1725 12.8424 30.5618L12.842 30.5604L9.15908 16.7301C9.15901 16.7299 9.15914 16.7304 9.15908 16.7301C8.99433 16.1167 9.35408 15.4874 9.96627 15.3204L9.9677 15.32L19.962 12.6256C19.9623 12.6256 19.9617 12.6257 19.962 12.6256C20.5792 12.4578 21.2042 12.8261 21.3687 13.4369L21.369 13.438L22.0008 15.8065L22.6315 13.4357C22.7957 12.8318 23.4173 12.4569 24.037 12.6254C24.0373 12.6255 24.0368 12.6254 24.037 12.6254L34.0336 15.3204ZM23.9063 13.108C23.5602 13.0136 23.2078 13.2219 23.114 13.5669L22.484 15.9351C22.3523 16.4302 21.6498 16.4304 21.5177 15.9354L20.8859 13.5669C20.7921 13.2187 20.4396 13.0136 20.0936 13.108L10.0978 15.8028C9.75182 15.8971 9.54809 16.2519 9.64187 16.6001L13.3252 30.4318C13.419 30.78 13.7715 30.985 14.1175 30.8907L21.8714 28.8006C21.9566 28.7776 22.0464 28.7776 22.1317 28.8006L29.8856 30.8907C30.2316 30.985 30.5841 30.7768 30.6779 30.4318L34.358 16.6001C34.4517 16.2519 34.248 15.8971 33.902 15.8028L23.9063 13.108ZM26.4068 19.9545C26.8188 20.7204 26.129 21.571 25.3249 21.4313C24.2468 21.244 23.133 21.1488 21.9984 21.1488C20.8643 21.1488 19.7511 21.2439 18.6734 21.4311C17.8692 21.5707 17.1795 20.7191 17.5926 19.9536L17.2454 19.7613L15.7972 22.4171L18.4437 23.8772L18.637 23.5237C17.9208 23.0942 18.0399 21.9416 18.9574 21.7932C19.9471 21.6331 20.9657 21.5515 22.0016 21.5515C23.0375 21.5515 24.0561 21.6331 25.0458 21.7932C25.9633 21.9416 26.0824 23.0942 25.3662 23.5237L25.5595 23.8772L28.206 22.4171L26.7575 19.7609L26.4068 19.9545ZM26.1604 19.5194C25.9224 19.6509 25.8351 19.9499 25.9651 20.1888C26.1694 20.5642 25.8316 21.0119 25.4105 20.9387C24.3033 20.7464 23.1609 20.6488 21.9984 20.6488C20.8364 20.6488 19.6945 20.7463 18.5879 20.9384C18.1667 21.0116 17.8292 20.5634 18.0342 20.1883C18.1645 19.9497 18.0777 19.6507 17.8399 19.519L17.4877 19.3239C17.245 19.1895 16.9393 19.2784 16.8064 19.522L15.3582 22.1777C15.2265 22.4193 15.3147 22.7219 15.5557 22.8549L18.2022 24.315C18.4446 24.4488 18.7496 24.36 18.8824 24.1171L19.0926 23.7327C19.2152 23.5085 19.1335 23.2274 18.9098 23.1039C18.5377 22.8985 18.6177 22.3546 19.0373 22.2868C20 22.1311 20.9919 22.0515 22.0016 22.0515C23.0113 22.0515 24.0032 22.1311 24.966 22.2868C25.3855 22.3546 25.4655 22.8985 25.0934 23.1039C24.8697 23.2274 24.788 23.5085 24.9106 23.7327L25.1208 24.1171C25.2536 24.36 25.5586 24.4488 25.801 24.315L28.4475 22.8549C28.6885 22.7219 28.7767 22.4193 28.645 22.1777L27.1965 19.5215C27.0638 19.2781 26.7584 19.1892 26.5158 19.3232L26.1604 19.5194Z" fill="url(#paint9_linear)"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear" x1="22" y1="-0.000488281" x2="22" y2="43.9995" gradientUnits="userSpaceOnUse">
					<stop/>
					<stop offset="1" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear" x1="1.46667" y1="39.762" x2="51.7115" y2="31.8384" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint2_linear" x1="37.4691" y1="13.1715" x2="6.48929" y2="30.2496" gradientUnits="userSpaceOnUse">
					<stop stop-color="#0B080F"/>
					<stop offset="0.526042" stop-color="#2E213C"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint3_linear" x1="39.2344" y1="12.1642" x2="4.72001" y2="31.1908" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint4_linear" x1="3.7887" y1="37.7532" x2="48.3511" y2="30.7257" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint5_linear" x1="31.9652" y1="36.7441" x2="13.7043" y2="6.30931" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint6_linear" x1="31.559" y1="36.1423" x2="14.0435" y2="6.94978" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint7_linear" x1="36.3736" y1="13.739" x2="7.51818" y2="29.646" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint8_linear" x1="4.94972" y1="36.7486" x2="46.6709" y2="30.1692" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint9_linear" x1="4.575" y1="31.9041" x2="44.7264" y2="29.4999" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.453125" stop-color="white" stop-opacity="0.32"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<clipPath id="clip0">
					<rect width="44" height="58.9999" fill="white" transform="translate(0 -0.000488281)"/>
				</clipPath>
			</defs>
		</svg>
	</div>
</div>
<p><b>Split</b> — If the first two cards received have the same value (for example, two Kings or
	two 10), there is an opportunity to divide them into two "hands", each of which will
	have a bet amount equal to the original bet. If you split the hand, then the first hand is
	dealt a second card, and the player is allowed to stop or take one or more cards to
	increase the Cards Value. As soon as player decides that there are enough cards
	in the first hand, the second hand is dealt a second card. In this case, the player also
	decides to take another card or "enough". The exception is the divided Aces. When a
	player shares a pair of aces, each divided hand receives only one additional card,
	without having the opportunity to change it or take another card. If after the division
	of Aces to one of them the player receives 10, then this combination will not be
	considered a "Blackjack", but simply 21 points. The player can not repeatedly "split"
	the already separated cards.</p>
<div class="display-flex-center-column">
	<div class="svg">
		<svg width="44" height="59" viewBox="0 0 44 59" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M4.35938 55.9995V47.5972H6.67969C9.64062 47.5972 11.1211 48.9624 11.1211 51.6929C11.1211 52.9897 10.709 54.0327 9.88477 54.8218C9.06445 55.6069 7.96484 55.9995 6.58594 55.9995H4.35938ZM5.34375 48.4878V55.1089H6.59766C7.69922 55.1089 8.55664 54.814 9.16992 54.2241C9.7832 53.6343 10.0898 52.7983 10.0898 51.7163C10.0898 49.564 8.94531 48.4878 6.65625 48.4878H5.34375Z" fill="#F3F3F3"/>
			<path d="M15.1523 56.1401C14.2656 56.1401 13.5566 55.8608 13.0254 55.3022C12.498 54.7397 12.2344 53.9956 12.2344 53.0698C12.2344 52.062 12.5098 51.2749 13.0605 50.7085C13.6113 50.1421 14.3555 49.8589 15.293 49.8589C16.1875 49.8589 16.8848 50.1343 17.3848 50.6851C17.8887 51.2358 18.1406 51.9995 18.1406 52.9761C18.1406 53.9331 17.8691 54.7007 17.3262 55.2788C16.7871 55.853 16.0625 56.1401 15.1523 56.1401ZM15.2227 50.6675C14.6055 50.6675 14.1172 50.8784 13.7578 51.3003C13.3984 51.7183 13.2188 52.2964 13.2188 53.0347C13.2188 53.7456 13.4004 54.3062 13.7637 54.7163C14.127 55.1265 14.6133 55.3315 15.2227 55.3315C15.8438 55.3315 16.3203 55.1304 16.6523 54.728C16.9883 54.3257 17.1562 53.7534 17.1562 53.0112C17.1562 52.2612 16.9883 51.6831 16.6523 51.2769C16.3203 50.8706 15.8438 50.6675 15.2227 50.6675Z" fill="#F3F3F3"/>
			<path d="M24.5273 55.9995H23.5664V55.0503H23.543C23.1445 55.7769 22.5273 56.1401 21.6914 56.1401C20.2617 56.1401 19.5469 55.2886 19.5469 53.5854V49.9995H20.502V53.4331C20.502 54.6987 20.9863 55.3315 21.9551 55.3315C22.4238 55.3315 22.8086 55.1597 23.1094 54.8159C23.4141 54.4683 23.5664 54.0151 23.5664 53.4565V49.9995H24.5273V55.9995Z" fill="#F3F3F3"/>
			<path d="M27.457 55.1323H27.4336V55.9995H26.4727V47.1167H27.4336V51.0542H27.457C27.9297 50.2573 28.6211 49.8589 29.5312 49.8589C30.3008 49.8589 30.9023 50.1284 31.3359 50.6675C31.7734 51.2026 31.9922 51.9214 31.9922 52.8237C31.9922 53.8276 31.748 54.6323 31.2598 55.2378C30.7715 55.8394 30.1035 56.1401 29.2559 56.1401C28.4629 56.1401 27.8633 55.8042 27.457 55.1323ZM27.4336 52.7124V53.5503C27.4336 54.0464 27.5938 54.4683 27.9141 54.8159C28.2383 55.1597 28.6484 55.3315 29.1445 55.3315C29.7266 55.3315 30.1816 55.1089 30.5098 54.6636C30.8418 54.2183 31.0078 53.5991 31.0078 52.8062C31.0078 52.1382 30.8535 51.6147 30.5449 51.2358C30.2363 50.8569 29.8184 50.6675 29.291 50.6675C28.7324 50.6675 28.2832 50.8628 27.9434 51.2534C27.6035 51.6401 27.4336 52.1265 27.4336 52.7124Z" fill="#F3F3F3"/>
			<path d="M34.4883 55.9995H33.5273V47.1167H34.4883V55.9995Z" fill="#F3F3F3"/>
			<path d="M41.2559 53.2397H37.0195C37.0352 53.9077 37.2148 54.4233 37.5586 54.7866C37.9023 55.1499 38.375 55.3315 38.9766 55.3315C39.6523 55.3315 40.2734 55.1089 40.8398 54.6636V55.5659C40.3125 55.9487 39.6152 56.1401 38.748 56.1401C37.9004 56.1401 37.2344 55.8687 36.75 55.3257C36.2656 54.7788 36.0234 54.0112 36.0234 53.0229C36.0234 52.0894 36.2871 51.3296 36.8145 50.7437C37.3457 50.1538 38.0039 49.8589 38.7891 49.8589C39.5742 49.8589 40.1816 50.1128 40.6113 50.6206C41.041 51.1284 41.2559 51.8335 41.2559 52.7358V53.2397ZM40.2715 52.4253C40.2676 51.8706 40.1328 51.439 39.8672 51.1304C39.6055 50.8218 39.2402 50.6675 38.7715 50.6675C38.3184 50.6675 37.9336 50.8296 37.6172 51.1538C37.3008 51.478 37.1055 51.9019 37.0312 52.4253H40.2715Z" fill="#F3F3F3"/>
			<path d="M44 21.9995C44 34.1498 34.1503 43.9995 22 43.9995C9.84974 43.9995 0 34.1498 0 21.9995C0 9.84925 9.84974 -0.000488281 22 -0.000488281C34.1503 -0.000488281 44 9.84925 44 21.9995Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22 41.9995C33.0457 41.9995 42 33.0452 42 21.9995C42 10.9538 33.0457 1.99951 22 1.99951C10.9543 1.99951 2 10.9538 2 21.9995C2 33.0452 10.9543 41.9995 22 41.9995ZM22 41.7614C32.9142 41.7614 41.7619 32.9137 41.7619 21.9995C41.7619 11.0853 32.9142 2.23761 22 2.23761C11.0858 2.23761 2.2381 11.0853 2.2381 21.9995C2.2381 32.9137 11.0858 41.7614 22 41.7614Z" fill="url(#paint1_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7374C31.7963 39.7374 39.7379 31.7958 39.7379 21.9993C39.7379 12.2028 31.7963 4.26123 21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374ZM21.9995 38.3683C31.0399 38.3683 38.3686 31.0396 38.3686 21.9993C38.3686 12.9589 31.0399 5.63022 21.9995 5.63022C12.9592 5.63022 5.63049 12.9589 5.63049 21.9993C5.63049 31.0396 12.9592 38.3683 21.9995 38.3683Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7374C31.7963 39.7374 39.7379 31.7958 39.7379 21.9993C39.7379 12.2028 31.7963 4.26123 21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374ZM21.9995 38.3683C31.0399 38.3683 38.3686 31.0396 38.3686 21.9993C38.3686 12.9589 31.0399 5.63022 21.9995 5.63022C12.9592 5.63022 5.63049 12.9589 5.63049 21.9993C5.63049 31.0396 12.9592 38.3683 21.9995 38.3683Z" fill="url(#paint2_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 41.7616C32.9144 41.7616 41.7621 32.9139 41.7621 21.9997C41.7621 11.0855 32.9144 2.23779 22.0002 2.23779C11.086 2.23779 2.23828 11.0855 2.23828 21.9997C2.23828 32.9139 11.086 41.7616 22.0002 41.7616ZM21.9998 39.4127C31.6167 39.4127 39.4127 31.6167 39.4127 21.9998C39.4127 12.3829 31.6167 4.58695 21.9998 4.58695C12.383 4.58695 4.58696 12.3829 4.58696 21.9998C4.58696 31.6167 12.383 39.4127 21.9998 39.4127Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 41.7616C32.9144 41.7616 41.7621 32.9139 41.7621 21.9997C41.7621 11.0855 32.9144 2.23779 22.0002 2.23779C11.086 2.23779 2.23828 11.0855 2.23828 21.9997C2.23828 32.9139 11.086 41.7616 22.0002 41.7616ZM21.9998 39.4127C31.6167 39.4127 39.4127 31.6167 39.4127 21.9998C39.4127 12.3829 31.6167 4.58695 21.9998 4.58695C12.383 4.58695 4.58696 12.3829 4.58696 21.9998C4.58696 31.6167 12.383 39.4127 21.9998 39.4127Z" fill="url(#paint3_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 39.7374C31.7963 39.7374 39.7379 31.7958 39.7379 21.9993C39.7379 12.2028 31.7963 4.26123 21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374ZM22 39.4993C31.665 39.4993 39.5 31.6643 39.5 21.9993C39.5 12.3343 31.665 4.49927 22 4.49927C12.335 4.49927 4.5 12.3343 4.5 21.9993C4.5 31.6643 12.335 39.4993 22 39.4993Z" fill="url(#paint4_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22 39.4995C31.665 39.4995 39.5 31.6645 39.5 21.9995C39.5 12.3345 31.665 4.49951 22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995ZM22 39.3209C31.5664 39.3209 39.3214 31.5659 39.3214 21.9995C39.3214 12.4332 31.5664 4.67808 22 4.67808C12.4336 4.67808 4.67857 12.4332 4.67857 21.9995C4.67857 31.5659 12.4336 39.3209 22 39.3209Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22 39.4995C31.665 39.4995 39.5 31.6645 39.5 21.9995C39.5 12.3345 31.665 4.49951 22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995ZM22 39.3209C31.5664 39.3209 39.3214 31.5659 39.3214 21.9995C39.3214 12.4332 31.5664 4.67808 22 4.67808C12.4336 4.67808 4.67857 12.4332 4.67857 21.9995C4.67857 31.5659 12.4336 39.3209 22 39.3209Z" fill="url(#paint5_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 38.7853C31.2711 38.7853 38.7863 31.2701 38.7863 21.9996C38.7863 12.7291 31.2711 5.21387 22.0006 5.21387C12.7301 5.21387 5.21484 12.7291 5.21484 21.9996C5.21484 31.2701 12.7301 38.7853 22.0006 38.7853ZM22.0005 38.6067C31.1724 38.6067 38.6076 31.1714 38.6076 21.9995C38.6076 12.8276 31.1724 5.39237 22.0005 5.39237C12.8286 5.39237 5.39335 12.8276 5.39335 21.9995C5.39335 31.1714 12.8286 38.6067 22.0005 38.6067Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 38.7853C31.2711 38.7853 38.7863 31.2701 38.7863 21.9996C38.7863 12.7291 31.2711 5.21387 22.0006 5.21387C12.7301 5.21387 5.21484 12.7291 5.21484 21.9996C5.21484 31.2701 12.7301 38.7853 22.0006 38.7853ZM22.0005 38.6067C31.1724 38.6067 38.6076 31.1714 38.6076 21.9995C38.6076 12.8276 31.1724 5.39237 22.0005 5.39237C12.8286 5.39237 5.39335 12.8276 5.39335 21.9995C5.39335 31.1714 12.8286 38.6067 22.0005 38.6067Z" fill="url(#paint6_linear)"/>
			<path d="M38.4868 21.9617C38.4868 31.0864 31.0898 38.4834 21.9651 38.4834C12.8404 38.4834 5.44336 31.0864 5.44336 21.9617C5.44336 12.837 12.8404 5.43994 21.9651 5.43994C31.0898 5.43994 38.4868 12.837 38.4868 21.9617Z" fill="#2B2431"/>
			<path d="M38.4868 21.9617C38.4868 31.0864 31.0898 38.4834 21.9651 38.4834C12.8404 38.4834 5.44336 31.0864 5.44336 21.9617C5.44336 12.837 12.8404 5.43994 21.9651 5.43994C31.0898 5.43994 38.4868 12.837 38.4868 21.9617Z" fill="url(#paint7_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 38.6069C31.1716 38.6069 38.6069 31.1716 38.6069 21.9997C38.6069 12.8278 31.1716 5.39258 21.9997 5.39258C12.8278 5.39258 5.39258 12.8278 5.39258 21.9997C5.39258 31.1716 12.8278 38.6069 21.9997 38.6069ZM21.999 38.3688C31.0394 38.3688 38.3681 31.0401 38.3681 21.9998C38.3681 12.9594 31.0394 5.63071 21.999 5.63071C12.9587 5.63071 5.63 12.9594 5.63 21.9998C5.63 31.0401 12.9587 38.3688 21.999 38.3688Z" fill="url(#paint8_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M32.4533 26.2874C32.4533 26.0113 32.2295 25.7874 31.9533 25.7874H26.672C26.3959 25.7874 26.1733 25.5538 26.3034 25.3102C26.3268 25.2663 26.3535 25.222 26.3832 25.1773C26.5162 24.9661 26.704 24.7471 26.9386 24.5202C27.1733 24.3012 27.4471 24.0665 27.7521 23.8397C28.0572 23.6128 28.3779 23.3782 28.7065 23.1435C29.1993 22.8071 29.6686 22.463 30.1223 22.0953C30.576 21.7277 30.9749 21.3365 31.3269 20.8985C31.6711 20.4683 31.9527 19.9833 32.1639 19.4592C32.3751 18.9351 32.4768 18.325 32.4768 17.6444C32.4768 17.003 32.3673 16.4242 32.1483 15.9001C31.9292 15.376 31.6163 14.9379 31.2018 14.5703C30.795 14.2026 30.2866 13.921 29.6921 13.7255C29.0976 13.5299 28.4249 13.4282 27.6739 13.4282C26.143 13.4282 24.7714 13.7953 23.5395 14.5358C23.3943 14.6231 23.3091 14.782 23.3091 14.9515V16.4485C23.3091 16.8768 23.8224 17.1168 24.1835 16.8863C25.0812 16.3134 26.0101 16.0252 26.9699 16.0252C27.7052 16.0252 28.2528 16.1817 28.6126 16.5102C28.9724 16.8387 29.1523 17.3159 29.1523 17.9495C29.1523 18.2702 29.0976 18.5753 28.9881 18.8647C28.8785 19.1463 28.7143 19.4279 28.4874 19.7095C28.2606 19.9911 27.9868 20.2727 27.6583 20.5543C27.3297 20.8437 26.9464 21.1332 26.5162 21.4461C26.1016 21.7355 25.6636 22.0718 25.2099 22.4395C24.7484 22.815 24.326 23.2374 23.9427 23.7145C23.5594 24.1917 23.2387 24.7314 22.9805 25.3337C22.7224 25.936 22.5973 26.6166 22.5973 27.3753V27.9939C22.5973 28.2701 22.8211 28.4939 23.0973 28.4939H31.9533C32.2295 28.4939 32.4533 28.2701 32.4533 27.9939V26.2874ZM18.3382 23.3115C18.231 23.143 18.2344 22.9268 18.3468 22.7617L21.1182 18.6916C21.3442 18.3597 21.1065 17.9102 20.7049 17.9102H18.394C18.2078 17.9102 18.0371 18.0136 17.9508 18.1786L16.5501 20.8592C16.3735 21.2047 16.227 21.5352 16.1107 21.8506C16.1068 21.8612 16.0967 21.8683 16.0854 21.8683V21.8683C16.0734 21.8683 16.0629 21.8603 16.0595 21.8488C15.9802 21.5789 15.8413 21.2567 15.6427 20.8748L14.2721 18.1833C14.1868 18.0157 14.0146 17.9102 13.8266 17.9102H11.2622C10.8684 17.9102 10.6292 18.3443 10.8395 18.6772L13.5358 22.9448C13.642 23.1129 13.6385 23.3279 13.5269 23.4924L10.6651 27.7131C10.44 28.0451 10.6779 28.4937 11.079 28.4937H13.5907C13.7753 28.4937 13.9448 28.392 14.0318 28.2292L15.4315 25.6073C15.6083 25.2845 15.7473 24.9768 15.8486 24.6916C15.8518 24.6825 15.8604 24.6765 15.8701 24.6765V24.6765C15.8792 24.6765 15.8876 24.682 15.8911 24.6905C16.0607 25.0983 16.2074 25.4143 16.3311 25.6386L17.7228 28.2303C17.8099 28.3925 17.9792 28.4937 18.1633 28.4937H20.724C21.1185 28.4937 21.3576 28.0582 21.1459 27.7254L18.3382 23.3115Z" fill="white"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.9146 25.2874H31.9522C32.5045 25.2874 32.9522 25.7351 32.9522 26.2874V27.9939C32.9522 28.5462 32.5045 28.9939 31.9522 28.9939H23.0962C22.5439 28.9939 22.0962 28.5462 22.0962 27.9939V27.3753C22.0962 26.5615 22.2305 25.812 22.5199 25.1368C22.7946 24.4957 23.1381 23.9163 23.5518 23.4014C23.9575 22.8964 24.4048 22.449 24.8933 22.0516L24.894 22.051C25.3521 21.6798 25.7987 21.3366 26.2249 21.0389C26.6514 20.7286 27.0176 20.4514 27.3267 20.1791L27.3317 20.1747L27.3318 20.1747C27.6395 19.911 27.8913 19.6511 28.097 19.3959L28.4863 19.7095C28.2595 19.9911 27.9857 20.2727 27.6572 20.5543C27.3286 20.8437 26.9453 21.1332 26.5151 21.4461C26.1005 21.7355 25.6625 22.0718 25.2088 22.4395C24.7473 22.815 24.3249 23.2374 23.9416 23.7145C23.5583 24.1917 23.2376 24.7314 22.9794 25.3337C22.7213 25.936 22.5962 26.6166 22.5962 27.3753V27.9939C22.5962 28.2701 22.82 28.4939 23.0962 28.4939H31.9522C32.2284 28.4939 32.4522 28.2701 32.4522 27.9939V26.2874C32.4522 26.0113 32.2284 25.7874 31.9522 25.7874H26.6709C26.3948 25.7874 26.1722 25.5538 26.3023 25.3102C26.3257 25.2663 26.3524 25.222 26.3821 25.1773C26.5151 24.9661 26.7029 24.7471 26.9375 24.5202C27.1722 24.3012 27.446 24.0665 27.751 23.8397C28.0561 23.6128 28.3768 23.3782 28.7054 23.1435C29.1982 22.8071 29.6675 22.463 30.1212 22.0953C30.5749 21.7277 30.9738 21.3365 31.3258 20.8985C31.67 20.4683 31.9516 19.9833 32.1628 19.4592L32.6266 19.6461C32.3978 20.2139 32.0918 20.7414 31.7163 21.2108L31.7156 21.2117C31.3385 21.6809 30.9135 22.0968 30.436 22.4838C29.9712 22.8604 29.492 23.2118 28.9917 23.5534C28.6677 23.7849 28.351 24.0166 28.0494 24.2409C27.763 24.4539 27.5046 24.6751 27.282 24.8827C27.1318 25.0281 27.0099 25.163 26.9146 25.2874ZM31.2007 14.5703C30.7939 14.2026 30.2855 13.921 29.691 13.7255C29.0965 13.5299 28.4238 13.4282 27.6728 13.4282C26.1419 13.4282 24.7703 13.7953 23.5384 14.5358C23.3932 14.6231 23.308 14.782 23.308 14.9515V16.4485C23.308 16.8768 23.8213 17.1168 24.1823 16.8863C25.0801 16.3134 26.009 16.0252 26.9688 16.0252C27.7041 16.0252 28.2517 16.1817 28.6115 16.5102C28.9713 16.8387 29.1512 17.3159 29.1512 17.9495C29.1512 18.2702 29.0965 18.5753 28.987 18.8647C28.8774 19.1463 28.7132 19.4279 28.4863 19.7095L28.097 19.3958C28.2948 19.1503 28.4312 18.9135 28.5201 18.6857C28.6069 18.4555 28.6512 18.2112 28.6512 17.9495C28.6512 17.4129 28.5021 17.0874 28.2744 16.8794C28.0466 16.6715 27.6468 16.5252 26.9688 16.5252C26.1151 16.5252 25.2784 16.78 24.4513 17.3078C24.1086 17.5265 23.7033 17.5166 23.3903 17.3637C23.0733 17.2089 22.808 16.8831 22.808 16.4485V14.9515C22.808 14.6161 22.9772 14.2898 23.2808 14.1073C24.5957 13.3168 26.0575 12.9282 27.6728 12.9282C28.4686 12.9282 29.1951 13.036 29.8472 13.2505C30.4955 13.4638 31.0676 13.7766 31.5342 14.1978C32.005 14.6157 32.3612 15.1155 32.6085 15.7073C32.856 16.2995 32.9757 16.9449 32.9757 17.6444C32.9757 18.3731 32.867 19.0494 32.6266 19.6461L32.1628 19.4592C32.374 18.9351 32.4757 18.325 32.4757 17.6444C32.4757 17.003 32.3662 16.4242 32.1472 15.9001C31.9281 15.376 31.6152 14.9379 31.2007 14.5703ZM16.1059 20.6276L16.1059 20.6276L17.5066 17.9471C17.679 17.617 18.0205 17.4102 18.3929 17.4102H20.7038C21.5069 17.4102 21.9824 18.3092 21.5304 18.973L18.7589 23.0431L21.5666 27.457C21.9901 28.1227 21.5119 28.9937 20.7229 28.9937H18.1622C17.7939 28.9937 17.4554 28.7913 17.2812 28.4668L15.8908 25.8776C15.8845 25.8661 15.8781 25.8544 15.8717 25.8425C15.8712 25.8434 15.8708 25.8442 15.8703 25.8451L14.4717 28.4647C14.2979 28.7903 13.9588 28.9937 13.5896 28.9937H11.0779C10.2756 28.9937 9.79997 28.0965 10.2502 27.4325L13.112 23.2118L13.5258 23.4924L10.664 27.7131C10.4389 28.0451 10.6768 28.4937 11.0779 28.4937H13.5896C13.7742 28.4937 13.9437 28.392 14.0307 28.2292L15.4304 25.6073C15.4912 25.4964 15.5474 25.3873 15.5993 25.2803C15.6233 25.2305 15.6465 25.1812 15.6686 25.1324C15.7344 24.9875 15.7917 24.8468 15.8405 24.7111C15.8429 24.7046 15.8452 24.6981 15.8475 24.6916C15.8507 24.6825 15.8593 24.6765 15.869 24.6765C15.8781 24.6765 15.8865 24.682 15.89 24.6905C15.8926 24.6969 15.8953 24.7032 15.8979 24.7095C15.9615 24.8619 16.0218 25.0014 16.0789 25.1278C16.1031 25.1814 16.1267 25.2326 16.1497 25.2815C16.2144 25.419 16.2745 25.538 16.33 25.6386L17.7217 28.2303C17.8088 28.3925 17.9781 28.4937 18.1622 28.4937H20.7229C21.1174 28.4937 21.3565 28.0582 21.1447 27.7254L18.3371 23.3115C18.2299 23.143 18.2332 22.9268 18.3457 22.7617L21.1171 18.6916C21.3431 18.3597 21.1054 17.9102 20.7038 17.9102H18.3929C18.2067 17.9102 18.036 18.0136 17.9497 18.1786L16.549 20.8592C16.484 20.9864 16.4231 21.1116 16.3662 21.2347C16.3385 21.2948 16.3118 21.3543 16.286 21.4133C16.2239 21.5556 16.1675 21.6951 16.1166 21.8317C16.1143 21.838 16.112 21.8443 16.1096 21.8506C16.1057 21.8612 16.0956 21.8683 16.0843 21.8683C16.0723 21.8683 16.0618 21.8603 16.0584 21.8488C16.0565 21.8424 16.0546 21.836 16.0527 21.8296C16.0139 21.7008 15.9617 21.5603 15.8962 21.4072C15.8722 21.3511 15.8464 21.2933 15.8188 21.2338C15.7663 21.1205 15.7072 21.0009 15.6416 20.8748L14.271 18.1833C14.1857 18.0157 14.0135 17.9102 13.8255 17.9102H11.2611C10.8673 17.9102 10.6281 18.3443 10.8384 18.6772L13.5347 22.9448C13.6409 23.1129 13.6374 23.3279 13.5258 23.4924L13.112 23.2118L10.4157 18.9443C9.99502 18.2784 10.4735 17.4102 11.2611 17.4102H13.8255C14.2016 17.4102 14.5459 17.6212 14.7166 17.9564L16.0863 20.6461C16.088 20.6494 16.0897 20.6527 16.0914 20.656C16.0955 20.6479 16.0997 20.6397 16.1038 20.6316L16.1059 20.6276Z" fill="url(#paint9_linear)"/>
			<defs>
				<linearGradient id="paint0_linear" x1="22" y1="-0.000488281" x2="22" y2="43.9995" gradientUnits="userSpaceOnUse">
					<stop/>
					<stop offset="1" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear" x1="1.46667" y1="39.7622" x2="51.7115" y2="31.8387" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint2_linear" x1="37.4691" y1="13.1715" x2="6.48929" y2="30.2496" gradientUnits="userSpaceOnUse">
					<stop stop-color="#0B080F"/>
					<stop offset="0.526042" stop-color="#2E213C"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint3_linear" x1="39.2344" y1="12.1647" x2="4.72001" y2="31.1913" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint4_linear" x1="3.7887" y1="37.7532" x2="48.3511" y2="30.7257" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint5_linear" x1="31.9652" y1="36.7443" x2="13.7043" y2="6.30955" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint6_linear" x1="31.559" y1="36.1426" x2="14.0435" y2="6.95003" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint7_linear" x1="36.3736" y1="13.7392" x2="7.51818" y2="29.6462" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint8_linear" x1="4.94972" y1="36.7491" x2="46.6709" y2="30.1697" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint9_linear" x1="6.11618" y1="29.3309" x2="41.613" y2="27.1065" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.453125" stop-color="white" stop-opacity="0.32"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
			</defs>
		</svg>
	</div>
</div>
<p><b>Doubling</b> — When a player gets the first two cards, and believe that a third card can
	bring victory, it is possible to double the bet. In this case, the bet will be doubled, and
	the player will get one additional card. Except for the split of the aces (this is due to
	the fact that separated Aces can only get a second extra card).</p>
<div class="display-flex-center-column">
	<div class="svg">
		<svg width="94" height="44" viewBox="0 0 94 44" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_insurance)">
				<path d="M0 21.9995C0 9.84925 9.84974 -0.000488281 22 -0.000488281H72C84.1503 -0.000488281 94 9.84925 94 21.9995V21.9995C94 34.1498 84.1503 43.9995 72 43.9995H22C9.84973 43.9995 0 34.1498 0 21.9995V21.9995Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 1.99951C10.9543 1.99951 2 10.9538 2 21.9995C2 33.0452 10.9543 41.9995 22 41.9995H72C83.0457 41.9995 92 33.0452 92 21.9995C92 10.9538 83.0457 1.99951 72 1.99951H22ZM22 2.23761C11.0858 2.23761 2.2381 11.0853 2.2381 21.9995C2.2381 32.9137 11.0858 41.7614 22 41.7614H71.9962C82.9104 41.7614 91.7581 32.9137 91.7581 21.9995C91.7581 11.0853 82.9104 2.23761 71.9962 2.23761H22Z" fill="url(#paint1_linear_insurance)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 5.39237C12.8281 5.39237 5.39286 12.8276 5.39286 21.9995C5.39286 31.1714 12.8281 38.6067 22 38.6067H71.9957C81.1676 38.6067 88.6029 31.1714 88.6029 21.9995C88.6029 12.8276 81.1676 5.39237 71.9957 5.39237H22Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 5.39237C12.8281 5.39237 5.39286 12.8276 5.39286 21.9995C5.39286 31.1714 12.8281 38.6067 22 38.6067H71.9957C81.1676 38.6067 88.6029 31.1714 88.6029 21.9995C88.6029 12.8276 81.1676 5.39237 71.9957 5.39237H22Z" fill="url(#paint2_linear_insurance)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23779C11.086 2.23779 2.23828 11.0855 2.23828 21.9997C2.23828 32.9139 11.086 41.7616 22.0002 41.7616H71.9964C82.9106 41.7616 91.7583 32.9139 91.7583 21.9997C91.7583 11.0855 82.9106 2.23779 71.9964 2.23779H22.0002ZM22.0002 4.26166C12.2038 4.26166 4.26215 12.2033 4.26215 21.9998C4.26215 31.7962 12.2038 39.7379 22.0003 39.7379H72.0041C81.8005 39.7379 89.7421 31.7962 89.7421 21.9998C89.7421 12.2033 81.8005 4.26166 72.0041 4.26166H22.0002Z" fill="#4CFF9F"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23779C11.086 2.23779 2.23828 11.0855 2.23828 21.9997C2.23828 32.9139 11.086 41.7616 22.0002 41.7616H71.9964C82.9106 41.7616 91.7583 32.9139 91.7583 21.9997C91.7583 11.0855 82.9106 2.23779 71.9964 2.23779H22.0002ZM22.0002 4.26166C12.2038 4.26166 4.26215 12.2033 4.26215 21.9998C4.26215 31.7962 12.2038 39.7379 22.0003 39.7379H72.0041C81.8005 39.7379 89.7421 31.7962 89.7421 21.9998C89.7421 12.2033 81.8005 4.26166 72.0041 4.26166H22.0002Z" fill="url(#paint3_linear_insurance)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21387C12.7301 5.21387 5.21484 12.7291 5.21484 21.9996C5.21484 31.2701 12.73 38.7853 22.0005 38.7853H71.9991C81.2696 38.7853 88.7848 31.2701 88.7848 21.9996C88.7848 12.7291 81.2696 5.21387 71.9991 5.21387H22.0006ZM22.0006 5.39237C12.8287 5.39237 5.39347 12.8276 5.39347 21.9995C5.39347 31.1714 12.8288 38.6067 22.0006 38.6067H71.9963C81.1682 38.6067 88.6035 31.1714 88.6035 21.9995C88.6035 12.8276 81.1682 5.39237 71.9963 5.39237H22.0006Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21387C12.7301 5.21387 5.21484 12.7291 5.21484 21.9996C5.21484 31.2701 12.73 38.7853 22.0005 38.7853H71.9991C81.2696 38.7853 88.7848 31.2701 88.7848 21.9996C88.7848 12.7291 81.2696 5.21387 71.9991 5.21387H22.0006ZM22.0006 5.39237C12.8287 5.39237 5.39347 12.8276 5.39347 21.9995C5.39347 31.1714 12.8288 38.6067 22.0006 38.6067H71.9963C81.1682 38.6067 88.6035 31.1714 88.6035 21.9995C88.6035 12.8276 81.1682 5.39237 71.9963 5.39237H22.0006Z" fill="url(#paint4_linear_insurance)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 4.67808C12.4336 4.67808 4.67857 12.4331 4.67857 21.9995C4.67857 31.5659 12.4337 39.3209 22 39.3209H71.9971C81.5635 39.3209 89.3186 31.5659 89.3186 21.9995C89.3186 12.4331 81.5635 4.67808 71.9971 4.67808H22Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 4.67808C12.4336 4.67808 4.67857 12.4331 4.67857 21.9995C4.67857 31.5659 12.4337 39.3209 22 39.3209H71.9971C81.5635 39.3209 89.3186 31.5659 89.3186 21.9995C89.3186 12.4331 81.5635 4.67808 71.9971 4.67808H22Z" fill="url(#paint5_linear_insurance)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374H72.0036C81.8001 39.7374 89.7417 31.7958 89.7417 21.9993C89.7417 12.2028 81.8001 4.26123 72.0036 4.26123H21.9998ZM21.9998 4.49927C12.3348 4.49927 4.49976 12.3343 4.49976 21.9993C4.49976 31.6643 12.3348 39.4993 21.9998 39.4993H71.9998C81.6647 39.4993 89.4998 31.6643 89.4998 21.9993C89.4998 12.3343 81.6647 4.49927 71.9998 4.49927H21.9998Z" fill="url(#paint6_linear_insurance)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 5.39258C12.8279 5.39258 5.39258 12.8278 5.39258 21.9997C5.39258 31.1716 12.8279 38.6069 21.9997 38.6069H71.9954C81.1673 38.6069 88.6026 31.1716 88.6026 21.9997C88.6026 12.8278 81.1673 5.39258 71.9954 5.39258H21.9997ZM21.9998 5.63071C12.9594 5.63071 5.63071 12.9594 5.63071 21.9998C5.63071 31.0401 12.9594 38.3688 21.9998 38.3688H72.0017C81.042 38.3688 88.3707 31.0401 88.3707 21.9998C88.3707 12.9594 81.042 5.63071 72.0017 5.63071H21.9998Z" fill="url(#paint7_linear_insurance)"/>
				<path d="M5.63086 21.9994C5.63086 12.959 12.9595 5.63037 21.9999 5.63037H72.0018C81.0422 5.63037 88.3709 12.959 88.3709 21.9994V21.9994C88.3709 31.0398 81.0422 38.3685 72.0018 38.3685H21.9999C12.9595 38.3685 5.63086 31.0398 5.63086 21.9994V21.9994Z" fill="#4CFF9F"/>
				<path d="M5.63086 21.9994C5.63086 12.959 12.9595 5.63037 21.9999 5.63037H72.0018C81.0422 5.63037 88.3709 12.959 88.3709 21.9994V21.9994C88.3709 31.0398 81.0422 38.3685 72.0018 38.3685H21.9999C12.9595 38.3685 5.63086 31.0398 5.63086 21.9994V21.9994Z" fill="url(#paint8_linear_insurance)"/>
				<path d="M23.6914 25.9995H22.707V17.5972H23.6914V25.9995Z" fill="white"/>
				<path d="M30.7578 25.9995H29.7969V22.5776C29.7969 21.3042 29.332 20.6675 28.4023 20.6675C27.9219 20.6675 27.5234 20.8491 27.207 21.2124C26.8945 21.5718 26.7383 22.0269 26.7383 22.5776V25.9995H25.7773V19.9995H26.7383V20.9956H26.7617C27.2148 20.2378 27.8711 19.8589 28.7305 19.8589C29.3867 19.8589 29.8887 20.0718 30.2363 20.4976C30.584 20.9194 30.7578 21.5308 30.7578 22.3315V25.9995Z" fill="white"/>
				<path d="M32.2109 25.7827V24.7515C32.7344 25.1382 33.3105 25.3315 33.9395 25.3315C34.7832 25.3315 35.2051 25.0503 35.2051 24.4878C35.2051 24.3276 35.168 24.1929 35.0938 24.0835C35.0234 23.9702 34.9258 23.8706 34.8008 23.7847C34.6797 23.6987 34.5352 23.6226 34.3672 23.5562C34.2031 23.4858 34.0254 23.4136 33.834 23.3394C33.5684 23.2339 33.334 23.1284 33.1309 23.0229C32.9316 22.9136 32.7637 22.7925 32.627 22.6597C32.4941 22.5229 32.3926 22.3687 32.3223 22.1968C32.2559 22.0249 32.2227 21.8237 32.2227 21.5933C32.2227 21.312 32.2871 21.064 32.416 20.8491C32.5449 20.6304 32.7168 20.4487 32.9316 20.3042C33.1465 20.1558 33.3906 20.0444 33.6641 19.9702C33.9414 19.896 34.2266 19.8589 34.5195 19.8589C35.0391 19.8589 35.5039 19.9487 35.9141 20.1284V21.1011C35.4727 20.812 34.9648 20.6675 34.3906 20.6675C34.2109 20.6675 34.0488 20.689 33.9043 20.7319C33.7598 20.771 33.6348 20.8276 33.5293 20.9019C33.4277 20.9761 33.3477 21.0659 33.2891 21.1714C33.2344 21.2729 33.207 21.3862 33.207 21.5112C33.207 21.6675 33.2344 21.7983 33.2891 21.9038C33.3477 22.0093 33.4316 22.103 33.541 22.1851C33.6504 22.2671 33.7832 22.3413 33.9395 22.4077C34.0957 22.4741 34.2734 22.5464 34.4727 22.6245C34.7383 22.7261 34.9766 22.8315 35.1875 22.9409C35.3984 23.0464 35.5781 23.1675 35.7266 23.3042C35.875 23.437 35.9883 23.5913 36.0664 23.7671C36.1484 23.9429 36.1895 24.1519 36.1895 24.394C36.1895 24.6909 36.123 24.9487 35.9902 25.1675C35.8613 25.3862 35.6875 25.5679 35.4688 25.7124C35.25 25.8569 34.998 25.9644 34.7129 26.0347C34.4277 26.105 34.1289 26.1401 33.8164 26.1401C33.1992 26.1401 32.6641 26.021 32.2109 25.7827Z" fill="white"/>
				<path d="M42.5234 25.9995H41.5625V25.0503H41.5391C41.1406 25.7769 40.5234 26.1401 39.6875 26.1401C38.2578 26.1401 37.543 25.2886 37.543 23.5854V19.9995H38.498V23.4331C38.498 24.6987 38.9824 25.3315 39.9512 25.3315C40.4199 25.3315 40.8047 25.1597 41.1055 24.8159C41.4102 24.4683 41.5625 24.0151 41.5625 23.4565V19.9995H42.5234V25.9995Z" fill="white"/>
				<path d="M47.5977 20.9722C47.4297 20.8433 47.1875 20.7788 46.8711 20.7788C46.4609 20.7788 46.1172 20.9722 45.8398 21.3589C45.5664 21.7456 45.4297 22.2729 45.4297 22.9409V25.9995H44.4688V19.9995H45.4297V21.2358H45.4531C45.5898 20.814 45.7988 20.4858 46.0801 20.2515C46.3613 20.0132 46.6758 19.894 47.0234 19.894C47.2734 19.894 47.4648 19.9214 47.5977 19.9761V20.9722Z" fill="white"/>
				<path d="M52.9355 25.9995H51.9746V25.062H51.9512C51.5332 25.7808 50.918 26.1401 50.1055 26.1401C49.5078 26.1401 49.0391 25.9819 48.6992 25.6655C48.3633 25.3491 48.1953 24.9292 48.1953 24.4058C48.1953 23.2847 48.8555 22.6323 50.1758 22.4487L51.9746 22.1968C51.9746 21.1772 51.5625 20.6675 50.7383 20.6675C50.0156 20.6675 49.3633 20.9136 48.7812 21.4058V20.4214C49.3711 20.0464 50.0508 19.8589 50.8203 19.8589C52.2305 19.8589 52.9355 20.605 52.9355 22.0972V25.9995ZM51.9746 22.9644L50.5273 23.1636C50.082 23.2261 49.7461 23.3374 49.5195 23.4976C49.293 23.6538 49.1797 23.9331 49.1797 24.3354C49.1797 24.6284 49.2832 24.8687 49.4902 25.0562C49.7012 25.2397 49.9805 25.3315 50.3281 25.3315C50.8047 25.3315 51.1973 25.1655 51.5059 24.8335C51.8184 24.4976 51.9746 24.0737 51.9746 23.562V22.9644Z" fill="white"/>
				<path d="M59.7266 25.9995H58.7656V22.5776C58.7656 21.3042 58.3008 20.6675 57.3711 20.6675C56.8906 20.6675 56.4922 20.8491 56.1758 21.2124C55.8633 21.5718 55.707 22.0269 55.707 22.5776V25.9995H54.7461V19.9995H55.707V20.9956H55.7305C56.1836 20.2378 56.8398 19.8589 57.6992 19.8589C58.3555 19.8589 58.8574 20.0718 59.2051 20.4976C59.5527 20.9194 59.7266 21.5308 59.7266 22.3315V25.9995Z" fill="white"/>
				<path d="M65.6328 25.7241C65.1719 26.0015 64.625 26.1401 63.9922 26.1401C63.1367 26.1401 62.4453 25.8628 61.918 25.3081C61.3945 24.7495 61.1328 24.0269 61.1328 23.1401C61.1328 22.1519 61.416 21.3589 61.9824 20.7612C62.5488 20.1597 63.3047 19.8589 64.25 19.8589C64.7773 19.8589 65.2422 19.9565 65.6445 20.1519V21.1362C65.1992 20.8237 64.7227 20.6675 64.2148 20.6675C63.6016 20.6675 63.0977 20.8882 62.7031 21.3296C62.3125 21.7671 62.1172 22.3433 62.1172 23.0581C62.1172 23.7612 62.3008 24.3159 62.668 24.7222C63.0391 25.1284 63.5352 25.3315 64.1562 25.3315C64.6797 25.3315 65.1719 25.1577 65.6328 24.8101V25.7241Z" fill="white"/>
				<path d="M71.9082 23.2397H67.6719C67.6875 23.9077 67.8672 24.4233 68.2109 24.7866C68.5547 25.1499 69.0273 25.3315 69.6289 25.3315C70.3047 25.3315 70.9258 25.1089 71.4922 24.6636V25.5659C70.9648 25.9487 70.2676 26.1401 69.4004 26.1401C68.5527 26.1401 67.8867 25.8687 67.4023 25.3257C66.918 24.7788 66.6758 24.0112 66.6758 23.0229C66.6758 22.0894 66.9395 21.3296 67.4668 20.7437C67.998 20.1538 68.6562 19.8589 69.4414 19.8589C70.2266 19.8589 70.834 20.1128 71.2637 20.6206C71.6934 21.1284 71.9082 21.8335 71.9082 22.7358V23.2397ZM70.9238 22.4253C70.9199 21.8706 70.7852 21.439 70.5195 21.1304C70.2578 20.8218 69.8926 20.6675 69.4238 20.6675C68.9707 20.6675 68.5859 20.8296 68.2695 21.1538C67.9531 21.478 67.7578 21.9019 67.6836 22.4253H70.9238Z" fill="white"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_insurance" x1="31.5" y1="-0.000489199" x2="75.5" y2="43.9995" gradientUnits="userSpaceOnUse">
					<stop/>
					<stop offset="1" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear_insurance" x1="0.800001" y1="39.7622" x2="103.706" y2="3.24865" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint2_linear_insurance" x1="84.064" y1="13.2902" x2="49.4036" y2="59.693" gradientUnits="userSpaceOnUse">
					<stop stop-color="#0B080F"/>
					<stop offset="0.526042" stop-color="#2E213C"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint3_linear_insurance" x1="86.0332" y1="12.1647" x2="46.2009" y2="61.8991" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint4_linear_insurance" x1="70.7939" y1="36.1426" x2="61.7499" y2="-1.37943" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint5_linear_insurance" x1="71.2012" y1="36.7443" x2="61.5633" y2="-2.26586" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint6_linear_insurance" x1="3.12199" y1="37.7532" x2="99.2817" y2="1.21472" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint7_linear_insurance" x1="4.28311" y1="36.7491" x2="96.9417" y2="0.142005" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint8_linear_insurance" x1="83.0793" y1="13.853" x2="51.0468" y2="58.4816" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<clipPath id="clip0_insurance">
					<rect width="94" height="44" fill="white" transform="translate(0 -0.000488281)"/>
				</clipPath>
			</defs>
		</svg>
	</div>
</div>
<p><b>Insurance</b> — If the dealer's open card is Ace, the player can buy insurance, which is
	equal to the half amount of the initial bet. If the dealer has a "Blackjack" then the
	insurance will be paid with coef of 2 to 1. If the dealer doesn't have a "Blackjack", the
	player loses the amount of insurance.</p>

<h2>Payments</h2>
<p>For "Blackjack", where two cards with a total value of 21, if they aren't got due to a
	split, a bet is paid to the client with coef of 3 to 2. But only if the dealer hasn't got
	«Blackjack». If both the player and the dealer have got "Blackjack", the amount of bet
	is returned to the client.</p>
<p>"Blackjack" wins any three or more cards with a value of 21. All other winning bets are
	paid with coef of 1 to 1. In case of a draw, the bet doesn't lose and win. The bet lose
	in case of exceeding, that is, when the total Cards Value exceeds 21.</p>
<div class="display-flex-center-column">
	<div class="svg">
		<svg width="54" height="58" viewBox="0 0 54 58" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.65234 54.6597V53.4995C1.78516 53.6167 1.94336 53.7222 2.12695 53.8159C2.31445 53.9097 2.50977 53.9897 2.71289 54.0562C2.91992 54.1187 3.12695 54.1675 3.33398 54.2026C3.54102 54.2378 3.73242 54.2554 3.9082 54.2554C4.51367 54.2554 4.96484 54.144 5.26172 53.9214C5.5625 53.6948 5.71289 53.3706 5.71289 52.9487C5.71289 52.7222 5.66211 52.5249 5.56055 52.3569C5.46289 52.189 5.32617 52.0366 5.15039 51.8999C4.97461 51.7593 4.76562 51.6265 4.52344 51.5015C4.28516 51.3726 4.02734 51.2378 3.75 51.0972C3.45703 50.9487 3.18359 50.7983 2.92969 50.646C2.67578 50.4937 2.45508 50.3257 2.26758 50.1421C2.08008 49.9585 1.93164 49.7515 1.82227 49.521C1.7168 49.2866 1.66406 49.0132 1.66406 48.7007C1.66406 48.3179 1.74805 47.9858 1.91602 47.7046C2.08398 47.4194 2.30469 47.1851 2.57812 47.0015C2.85156 46.8179 3.16211 46.6812 3.50977 46.5913C3.86133 46.5015 4.21875 46.4565 4.58203 46.4565C5.41016 46.4565 6.01367 46.5562 6.39258 46.7554V47.8628C5.89648 47.519 5.25977 47.3472 4.48242 47.3472C4.26758 47.3472 4.05273 47.3706 3.83789 47.4175C3.62305 47.4604 3.43164 47.5327 3.26367 47.6343C3.0957 47.7358 2.95898 47.8667 2.85352 48.0269C2.74805 48.187 2.69531 48.3823 2.69531 48.6128C2.69531 48.8276 2.73438 49.0132 2.8125 49.1694C2.89453 49.3257 3.01367 49.4683 3.16992 49.5972C3.32617 49.7261 3.51562 49.8511 3.73828 49.9722C3.96484 50.0933 4.22461 50.2261 4.51758 50.3706C4.81836 50.519 5.10352 50.6753 5.37305 50.8394C5.64258 51.0034 5.87891 51.1851 6.08203 51.3843C6.28516 51.5835 6.44531 51.8042 6.5625 52.0464C6.68359 52.2886 6.74414 52.5659 6.74414 52.8784C6.74414 53.2925 6.66211 53.644 6.49805 53.9331C6.33789 54.2183 6.11914 54.4507 5.8418 54.6304C5.56836 54.8101 5.25195 54.939 4.89258 55.0171C4.5332 55.0991 4.1543 55.1401 3.75586 55.1401C3.62305 55.1401 3.45898 55.1284 3.26367 55.105C3.06836 55.0854 2.86914 55.0542 2.66602 55.0112C2.46289 54.9722 2.26953 54.9233 2.08594 54.8647C1.90625 54.8022 1.76172 54.7339 1.65234 54.6597Z" fill="#F3F3F3"/>
			<path d="M13.1426 54.9995H12.1816V54.0503H12.1582C11.7598 54.7769 11.1426 55.1401 10.3066 55.1401C8.87695 55.1401 8.16211 54.2886 8.16211 52.5854V48.9995H9.11719V52.4331C9.11719 53.6987 9.60156 54.3315 10.5703 54.3315C11.0391 54.3315 11.4238 54.1597 11.7246 53.8159C12.0293 53.4683 12.1816 53.0151 12.1816 52.4565V48.9995H13.1426V54.9995Z" fill="#F3F3F3"/>
			<path d="M18.2168 49.9722C18.0488 49.8433 17.8066 49.7788 17.4902 49.7788C17.0801 49.7788 16.7363 49.9722 16.459 50.3589C16.1855 50.7456 16.0488 51.2729 16.0488 51.9409V54.9995H15.0879V48.9995H16.0488V50.2358H16.0723C16.209 49.814 16.418 49.4858 16.6992 49.2515C16.9805 49.0132 17.2949 48.894 17.6426 48.894C17.8926 48.894 18.084 48.9214 18.2168 48.9761V49.9722Z" fill="#F3F3F3"/>
			<path d="M22.3887 49.9722C22.2207 49.8433 21.9785 49.7788 21.6621 49.7788C21.252 49.7788 20.9082 49.9722 20.6309 50.3589C20.3574 50.7456 20.2207 51.2729 20.2207 51.9409V54.9995H19.2598V48.9995H20.2207V50.2358H20.2441C20.3809 49.814 20.5898 49.4858 20.8711 49.2515C21.1523 49.0132 21.4668 48.894 21.8145 48.894C22.0645 48.894 22.2559 48.9214 22.3887 48.9761V49.9722Z" fill="#F3F3F3"/>
			<path d="M28.2539 52.2397H24.0176C24.0332 52.9077 24.2129 53.4233 24.5566 53.7866C24.9004 54.1499 25.373 54.3315 25.9746 54.3315C26.6504 54.3315 27.2715 54.1089 27.8379 53.6636V54.5659C27.3105 54.9487 26.6133 55.1401 25.7461 55.1401C24.8984 55.1401 24.2324 54.8687 23.748 54.3257C23.2637 53.7788 23.0215 53.0112 23.0215 52.0229C23.0215 51.0894 23.2852 50.3296 23.8125 49.7437C24.3438 49.1538 25.002 48.8589 25.7871 48.8589C26.5723 48.8589 27.1797 49.1128 27.6094 49.6206C28.0391 50.1284 28.2539 50.8335 28.2539 51.7358V52.2397ZM27.2695 51.4253C27.2656 50.8706 27.1309 50.439 26.8652 50.1304C26.6035 49.8218 26.2383 49.6675 25.7695 49.6675C25.3164 49.6675 24.9316 49.8296 24.6152 50.1538C24.2988 50.478 24.1035 50.9019 24.0293 51.4253H27.2695Z" fill="#F3F3F3"/>
			<path d="M34.6934 54.9995H33.7324V51.5776C33.7324 50.3042 33.2676 49.6675 32.3379 49.6675C31.8574 49.6675 31.459 49.8491 31.1426 50.2124C30.8301 50.5718 30.6738 51.0269 30.6738 51.5776V54.9995H29.7129V48.9995H30.6738V49.9956H30.6973C31.1504 49.2378 31.8066 48.8589 32.666 48.8589C33.3223 48.8589 33.8242 49.0718 34.1719 49.4976C34.5195 49.9194 34.6934 50.5308 34.6934 51.3315V54.9995Z" fill="#F3F3F3"/>
			<path d="M41.6309 54.9995H40.6699V53.98H40.6465C40.2012 54.7534 39.5137 55.1401 38.584 55.1401C37.8301 55.1401 37.2266 54.8726 36.7734 54.3374C36.3242 53.7983 36.0996 53.0659 36.0996 52.1401C36.0996 51.1479 36.3496 50.353 36.8496 49.7554C37.3496 49.1577 38.0156 48.8589 38.8477 48.8589C39.6719 48.8589 40.2715 49.1831 40.6465 49.8315H40.6699V46.1167H41.6309V54.9995ZM40.6699 52.2866V51.4019C40.6699 50.9175 40.5098 50.5073 40.1895 50.1714C39.8691 49.8354 39.4629 49.6675 38.9707 49.6675C38.3848 49.6675 37.9238 49.8823 37.5879 50.312C37.252 50.7417 37.084 51.3354 37.084 52.0933C37.084 52.7847 37.2441 53.3315 37.5645 53.7339C37.8887 54.1323 38.3223 54.3315 38.8652 54.3315C39.4004 54.3315 39.834 54.1382 40.166 53.7515C40.502 53.3647 40.6699 52.8765 40.6699 52.2866Z" fill="#F3F3F3"/>
			<path d="M48.3984 52.2397H44.1621C44.1777 52.9077 44.3574 53.4233 44.7012 53.7866C45.0449 54.1499 45.5176 54.3315 46.1191 54.3315C46.7949 54.3315 47.416 54.1089 47.9824 53.6636V54.5659C47.4551 54.9487 46.7578 55.1401 45.8906 55.1401C45.043 55.1401 44.377 54.8687 43.8926 54.3257C43.4082 53.7788 43.166 53.0112 43.166 52.0229C43.166 51.0894 43.4297 50.3296 43.957 49.7437C44.4883 49.1538 45.1465 48.8589 45.9316 48.8589C46.7168 48.8589 47.3242 49.1128 47.7539 49.6206C48.1836 50.1284 48.3984 50.8335 48.3984 51.7358V52.2397ZM47.4141 51.4253C47.4102 50.8706 47.2754 50.439 47.0098 50.1304C46.748 49.8218 46.3828 49.6675 45.9141 49.6675C45.4609 49.6675 45.0762 49.8296 44.7598 50.1538C44.4434 50.478 44.248 50.9019 44.1738 51.4253H47.4141Z" fill="#F3F3F3"/>
			<path d="M52.9863 49.9722C52.8184 49.8433 52.5762 49.7788 52.2598 49.7788C51.8496 49.7788 51.5059 49.9722 51.2285 50.3589C50.9551 50.7456 50.8184 51.2729 50.8184 51.9409V54.9995H49.8574V48.9995H50.8184V50.2358H50.8418C50.9785 49.814 51.1875 49.4858 51.4688 49.2515C51.75 49.0132 52.0645 48.894 52.4121 48.894C52.6621 48.894 52.8535 48.9214 52.9863 48.9761V49.9722Z" fill="#F3F3F3"/>
			<path d="M48.582 21.9995C48.582 34.1498 38.7323 43.9995 26.582 43.9995C14.4318 43.9995 4.58203 34.1498 4.58203 21.9995C4.58203 9.84925 14.4318 -0.000488281 26.582 -0.000488281C38.7323 -0.000488281 48.582 9.84925 48.582 21.9995Z" fill="url(#paint0_linear)" fill-opacity="0.24"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.582 41.9995C37.6277 41.9995 46.582 33.0452 46.582 21.9995C46.582 10.9538 37.6277 1.99951 26.582 1.99951C15.5363 1.99951 6.58203 10.9538 6.58203 21.9995C6.58203 33.0452 15.5363 41.9995 26.582 41.9995ZM26.582 41.7614C37.4962 41.7614 46.3439 32.9137 46.3439 21.9995C46.3439 11.0853 37.4962 2.23761 26.582 2.23761C15.6678 2.23761 6.82013 11.0853 6.82013 21.9995C6.82013 32.9137 15.6678 41.7614 26.582 41.7614Z" fill="url(#paint1_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 39.7374C36.3783 39.7374 44.3199 31.7958 44.3199 21.9993C44.3199 12.2028 36.3783 4.26123 26.5818 4.26123C16.7854 4.26123 8.84375 12.2028 8.84375 21.9993C8.84375 31.7958 16.7854 39.7374 26.5818 39.7374ZM26.5816 38.3683C35.6219 38.3683 42.9506 31.0396 42.9506 21.9993C42.9506 12.9589 35.6219 5.63022 26.5816 5.63022C17.5412 5.63022 10.2125 12.9589 10.2125 21.9993C10.2125 31.0396 17.5412 38.3683 26.5816 38.3683Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 39.7374C36.3783 39.7374 44.3199 31.7958 44.3199 21.9993C44.3199 12.2028 36.3783 4.26123 26.5818 4.26123C16.7854 4.26123 8.84375 12.2028 8.84375 21.9993C8.84375 31.7958 16.7854 39.7374 26.5818 39.7374ZM26.5816 38.3683C35.6219 38.3683 42.9506 31.0396 42.9506 21.9993C42.9506 12.9589 35.6219 5.63022 26.5816 5.63022C17.5412 5.63022 10.2125 12.9589 10.2125 21.9993C10.2125 31.0396 17.5412 38.3683 26.5816 38.3683Z" fill="url(#paint2_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5822 41.7616C37.4964 41.7616 46.3441 32.9139 46.3441 21.9997C46.3441 11.0855 37.4964 2.23779 26.5822 2.23779C15.668 2.23779 6.82031 11.0855 6.82031 21.9997C6.82031 32.9139 15.668 41.7616 26.5822 41.7616ZM26.5818 39.4127C36.1987 39.4127 43.9947 31.6167 43.9947 21.9998C43.9947 12.3829 36.1987 4.58695 26.5818 4.58695C16.965 4.58695 9.16899 12.3829 9.16899 21.9998C9.16899 31.6167 16.965 39.4127 26.5818 39.4127Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5822 41.7616C37.4964 41.7616 46.3441 32.9139 46.3441 21.9997C46.3441 11.0855 37.4964 2.23779 26.5822 2.23779C15.668 2.23779 6.82031 11.0855 6.82031 21.9997C6.82031 32.9139 15.668 41.7616 26.5822 41.7616ZM26.5818 39.4127C36.1987 39.4127 43.9947 31.6167 43.9947 21.9998C43.9947 12.3829 36.1987 4.58695 26.5818 4.58695C16.965 4.58695 9.16899 12.3829 9.16899 21.9998C9.16899 31.6167 16.965 39.4127 26.5818 39.4127Z" fill="url(#paint3_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 39.7374C36.3783 39.7374 44.3199 31.7958 44.3199 21.9993C44.3199 12.2028 36.3783 4.26123 26.5818 4.26123C16.7854 4.26123 8.84375 12.2028 8.84375 21.9993C8.84375 31.7958 16.7854 39.7374 26.5818 39.7374ZM26.582 39.4993C36.247 39.4993 44.082 31.6643 44.082 21.9993C44.082 12.3343 36.247 4.49927 26.582 4.49927C16.917 4.49927 9.08203 12.3343 9.08203 21.9993C9.08203 31.6643 16.917 39.4993 26.582 39.4993Z" fill="url(#paint4_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.582 39.4995C36.247 39.4995 44.082 31.6645 44.082 21.9995C44.082 12.3345 36.247 4.49951 26.582 4.49951C16.917 4.49951 9.08203 12.3345 9.08203 21.9995C9.08203 31.6645 16.917 39.4995 26.582 39.4995ZM26.582 39.3209C36.1484 39.3209 43.9035 31.5659 43.9035 21.9995C43.9035 12.4332 36.1484 4.67808 26.582 4.67808C17.0157 4.67808 9.2606 12.4332 9.2606 21.9995C9.2606 31.5659 17.0157 39.3209 26.582 39.3209Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.582 39.4995C36.247 39.4995 44.082 31.6645 44.082 21.9995C44.082 12.3345 36.247 4.49951 26.582 4.49951C16.917 4.49951 9.08203 12.3345 9.08203 21.9995C9.08203 31.6645 16.917 39.4995 26.582 39.4995ZM26.582 39.3209C36.1484 39.3209 43.9035 31.5659 43.9035 21.9995C43.9035 12.4332 36.1484 4.67808 26.582 4.67808C17.0157 4.67808 9.2606 12.4332 9.2606 21.9995C9.2606 31.5659 17.0157 39.3209 26.582 39.3209Z" fill="url(#paint5_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5826 38.7853C35.8531 38.7853 43.3683 31.2701 43.3683 21.9996C43.3683 12.7291 35.8531 5.21387 26.5826 5.21387C17.3121 5.21387 9.79688 12.7291 9.79688 21.9996C9.79688 31.2701 17.3121 38.7853 26.5826 38.7853ZM26.5825 38.6067C35.7544 38.6067 43.1897 31.1714 43.1897 21.9995C43.1897 12.8276 35.7544 5.39237 26.5825 5.39237C17.4106 5.39237 9.97538 12.8276 9.97538 21.9995C9.97538 31.1714 17.4106 38.6067 26.5825 38.6067Z" fill="#2B2431"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5826 38.7853C35.8531 38.7853 43.3683 31.2701 43.3683 21.9996C43.3683 12.7291 35.8531 5.21387 26.5826 5.21387C17.3121 5.21387 9.79688 12.7291 9.79688 21.9996C9.79688 31.2701 17.3121 38.7853 26.5826 38.7853ZM26.5825 38.6067C35.7544 38.6067 43.1897 31.1714 43.1897 21.9995C43.1897 12.8276 35.7544 5.39237 26.5825 5.39237C17.4106 5.39237 9.97538 12.8276 9.97538 21.9995C9.97538 31.1714 17.4106 38.6067 26.5825 38.6067Z" fill="url(#paint6_linear)"/>
			<path d="M43.0689 21.9617C43.0689 31.0864 35.6718 38.4834 26.5471 38.4834C17.4224 38.4834 10.0254 31.0864 10.0254 21.9617C10.0254 12.837 17.4224 5.43994 26.5471 5.43994C35.6718 5.43994 43.0689 12.837 43.0689 21.9617Z" fill="#2B2431"/>
			<path d="M43.0689 21.9617C43.0689 31.0864 35.6718 38.4834 26.5471 38.4834C17.4224 38.4834 10.0254 31.0864 10.0254 21.9617C10.0254 12.837 17.4224 5.43994 26.5471 5.43994C35.6718 5.43994 43.0689 12.837 43.0689 21.9617Z" fill="url(#paint7_linear)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M26.5818 38.6069C35.7536 38.6069 43.1889 31.1716 43.1889 21.9997C43.1889 12.8278 35.7536 5.39258 26.5818 5.39258C17.4099 5.39258 9.97461 12.8278 9.97461 21.9997C9.97461 31.1716 17.4099 38.6069 26.5818 38.6069ZM26.5811 38.3688C35.6215 38.3688 42.9501 31.0401 42.9501 21.9998C42.9501 12.9594 35.6215 5.63071 26.5811 5.63071C17.5407 5.63071 10.212 12.9594 10.212 21.9998C10.212 31.0401 17.5407 38.3688 26.5811 38.3688Z" fill="url(#paint8_linear)"/>
			<path d="M29.1319 14.7286C28.8912 14.7286 28.6846 14.5571 28.6404 14.3205L28.3718 12.8837C28.3275 12.6471 28.121 12.4756 27.8803 12.4756H18.5098C18.2336 12.4756 18.0098 12.6994 18.0098 12.9756V31.0232C18.0098 31.2993 18.2336 31.5232 18.5098 31.5232H19.759C20.0351 31.5232 20.259 31.2993 20.259 31.0232V24.1995C20.259 23.9233 20.4828 23.6995 20.759 23.6995H26.2746C26.5138 23.6995 26.7195 23.869 26.7653 24.1038L27.0373 25.4987C27.0831 25.7335 27.2888 25.903 27.528 25.903H34.6526C34.9288 25.903 35.1526 25.6791 35.1526 25.403V15.2286C35.1526 14.9525 34.9288 14.7286 34.6526 14.7286H29.1319Z" fill="white"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M28.8633 12.7918L29.1319 14.2286H34.6526C35.2049 14.2286 35.6526 14.6763 35.6526 15.2286V25.403C35.6526 25.9553 35.2049 26.403 34.6526 26.403H27.528C27.0495 26.403 26.6381 26.064 26.5465 25.5944L26.2746 24.1995H20.759V31.0232C20.759 31.5755 20.3113 32.0232 19.759 32.0232H18.5098C17.9575 32.0232 17.5098 31.5755 17.5098 31.0232V12.9756C17.5098 12.4233 17.9575 11.9756 18.5098 11.9756H27.8803C28.3617 11.9756 28.7748 12.3186 28.8633 12.7918ZM28.6404 14.3205C28.6846 14.5571 28.8912 14.7286 29.1319 14.7286H34.6526C34.9288 14.7286 35.1526 14.9525 35.1526 15.2286V25.403C35.1526 25.6791 34.9288 25.903 34.6526 25.903H27.528C27.2888 25.903 27.0831 25.7335 27.0373 25.4987L26.7653 24.1038C26.7195 23.869 26.5138 23.6995 26.2746 23.6995H20.759C20.4828 23.6995 20.259 23.9233 20.259 24.1995V31.0232C20.259 31.2993 20.0351 31.5232 19.759 31.5232H18.5098C18.2336 31.5232 18.0098 31.2993 18.0098 31.0232V12.9756C18.0098 12.6994 18.2336 12.4756 18.5098 12.4756H27.8803C28.121 12.4756 28.3275 12.6471 28.3718 12.8837L28.6404 14.3205Z" fill="url(#paint9_linear)"/>
			<defs>
				<linearGradient id="paint0_linear" x1="26.582" y1="-0.000488281" x2="26.582" y2="43.9995" gradientUnits="userSpaceOnUse">
					<stop/>
					<stop offset="1" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear" x1="6.0487" y1="39.7622" x2="56.2935" y2="31.8387" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint2_linear" x1="42.0511" y1="13.1715" x2="11.0713" y2="30.2496" gradientUnits="userSpaceOnUse">
					<stop stop-color="#0B080F"/>
					<stop offset="0.526042" stop-color="#2E213C"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint3_linear" x1="43.8164" y1="12.1647" x2="9.30204" y2="31.1913" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint4_linear" x1="8.37073" y1="37.7532" x2="52.9331" y2="30.7257" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint5_linear" x1="36.5472" y1="36.7443" x2="18.2863" y2="6.30955" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint6_linear" x1="36.141" y1="36.1426" x2="18.6255" y2="6.95003" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint7_linear" x1="40.9556" y1="13.7392" x2="12.1002" y2="29.6462" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint8_linear" x1="9.53175" y1="36.7491" x2="51.2529" y2="30.1697" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint9_linear" x1="14.5177" y1="32.5814" x2="42.3727" y2="31.5006" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.453125" stop-color="white" stop-opacity="0.32"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
			</defs>
		</svg>
	</div>
</div>
<p><b>Surrender</b> — If player is not sure his cards can win, he can take a half of his bet
	back without a possibility to continue playing on this hand.</p>
<div class="display-flex-center-column">
	<div class="svg">
		<svg width="94" height="44" viewBox="0 0 94 44" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_evenMoney)">
				<path d="M0 21.9995C0 9.84925 9.84974 -0.000488281 22 -0.000488281H72C84.1503 -0.000488281 94 9.84925 94 21.9995V21.9995C94 34.1498 84.1503 43.9995 72 43.9995H22C9.84973 43.9995 0 34.1498 0 21.9995V21.9995Z" fill="url(#paint0_linear_evenMoney)" fill-opacity="0.24"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 1.99951C10.9543 1.99951 2 10.9538 2 21.9995C2 33.0452 10.9543 41.9995 22 41.9995H72C83.0457 41.9995 92 33.0452 92 21.9995C92 10.9538 83.0457 1.99951 72 1.99951H22ZM22 2.23761C11.0858 2.23761 2.2381 11.0853 2.2381 21.9995C2.2381 32.9137 11.0858 41.7614 22 41.7614H71.9962C82.9104 41.7614 91.7581 32.9137 91.7581 21.9995C91.7581 11.0853 82.9104 2.23761 71.9962 2.23761H22Z" fill="url(#paint1_linear_evenMoney)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 5.39237C12.8281 5.39237 5.39286 12.8276 5.39286 21.9995C5.39286 31.1714 12.8281 38.6067 22 38.6067H71.9957C81.1676 38.6067 88.6029 31.1714 88.6029 21.9995C88.6029 12.8276 81.1676 5.39237 71.9957 5.39237H22Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 5.39237C12.8281 5.39237 5.39286 12.8276 5.39286 21.9995C5.39286 31.1714 12.8281 38.6067 22 38.6067H71.9957C81.1676 38.6067 88.6029 31.1714 88.6029 21.9995C88.6029 12.8276 81.1676 5.39237 71.9957 5.39237H22Z" fill="url(#paint2_linear_evenMoney)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23779C11.086 2.23779 2.23828 11.0855 2.23828 21.9997C2.23828 32.9139 11.086 41.7616 22.0002 41.7616H71.9964C82.9106 41.7616 91.7583 32.9139 91.7583 21.9997C91.7583 11.0855 82.9106 2.23779 71.9964 2.23779H22.0002ZM22.0002 4.26166C12.2038 4.26166 4.26215 12.2033 4.26215 21.9998C4.26215 31.7962 12.2038 39.7379 22.0003 39.7379H72.0041C81.8005 39.7379 89.7421 31.7962 89.7421 21.9998C89.7421 12.2033 81.8005 4.26166 72.0041 4.26166H22.0002Z" fill="#4CFF9F"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0002 2.23779C11.086 2.23779 2.23828 11.0855 2.23828 21.9997C2.23828 32.9139 11.086 41.7616 22.0002 41.7616H71.9964C82.9106 41.7616 91.7583 32.9139 91.7583 21.9997C91.7583 11.0855 82.9106 2.23779 71.9964 2.23779H22.0002ZM22.0002 4.26166C12.2038 4.26166 4.26215 12.2033 4.26215 21.9998C4.26215 31.7962 12.2038 39.7379 22.0003 39.7379H72.0041C81.8005 39.7379 89.7421 31.7962 89.7421 21.9998C89.7421 12.2033 81.8005 4.26166 72.0041 4.26166H22.0002Z" fill="url(#paint3_linear_evenMoney)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21387C12.7301 5.21387 5.21484 12.7291 5.21484 21.9996C5.21484 31.2701 12.73 38.7853 22.0005 38.7853H71.9991C81.2696 38.7853 88.7848 31.2701 88.7848 21.9996C88.7848 12.7291 81.2696 5.21387 71.9991 5.21387H22.0006ZM22.0006 5.39237C12.8287 5.39237 5.39347 12.8276 5.39347 21.9995C5.39347 31.1714 12.8288 38.6067 22.0006 38.6067H71.9963C81.1682 38.6067 88.6035 31.1714 88.6035 21.9995C88.6035 12.8276 81.1682 5.39237 71.9963 5.39237H22.0006Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 5.21387C12.7301 5.21387 5.21484 12.7291 5.21484 21.9996C5.21484 31.2701 12.73 38.7853 22.0005 38.7853H71.9991C81.2696 38.7853 88.7848 31.2701 88.7848 21.9996C88.7848 12.7291 81.2696 5.21387 71.9991 5.21387H22.0006ZM22.0006 5.39237C12.8287 5.39237 5.39347 12.8276 5.39347 21.9995C5.39347 31.1714 12.8288 38.6067 22.0006 38.6067H71.9963C81.1682 38.6067 88.6035 31.1714 88.6035 21.9995C88.6035 12.8276 81.1682 5.39237 71.9963 5.39237H22.0006Z" fill="url(#paint4_linear_evenMoney)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 4.67808C12.4336 4.67808 4.67857 12.4331 4.67857 21.9995C4.67857 31.5659 12.4337 39.3209 22 39.3209H71.9971C81.5635 39.3209 89.3186 31.5659 89.3186 21.9995C89.3186 12.4331 81.5635 4.67808 71.9971 4.67808H22Z" fill="#2B2431"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22 4.49951C12.335 4.49951 4.5 12.3345 4.5 21.9995C4.5 31.6645 12.335 39.4995 22 39.4995H72C81.665 39.4995 89.5 31.6645 89.5 21.9995C89.5 12.3345 81.665 4.49951 72 4.49951H22ZM22 4.67808C12.4336 4.67808 4.67857 12.4331 4.67857 21.9995C4.67857 31.5659 12.4337 39.3209 22 39.3209H71.9971C81.5635 39.3209 89.3186 31.5659 89.3186 21.9995C89.3186 12.4331 81.5635 4.67808 71.9971 4.67808H22Z" fill="url(#paint5_linear_evenMoney)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9998 4.26123C12.2033 4.26123 4.26172 12.2028 4.26172 21.9993C4.26172 31.7958 12.2033 39.7374 21.9998 39.7374H72.0036C81.8001 39.7374 89.7417 31.7958 89.7417 21.9993C89.7417 12.2028 81.8001 4.26123 72.0036 4.26123H21.9998ZM21.9998 4.49927C12.3348 4.49927 4.49976 12.3343 4.49976 21.9993C4.49976 31.6643 12.3348 39.4993 21.9998 39.4993H71.9998C81.6647 39.4993 89.4998 31.6643 89.4998 21.9993C89.4998 12.3343 81.6647 4.49927 71.9998 4.49927H21.9998Z" fill="url(#paint6_linear_evenMoney)"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.9997 5.39258C12.8279 5.39258 5.39258 12.8278 5.39258 21.9997C5.39258 31.1716 12.8279 38.6069 21.9997 38.6069H71.9954C81.1673 38.6069 88.6026 31.1716 88.6026 21.9997C88.6026 12.8278 81.1673 5.39258 71.9954 5.39258H21.9997ZM21.9998 5.63071C12.9594 5.63071 5.63071 12.9594 5.63071 21.9998C5.63071 31.0401 12.9594 38.3688 21.9998 38.3688H72.0017C81.042 38.3688 88.3707 31.0401 88.3707 21.9998C88.3707 12.9594 81.042 5.63071 72.0017 5.63071H21.9998Z" fill="url(#paint7_linear_evenMoney)"/>
				<path d="M5.63086 21.9994C5.63086 12.959 12.9595 5.63037 21.9999 5.63037H72.0018C81.0422 5.63037 88.3709 12.959 88.3709 21.9994V21.9994C88.3709 31.0398 81.0422 38.3685 72.0018 38.3685H21.9999C12.9595 38.3685 5.63086 31.0398 5.63086 21.9994V21.9994Z" fill="#4CFF9F"/>
				<path d="M5.63086 21.9994C5.63086 12.959 12.9595 5.63037 21.9999 5.63037H72.0018C81.0422 5.63037 88.3709 12.959 88.3709 21.9994V21.9994C88.3709 31.0398 81.0422 38.3685 72.0018 38.3685H21.9999C12.9595 38.3685 5.63086 31.0398 5.63086 21.9994V21.9994Z" fill="url(#paint8_linear_evenMoney)"/>
				<path d="M20.3281 25.9995H15.875V17.5972H20.1406V18.4878H16.8594V21.2827H19.8945V22.1675H16.8594V25.1089H20.3281V25.9995Z" fill="white"/>
				<path d="M26.5332 19.9995L24.1426 25.9995H23.1992L20.9258 19.9995H21.9805L23.5039 24.3589C23.6172 24.6792 23.6875 24.9585 23.7148 25.1968H23.7383C23.7773 24.896 23.8398 24.6245 23.9258 24.3823L25.5195 19.9995H26.5332Z" fill="white"/>
				<path d="M32.3926 23.2397H28.1562C28.1719 23.9077 28.3516 24.4233 28.6953 24.7866C29.0391 25.1499 29.5117 25.3315 30.1133 25.3315C30.7891 25.3315 31.4102 25.1089 31.9766 24.6636V25.5659C31.4492 25.9487 30.752 26.1401 29.8848 26.1401C29.0371 26.1401 28.3711 25.8687 27.8867 25.3257C27.4023 24.7788 27.1602 24.0112 27.1602 23.0229C27.1602 22.0894 27.4238 21.3296 27.9512 20.7437C28.4824 20.1538 29.1406 19.8589 29.9258 19.8589C30.7109 19.8589 31.3184 20.1128 31.748 20.6206C32.1777 21.1284 32.3926 21.8335 32.3926 22.7358V23.2397ZM31.4082 22.4253C31.4043 21.8706 31.2695 21.439 31.0039 21.1304C30.7422 20.8218 30.377 20.6675 29.9082 20.6675C29.4551 20.6675 29.0703 20.8296 28.7539 21.1538C28.4375 21.478 28.2422 21.9019 28.168 22.4253H31.4082Z" fill="white"/>
				<path d="M38.832 25.9995H37.8711V22.5776C37.8711 21.3042 37.4062 20.6675 36.4766 20.6675C35.9961 20.6675 35.5977 20.8491 35.2812 21.2124C34.9688 21.5718 34.8125 22.0269 34.8125 22.5776V25.9995H33.8516V19.9995H34.8125V20.9956H34.8359C35.2891 20.2378 35.9453 19.8589 36.8047 19.8589C37.4609 19.8589 37.9629 20.0718 38.3105 20.4976C38.6582 20.9194 38.832 21.5308 38.832 22.3315V25.9995Z" fill="white"/>
				<path d="M52.4609 25.9995H51.5V22.5542C51.5 21.8901 51.3965 21.4097 51.1895 21.1128C50.9863 20.8159 50.6426 20.6675 50.1582 20.6675C49.748 20.6675 49.3984 20.855 49.1094 21.23C48.8242 21.605 48.6816 22.0542 48.6816 22.5776V25.9995H47.7207V22.437C47.7207 21.2573 47.2656 20.6675 46.3555 20.6675C45.9336 20.6675 45.5859 20.8452 45.3125 21.2007C45.0391 21.5522 44.9023 22.0112 44.9023 22.5776V25.9995H43.9414V19.9995H44.9023V20.9487H44.9258C45.3516 20.2222 45.9727 19.8589 46.7891 19.8589C47.1992 19.8589 47.5566 19.9741 47.8613 20.2046C48.166 20.4312 48.375 20.73 48.4883 21.1011C48.9336 20.2729 49.5977 19.8589 50.4805 19.8589C51.8008 19.8589 52.4609 20.6733 52.4609 22.3022V25.9995Z" fill="white"/>
				<path d="M56.7852 26.1401C55.8984 26.1401 55.1895 25.8608 54.6582 25.3022C54.1309 24.7397 53.8672 23.9956 53.8672 23.0698C53.8672 22.062 54.1426 21.2749 54.6934 20.7085C55.2441 20.1421 55.9883 19.8589 56.9258 19.8589C57.8203 19.8589 58.5176 20.1343 59.0176 20.6851C59.5215 21.2358 59.7734 21.9995 59.7734 22.9761C59.7734 23.9331 59.502 24.7007 58.959 25.2788C58.4199 25.853 57.6953 26.1401 56.7852 26.1401ZM56.8555 20.6675C56.2383 20.6675 55.75 20.8784 55.3906 21.3003C55.0312 21.7183 54.8516 22.2964 54.8516 23.0347C54.8516 23.7456 55.0332 24.3062 55.3965 24.7163C55.7598 25.1265 56.2461 25.3315 56.8555 25.3315C57.4766 25.3315 57.9531 25.1304 58.2852 24.728C58.6211 24.3257 58.7891 23.7534 58.7891 23.0112C58.7891 22.2612 58.6211 21.6831 58.2852 21.2769C57.9531 20.8706 57.4766 20.6675 56.8555 20.6675Z" fill="white"/>
				<path d="M66.2891 25.9995H65.3281V22.5776C65.3281 21.3042 64.8633 20.6675 63.9336 20.6675C63.4531 20.6675 63.0547 20.8491 62.7383 21.2124C62.4258 21.5718 62.2695 22.0269 62.2695 22.5776V25.9995H61.3086V19.9995H62.2695V20.9956H62.293C62.7461 20.2378 63.4023 19.8589 64.2617 19.8589C64.918 19.8589 65.4199 20.0718 65.7676 20.4976C66.1152 20.9194 66.2891 21.5308 66.2891 22.3315V25.9995Z" fill="white"/>
				<path d="M72.9277 23.2397H68.6914C68.707 23.9077 68.8867 24.4233 69.2305 24.7866C69.5742 25.1499 70.0469 25.3315 70.6484 25.3315C71.3242 25.3315 71.9453 25.1089 72.5117 24.6636V25.5659C71.9844 25.9487 71.2871 26.1401 70.4199 26.1401C69.5723 26.1401 68.9062 25.8687 68.4219 25.3257C67.9375 24.7788 67.6953 24.0112 67.6953 23.0229C67.6953 22.0894 67.959 21.3296 68.4863 20.7437C69.0176 20.1538 69.6758 19.8589 70.4609 19.8589C71.2461 19.8589 71.8535 20.1128 72.2832 20.6206C72.7129 21.1284 72.9277 21.8335 72.9277 22.7358V23.2397ZM71.9434 22.4253C71.9395 21.8706 71.8047 21.439 71.5391 21.1304C71.2773 20.8218 70.9121 20.6675 70.4434 20.6675C69.9902 20.6675 69.6055 20.8296 69.2891 21.1538C68.9727 21.478 68.7773 21.9019 68.7031 22.4253H71.9434Z" fill="white"/>
				<path d="M79.1621 19.9995L76.4023 26.9604C75.9102 28.2026 75.2188 28.8237 74.3281 28.8237C74.0781 28.8237 73.8691 28.7983 73.7012 28.7476V27.8862C73.9082 27.9565 74.0977 27.9917 74.2695 27.9917C74.7539 27.9917 75.1172 27.7026 75.3594 27.1245L75.8398 25.9878L73.4961 19.9995H74.5625L76.1855 24.6167C76.2051 24.6753 76.2461 24.8276 76.3086 25.0737H76.3438C76.3633 24.98 76.4023 24.8315 76.4609 24.6284L78.166 19.9995H79.1621Z" fill="white"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_evenMoney" x1="31.5" y1="-0.000489199" x2="75.5" y2="43.9995" gradientUnits="userSpaceOnUse">
					<stop/>
					<stop offset="1" stop-color="white"/>
				</linearGradient>
				<linearGradient id="paint1_linear_evenMoney" x1="0.800001" y1="39.7622" x2="103.706" y2="3.24865" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint2_linear_evenMoney" x1="84.064" y1="13.2902" x2="49.4036" y2="59.693" gradientUnits="userSpaceOnUse">
					<stop stop-color="#0B080F"/>
					<stop offset="0.526042" stop-color="#2E213C"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint3_linear_evenMoney" x1="86.0332" y1="12.1647" x2="46.2009" y2="61.8991" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<linearGradient id="paint4_linear_evenMoney" x1="70.7939" y1="36.1426" x2="61.7499" y2="-1.37943" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint5_linear_evenMoney" x1="71.2012" y1="36.7443" x2="61.5633" y2="-2.26586" gradientUnits="userSpaceOnUse">
					<stop stop-color="#110C15"/>
					<stop offset="0.526042" stop-color="#42354F"/>
					<stop offset="1" stop-color="#110C15"/>
				</linearGradient>
				<linearGradient id="paint6_linear_evenMoney" x1="3.12199" y1="37.7532" x2="99.2817" y2="1.21472" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint7_linear_evenMoney" x1="4.28311" y1="36.7491" x2="96.9417" y2="0.142005" gradientUnits="userSpaceOnUse">
					<stop stop-color="white" stop-opacity="0"/>
					<stop offset="0.401391" stop-color="white"/>
					<stop offset="1" stop-color="white" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint8_linear_evenMoney" x1="83.0793" y1="13.853" x2="51.0468" y2="58.4816" gradientUnits="userSpaceOnUse">
					<stop stop-color="#1F1727"/>
					<stop offset="0.526042" stop-color="#534462"/>
					<stop offset="1" stop-color="#1F1727"/>
				</linearGradient>
				<clipPath id="clip0_evenMoney">
					<rect width="94" height="44" fill="white" transform="translate(0 -0.000488281)"/>
				</clipPath>
			</defs>
		</svg>
	</div>
</div>
<p><b>Even money</b> — If the player has "Blackjack" already and the first dealer's card is Ace, he has a
	right to take an amount of his bet (1:1) as a prize without a possibility to continue
	playing on this hand.</p>

<h2>The rules how a dealer should improve his hand</h2>
<p>It depends not on wishes of a dealer but on the amount of points on his hand. If he
	has 16 or less he MUST take additional card, and MUST stop if he has 17 or more
	even if a player's hand has more.</p>