@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.VideoPanel__Portrait {
  position: relative;
  width: 100%;
  height: auto;
}