@import "~bootstrap/scss/functions";
@import "../../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../../assets/scss/utilities/functions";

.ChipPanel__Landscape {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .45s linear;

  &.down {
    transform: scale(0.9) translateY(100%);
  }

  .Section {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      font-family: var(--font-family-sans-serif);
      font-size: 0.7em;
      line-height: 1.25;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      text-transform: uppercase;
      color: var(--white);
    }

    .MuiButtonBase-root {
      margin: 0;
      padding: 0;
      width: 46px;
      height: 46px;
      min-width: 46px;
      min-height: 46px;
      border-radius: 50%;

      svg {
        fill: var(--white);
      }
    }

    &.undo {
      .title {
        transform: translate3d(0, -50%, 0);
      }

      .MuiButtonBase-root {
        border-color: var(--gray);
        background-color: rgba(0, 0, 0, 0.75);
      }
    }

    &.chips {
      .Chip {
        position: absolute;
        top: 0;
        left: 0;
        width: 54px;
        height: 54px;
        transform: translate3d(3px, 0, 0);
        z-index: 1;

        &.index-0 {
          transform: translate3d(3px, 2px, 0);
        }
        &.index-1 {
          transform: translate3d(3px, 4px, 0);
        }
        &.index-2 {
          transform: translate3d(3px, 6px, 0);
        }
        &.index-3 {
          transform: translate3d(3px, 8px, 0);
        }
        &.index-4 {
          transform: translate3d(3px, 10px, 0);
        }

        &.active {
          z-index: 10 !important;
          transform: translate3d(3px, 0, 0) !important;
        }
      }
    }

    &.repeat {
      .title {
        top: 100%;
        transform: translate3d(0, -50%, 0);
      }

      .MuiButtonBase-root {
        border-color: var(--red);
        background-color: rgba(255, 0, 0, 0.75);
      }
    }
  }

  .Chips__Full {
    padding: 8px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--gray-dark);

    .Chip {
      width: 42px;
      height: 42px;
      border-radius: 50%;

      &.active {
        border: 2px solid var(--primary);
      }
    }
  }
}