@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

.Settings {
  width: 50%;
  height: responseCalc(60px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;

  &__Panel {
    margin-bottom: responseCalc(4px);
    width: 35%;
    height: responseCalc(60px);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;

    .Setting {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .MuiButtonBase-root {
        border: 1px solid var(--white);
        min-width: 24px;
        min-height: 24px;
        width: responseCalc(48px);
        height: responseCalc(48px);
        margin: 0;
        padding: 0;
        background-color: rgba(52, 58, 64, 0.6);

        &:hover {
          background-color: var(--primary);
        }
      }

      svg {
        width: responseCalc(24px);
        height: responseCalc(24px);
        fill: var(--white);
      }
    }
  }

  &__Details {
    padding: responseCalc(4px) 0;
    width: 35%;
    height: responseCalc(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(16px);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.6);

    .Detail {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        &:first-of-type {
          text-transform: uppercase;
        }
        &:nth-of-type(2) {
          color: var(--yellow);
        }
      }
    }
  }

  &__Window {
    width: 100% !important;
  }

  .close-window {
    svg {
      width: responseCalc(36px);
      height: responseCalc(36px);
      fill: var(--primary);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
