@import "~bootstrap/scss/functions";
@import "../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../assets/scss/utilities/functions";

.History {
  width: 80%;
  margin-left: 20%;
  color: white;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;

  &__Header {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: responseCalc(36px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(108, 117, 125, 0.6);

    h1 {
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      font-family: var(--font-family-sans-serif);
      font-weight: 400;
      font-size: responseCalc(18px);
      text-transform: uppercase;
      color: var(--white);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    }

    svg {
      width: responseCalc(24px);
      height: responseCalc(24px);
      fill: white;
    }
  }

  &__Close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(-50%, 0, 0);

    &:hover {
      cursor: pointer;
    }
  }

  .Table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__Row, &__Body {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-grow: 1;
    }

    &__Body {
      margin: responseCalc(8px) 0;
      flex-direction: column;
    }

    &__Row {
      &.data-row {
        height: responseCalc(36px);
      }

      &.head {
        color: var(--yellow);
      }
    }

    &__Col {
      padding: responseCalc(8px);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: var(--font-family-sans-serif);
      font-weight: 400;
      font-size: responseCalc(18px);
      color: var(--white);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      border-bottom: 1px solid var(--gray);

      &.loader {
        margin: responseCalc(32px) 0;
        justify-content: center;

        .css-1d9ls5a {
          width: responseCalc(32px);
          height: responseCalc(32px);
        }
      }

      &.data-cell {
        font-size: responseCalc(16px);
      }

      &.date {
        flex-basis: responseCalc(180px);
        flex-grow: 2;
        flex-shrink: 0;
        color: var(--yellow);
      }

      &.head {
        color: var(--primary);
      }

      &.red {
        color: var(--red);
      }

      &.green {
        color: var(--green);
      }

      &.winLose {
        justify-content: center;
        text-align: center;
        font-weight: 600;
      }

      &.bet-name {
        flex-basis: responseCalc(140px);
        flex-grow: 2;
        flex-shrink: 0;
      }

      &.Player, &.PlayerPair {
        color: #0061EE;
      }

      &.Banker, &.BankerPair {
        color: #FF0F0F;
      }

      &.Tie {
        color: #0F0;
      }
    }

    &__Scrollbar {
      width: 100%;
      height: responseCalc(280px) !important;
    }
  }
}
