@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.BetPanel__Landscape {
  width: 100%;
  height: calc(100vh - 46px);
  display: flex;
  flex-grow: 1;

  &__Left, &__Right, &__Middle {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__Left, &__Right {
    flex: 60px 1 0;
    flex-shrink: 0;
  }

  .Middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__Wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.45s linear;
      perspective: 25em;

      &.down {
        transform: translate3d(0, 47%, 0);
        .BetZonesPanel__Landscape {
          transform: rotateX(36deg);
        }
      }
    }
  }
}