@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.GamePanel__Portrait {
  position: relative;
  z-index: 80;
  padding: 8px;
  width: 100%;
  // headerHeight - 48, footerHeight - 24, 1.77777 - ratio multiplier
  height: calc(100vh - calc(72px + calc(100vw / 1.77777)));
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate3d(-8%, -8%, 0) scale(0.8);
  transition: transform 1s linear;

  &.down {
    transform: translate3d(0, 0, 0) scale(1);
  }
}