@import "~bootstrap/scss/functions";
@import "../../../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../../../assets/scss/utilities/functions";

.StatisticPanel__Portrait {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 49, 49, 1);
  border-radius: 4px;

  &__Main {
    width: 100%;
    height: 36px;
    display: flex;

    .Main {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      font-family: var(--font-family-sans-serif);
      font-size: 14px;
      line-height: 1.25;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      color: var(--white);

      &__Col {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__Value {
          display: inline-block;
          padding-left: 4px;
        }

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  .BeadRoadScale {
    width: calc(100vw - 16px) !important;
    height: calc((100vw - 16px) * 0.3) !important;
  }
}