@import "~bootstrap/scss/functions";
@import "../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../assets/scss/utilities/functions";

.Help {
  width: 75%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  height: responseCalc(540px);

  &__Header, &__Body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__Header {
    height: responseCalc(40px);
    align-items: center;
    background-color: rgba(108, 117, 125, 0.6);

    h1 {
      position: relative;
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-family-sans-serif);
      font-size: responseCalc(18px);
      font-weight: 400;
      text-transform: uppercase;

      .Help__Icon {
        &__Help {
          display: inline-block;
          padding-right: responseCalc(10px);
        }

        &__Close {
          position: absolute;
          top: 0;
          right: responseCalc(15px);
          transform: translate3d(0, responseCalc(8px), 0);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__Body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.5) 100%);
  }

  svg {
    width: responseCalc(24px);
    height: responseCalc(24px);
    fill: white;
  }

}
