@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.Chat__Mobile {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__Header {
    margin-bottom: 8px;
    padding: 4px 8px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
  }

  .Header {
    &__Icon {
      padding-right: 8px;

      svg {
        width: 1.25em;
        height: 1.25em;
        fill: var(--white);
      }
    }

    &__Text {
      font-size: 0.75em;
      font-family: var(--font-family-sans-serif);
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      text-transform: uppercase;
      color: var(--white);
    }
  }

  &__Footer {
    margin-bottom: 8px;
    padding: 8px 0;
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    input {
      padding: 0 42px 0 10px;
      display: inline-block;
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: 2px solid var(--yellow);
      border-radius: 20px;
      font-size: 0.75em;
      font-family: var(--font-family-sans-serif);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      color: var(--primary);
      transition: box-shadow .45s ease-in-out;

      &:hover, &:focus, &:active, &:focus-visible {
        outline: none;
      }

      &:focus {
        box-shadow: 1px 1px 1px 2px rgba(255, 255, 255, 0.7);
      }
    }

    button {
      padding: 0;
      margin: 0;
      width: 40px;
      height: 40px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 0;
      right: 0;
      border-radius: 50%;
      border-color: transparent;
      background-color: transparent;

      &:hover, &:focus, &:active, &:focus-visible {
        outline: none;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: var(--yellow);
      }
    }
  }
}