@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

@keyframes pulse-color-green {
  0% {
    background-color: rgba(0, 200, 37, 0.35);
  }
  50% {
    background-color: rgba(0, 200, 37, 0.75);
  }
  100% {
    background-color: rgba(0, 200, 37, 0.35);
  }
}

@keyframes pulse-color-red {
  0% {
    background-color: rgba(187, 54, 45, 0.35);
  }
  50% {
    background-color: rgba(187, 54, 45, 0.75);
  }
  100% {
    background-color: rgba(187, 54, 45, 0.35);
  }
}

@keyframes pulse-color-yellow {
  0% {
    background-color: rgba(81, 81, 72, 0.35);
  }
  50% {
    background-color: rgba(81, 81, 72, 0.75);
  }
  100% {
    background-color: rgba(81, 81, 72, 0.35);
  }
}

.Header__Portrait {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__Balance__Bet {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Balance, .Bet {
      padding: 4px 8px;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      font-family: var(--font-family-sans-serif);
      font-size: 12px;
      line-height: 1.25;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      color: var(--white);

      .title {
        padding-right: 4px;
      }

      .value {
        font-weight: 600;
        color: var(--yellow);
      }
    }

    .Bet {
      justify-content: flex-end;
    }
  }

  &__RoundStatus {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .RoundStatus {
      padding: 4px 8px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--gray);
      font-family: var(--font-family-sans-serif);
      font-size: 14px;
      line-height: 1.25;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      color: var(--white);
      transition: background-position .25s linear;

      &__Title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &__Bet__Timer {
        min-width: 20px;
      }

      &.Bet {
        background-color: rgba(0, 200, 37, 0.75);
        animation-name: pulse-color-green;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
      }

      &.DealCard {
        background-color: rgba(187, 54, 45, 0.75);
      }

      &.FixRoundResult {
        background-color: rgba(81, 81, 72, 0.75);
        color: var(--yellow);
      }

      &.skipCurrentRound {
        background-color: var(--gray) !important;
        color: var(--white) !important;
      }
    }
  }
}