@import "~bootstrap/scss/functions";
@import "../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../assets/scss/utilities/functions";

#Portrait, #Landscape {
  .MobileMenu {
    max-height: calc(100vh - 1px) !important;
    overflow: hidden !important;
  }
  .bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }

  .bm-item:hover {
    color: var(--white);
  }

  .bm-burger-button {
    position: fixed;
    width: 42px;
    height: 42px;
    right: 4.75%;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.6);

    @media only screen and (max-device-height: 640.05px) and (orientation: portrait) {
      bottom: 58px;
    }

    span {
      position: relative;
      width: 18px;
      height: 12px;
    }
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--white);
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 42px !important;
    width: 42px !important;
    right: 5.45% !important;
    top: calc(100% - 118px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.6);

    @media only screen and (max-device-height: 640.05px) and (orientation: portrait) {
      top: calc(100% - 98px) !important;
    }

    & > span {
      position: absolute;
      top: 9px !important;
      right: 21px !important;
      transform: scale(1.5);
    }
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: black;
  }

  /* General sidebar styles */
  .bm-menu {
    // background: rgba(141, 77, 1, 0.95);
    background: rgba(0, 0, 0, 0.9);
    font-size: 1em;
    font-family: var(--font-family-sans-serif);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
    margin: 0;
    padding: 1em;
    width: 100%;
    height: 3em;
    display: flex !important;
    align-items: center;

    &:nth-of-type(even) {
      background-color: rgba(255, 255, 255, 0.2);
    }

    svg {
      width: 1.5em;
      height: 1.5em;
      fill: white;
    }
  }

  .menu-item-text {
    display: inline-block;
    padding-left: 1em;
    font-family: var(--font-family-sans-serif);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}