@import "~bootstrap/scss/functions";
@import "../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../assets/scss/utilities/functions";

.BetsPanel {
  .Numbers {
    &__Row {
      width: 50%;
      height: 50%;
      align-items: center;
      display: flex;
      flex-grow: 1;
    }

    &__Col {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:first-of-type {
        width: 30%;
        font-size: responseCalc(20px);
      }
    }
  }

  .Zone__Banker__Statistic__Details {
    .Details__Numbers {
      align-items: flex-end;

      .Numbers__Row {
        justify-content: flex-end;
      }
    }
  }

  .Statistic__Numbers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Numbers__Row {
      justify-content: center;
    }
  }

  .Zone__PlayerPair {
    z-index: 10;

    &.active {
      &:hover {
        cursor: pointer;

        #player-pair-shape {
          fill-opacity: 0.6;
        }
      }
    }
  }

  .Zone__Player {
    z-index: 10;

    &.active {
      &:hover {
        cursor: pointer;

        .PlayerSvg {
          fill-opacity: 0.6;
        }
      }
    }
  }

  .Zone__Tie {
    z-index: 20;

    &.active {
      &:hover {
        cursor: pointer;

        .TieSvg {
          fill-opacity: 0.6;
        }
      }
    }
  }

  .Zone__Banker {
    z-index: 10;

    &.active {
      &:hover {
        cursor: pointer;

        .BankerSvg {
          fill-opacity: 0.6;
        }
      }
    }
  }

  .Zone__BankerPair {
    z-index: 10;

    &.active {
      &:hover {
        cursor: pointer;

        #banker-pair-shape {
          fill-opacity: 0.6;
        }
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
      transform: scale(1.15);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }

  .Element {
    &.active {
      .Element__Chip {
        animation: pulse 2s infinite;
        box-shadow: 1px 1px 3px 4px rgba(255, 183, 76, 0.25);
      }
    }
  }

  .Zone__Player__Name {
    position: relative;

    .bet-chip-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: responseCalc(52px);
      height: responseCalc(52px);
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .Zone__Banker__Name {
    position: relative;

    .bet-chip-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: responseCalc(52px);
      height: responseCalc(52px);
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .Zone__Tie__Name {
    position: relative;

    .bet-chip-3 {
      position: absolute;
      top: 75%;
      left: 50%;
      width: responseCalc(52px);
      height: responseCalc(52px);
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .Zone__PlayerPair__Name {
    position: relative;

    .bet-chip-4 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: responseCalc(52px);
      height: responseCalc(52px);
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .Zone__BankerPair__Name {
    position: relative;

    .bet-chip-5 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: responseCalc(52px);
      height: responseCalc(52px);
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .Zone__Player__Statistic,
  .Zone__Tie__Statistic,
  .Zone__Banker__Statistic {
    opacity: 1;
    transition: opacity 0.45s ease-in-out;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

}
