.Chip {
  width: 80px;
  height: 80px;

  &.blue {
    .nominal {
      fill: #127cc9;
    }

    .background {
      fill: #127cc9;
    }
  }

  &.green {
    .nominal {
      fill: #12c966;
    }

    .background {
      fill: #12c966;
    }
  }

  &.orange {
    .nominal {
      fill: #c96a12;
    }

    .background {
      fill: #c96a12;
    }
  }

  &.red {
    .nominal {
      fill: #c91230;
    }

    .background {
      fill: #c91230;
    }
  }

  &.dark {
    .nominal {
      fill: #393c4c;
    }

    .background {
      fill: #393c4c;
    }
  }

  &.purple {
    .nominal {
      fill: #503251;
    }

    .background {
      fill: #503251;
    }
  }

    .nominal {
      font-family: "Anton", Roboto, Ubuntu, "Fira Sans", system-ui, -apple-system, sans-serif;
    }
}
