@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

.Limits {
  width: responseCalc(380px);
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;

  h2 {
    position: relative;
    margin-top: responseCalc(8px);
    margin-bottom: 0;
    padding: 0 responseCalc(8px);
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    font-size: responseCalc(21px);
    line-height: responseCalc(24px);
    white-space: nowrap;
    color: var(--white);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    small {
      display: inline-block;
      margin: 0 responseCalc(6px);
      color: var(--yellow);
    }

    .StickyIconSvg {
      width: responseCalc(24px);
      height: responseCalc(24px);
      fill: var(--white);

      &:hover {
        cursor: pointer;
      }
    }

    #fix-info {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate3d(responseCalc(-8px), 0, 0);
    }

  }

  &__Window {
    padding: responseCalc(16px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(16px);
    font-weight: 400;
    line-height: responseCalc(18px);
    white-space: nowrap;
    color: var(--white);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);

    .Window {
      &__Row {
        padding: responseCalc(8px) 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:nth-of-type(4) {
          margin-bottom: responseCalc(16px);
        }

        .header {
          border-bottom: 1px solid rgba(255, 255, 255, 0.6);
          text-transform: uppercase;
        }
      }

      &__Col {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &.secondary {
          padding-left: responseCalc(8px);
          text-transform: capitalize !important;
        }

        &:nth-of-type(1) {
          justify-content: flex-start;
          text-transform: uppercase;
        }

        &:nth-of-type(2) {
          color: var(--yellow);
        }

        &:nth-of-type(3) {
          justify-content: flex-end;
        }
      }
    }
  }

  .StickyIconSvg {
    transition: transform 1s linear;
  }

  .on {
    .StickyIconSvg {
      transform: rotate(45deg);
    }
  }

}
