@import "~bootstrap/scss/functions";
@import "../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../assets/scss/utilities/functions";

.Portrait {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #000 40%, #361B00 55%, #8D4D01 100%);

  &__Text {
    margin: 0;
    padding: 32px;
    font-family: 'Intro HeadR Base';
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: var(--primary);
    background-color: rgba(0, 0, 0, .5);

    strong {
      font-size: 1.15rem;
      font-family: "Intro Base 2 Line", Roboto, Ubuntu, "Fira Sans", system-ui, -apple-system, sans-serif;
      color: var(--primary);
      background: var(--primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .primary {
      color: var(--yellow);
      background: -webkit-linear-gradient(var(--yellow), var(--dark));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__Game__Wrapper {
    position: relative;
  }

  // Fixed bet zone panel height for the devices with huge height
  &.web {
    @media only screen and (min-device-height: 811.95px) and (orientation: portrait) {
      .GamePanel__Portrait {
        height: calc(100vh - calc(132px + calc(100vw / 1.77777)));
      }
      .Footer__Portrait {
        height: 84px;
      }
    }
  }
}
