@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

.Tooltip {

  .tooltip-inner {
    background: #1A4362 linear-gradient(180deg, rgba(26, 67, 98, 0.48) 0%, rgba(44, 7, 7, 0.48) 100%);
    backdrop-filter: blur(8px);
    font-size: responseCalc(14px);
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid #96ffff;
  }

  &.auto {
    .arrow {
      &:before {
        border-bottom-color: #1A4362 !important;
      }
    }
  }

  &.top {
    .arrow {
      &:before {
        border-top-color: #1A4362 !important;
      }
    }
  }

  &.right {
    .arrow {
      &:before {
        border-right-color: #1A4362 !important;
      }
    }
  }

  &.bottom {
    .arrow {
      &:before {
        border-bottom-color: #1A4362 !important;
      }
    }
  }

  &.left {
    .arrow {
      &:before {
        border-left-color: #1A4362 !important;
      }
    }
  }
}
