@import "~bootstrap/scss/functions";
@import "../../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../../assets/scss/utilities/functions";

.Settings__Mobile {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__Header {
    margin-bottom: 8px;
    padding: 4px 8px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
  }

  .Header {
    &__Icon {
      padding-right: 8px;

      svg {
        width: 1.25em;
        height: 1.25em;
        fill: var(--white);
      }
    }

    &__Text {
      font-size: 0.75em;
      font-family: var(--font-family-sans-serif);
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      text-transform: uppercase;
      color: var(--white);
    }
  }

  .Setting {
    padding: 8px 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-family: var(--font-family-sans-serif);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    color: var(--white);

    &__Title {
      width: 70%;
    }

    &__Action {
      width: 30%;
      justify-content: flex-end;
    }

    &__Title, &__Action {
      display: flex;
      align-items: center;
    }
  }

  &__Footer {
    width: 100%;
    height: 36px;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate3d(0, -100%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-dark);

    p {
      margin: 0;
      padding: 0;
      font-size: 0.85em;
      font-family: var(--font-family-sans-serif);
    }
  }
}