@import "~bootstrap/scss/functions";
@import "../../../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../../../assets/scss/utilities/functions";

.VolumeSlider {
  margin: responseCalc(32px) 0;
  display: flex;

  &__Volume, &__GameSound {
    padding: 0 responseCalc(16px);
    width: 100%;
  }

  #volume, #game-sound {
    font-family: var(--font-family-sans-serif);
    font-size: responseCalc(18px);
    font-weight: 400;
    text-transform: uppercase;
  }
}