@import "~bootstrap/scss/functions";
@import "../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../assets/scss/utilities/functions";

$gamePanelFullHeight: 426px;
$gamePanelPartialHeight: $gamePanelFullHeight / 1.5;

.pair-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center
}

.wrapper {
  @extend .pair-wrapper;
}


.pair-name {
  font-family: Palatino Inter Arial sans-serif;
  font-size: responseCalc(22px);
  font-weight: bold;
  text-transform: uppercase;
}

.pair-factor {
  font-family: var(--font-family-sans-serif);
  font-size: responseCalc(18px);
  font-weight: bold;
}

.cards {
  width: 60%;
  height: 33.333%;
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  width: 100%;
  height: auto;
  display: flex;

  .Card {
    padding: responseCalc(4px);
  }

  .card {
    width: responseCalc(34px);
  }
}

.GamePanel {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: responseCalc($gamePanelFullHeight);
  display: flex;
  align-items: flex-end;
  flex-grow: 1;

  &__Col {
    display: flex;
    width: 100%;
    height: auto;
  }

  &__Bet__Panel__Wrapper {
    position: relative;
    perspective: 25rem;
    flex-basis: 40%;
    height: 100%;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: responseCalc($gamePanelPartialHeight);
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      transition: background-color .4s linear;
    }

    &.down {

      &:before {
        background-color: rgba(26, 26, 26, 0.65);
      }

      .GamePanel__Bet__Panel {
        transform: rotateX(8deg) translate3d(0px, 25.5%, 0px) scaleY(0.93);
      }

      .GamePanel__Bet__Panel__Title {
        transform: rotateX(-7.44deg) scaleY(1.07527);
      }
    }

    &.InitializeShoeOrDisplay, &.Bet {
      .GamePanel__Bet__Panel__Title {
        background-color: rgba(0, 200, 37, 0.75);
        outline: 1px solid var(--green);
      }
    }

    &.DealCard {
      .GamePanel__Bet__Panel__Title {
        background-color: rgba(187, 54, 45, 0.75);
        outline: 1px solid var(--red);
      }
    }

    &.FixRoundResult {
      .GamePanel__Bet__Panel__Title {
        background-color: rgba(81, 81, 72, 0.75);
        outline: 1px solid var(--gray);
        color: var(--yellow);
      }
    }

    &.skipCurrentRound, &.lowBalance {
      .GamePanel__Bet__Panel__Title {
        background-color: rgba(81, 81, 72, 0.75) !important;
        outline: 1px solid var(--gray) !important;
        color: var(--white) !important;
      }
    }

  }

  &__Bet__Panel {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(26, 26, 26, 0.65);
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: transform .8s linear;
    border-left: 1px solid rgba(251, 220, 1, 0.4);
    border-right: 1px solid rgba(251, 220, 1, 0.4);

    .GamePanel__Timer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(8px * var(--responsive-key));
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: transparent;
      transform: translate3d(0, -100%, 0);
    }

    &__Title, &__Zones, &__Chips {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
    }

    &__Title {
      background-color: rgba(0, 200, 37, 0.75);
      outline: 1px solid var(--green);
      height: 10.256%;
      font-family: var(--font-family-sans-serif);
      font-size: responseCalc(18px);
      line-height: 1.25;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      transition: transform .8s linear, background-color .8s linear, outline-color .8s linear, color .8s linear;
      transform-origin: bottom;
      transform: translateZ(0);

      &.success {
        background-color: rgba(0, 200, 37, 0.75);
        outline: 1px solid var(--green);
      }

      &.error {
        background-color: rgba(187, 54, 45, 0.75);
        outline: 1px solid var(--red);
      }

      &.secondary {
        background-color: rgba(81, 81, 72, 0.75);
        outline: 1px solid var(--gray);
      }
    }

    &__Zones {
      margin: responseCalc(8px) 0;
      padding: 0 responseCalc(8px);
      position: relative;
      // flex-grow: 1;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 58.97%;

      .Zone {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateZ(0);

        svg {
          width: 100%;
          height: 100%;
        }

        .MuiSvgIcon-root {
          width: 0.75em;
          height: 0.75em;
        }

        &__PlayerPair, &__BankerPair {
          width: 14%;
        }

        &__PlayerPair {
          padding: 0 responseCalc(6px) 0 0;

          &__Name {
            @extend .pair-name;
            color: var(--blue);
          }

          &__Factor {
            @extend .pair-factor;
            color: var(--blue);
          }

          &__Wrapper {
            @extend .pair-wrapper;
          }
        }

        &__BankerPair {
          padding: 0 0 0 responseCalc(6px);

          &__Name {
            @extend .pair-name;
            color: var(--red);
          }

          &__Factor {
            @extend .pair-factor;
            color: var(--red);
          }

          &__Wrapper {
            @extend .pair-wrapper;
          }
        }

        &__Tie {
          position: absolute;
          top: 0;
          left: 50%;
          height: 95%;
          width: 24.5%;
          transform: translate3d(-50%, 5%, 0);

          &__Wrapper {
            @extend .wrapper;
          }

          &__Statistic, &__Name {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          &__Statistic {
            padding: responseCalc(8px) 0 0 0;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .Statistic {
              &__Percent {
                width: 25.5%;
              }

              &__Numbers {
                font-family: var(--font-family-sans-serif);
                font-size: responseCalc(14px);
                color: var(--green);
              }
            }
          }

          &__Name {
            align-items: flex-end;
            font-family: Palatino Inter Arial sans-serif;
            font-size: responseCalc(22px);
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        &__Player, &__Banker {
          width: 35%;
        }

        &__Player {
          padding: 0 responseCalc(5px) 0 0;

          &__Wrapper {
            @extend .wrapper;
            flex-grow: 1;
            align-items: flex-start;
          }

          &__Statistic, &__Name {
            padding: responseCalc(6px);
            width: 100%;
            height: 33.333%;
            display: flex;
            align-items: center;
          }

          &__Statistic {
            &__Details {
              width: 70%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              .Details {

                &__Percent {
                  width: 30%;
                  height: 100%;
                  display: flex;
                }

                &__Numbers {
                  width: 70%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  font-family: var(--font-family-sans-serif);
                  font-size: responseCalc(14px);
                  color: var(--blue);

                  div {
                    text-align: left;
                  }
                }
              }
            }
          }

          &__Name {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transform: translate3d(-17.5%, 0, 0);
            font-family: Palatino Inter Arial sans-serif;
            font-size: responseCalc(22px);
            font-weight: bold;
            text-transform: uppercase;

            .PlayerIconSvg {
              width: responseCalc(30px);
              height: responseCalc(30px)
            }
          }

          &__Cards {
            @extend .cards;
            justify-content: flex-end;

            .Cards {
              &__Points {
                justify-content: flex-end;
                text-align: right;
                font-family: var(--font-family-sans-serif);
                font-size: responseCalc(32px);
                color: var(--white);
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
              }

              &__Wrapper {
                @extend .cards-wrapper;
                justify-content: flex-end;

                .Card {
                  &__Additional {
                    .card {
                      transform: rotate(90deg) translateY(responseCalc(6px));
                    }
                  }
                }
              }
            }
          }
        }

        &__Banker {
          padding: 0 0 0 responseCalc(5px);

          &__Wrapper {
            @extend .wrapper;
            flex-grow: 1;
            align-items: flex-end;
          }

          &__Statistic, &__Name {
            padding: responseCalc(6px);
            width: 100%;
            height: 33.333%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }

          &__Statistic {
            &__Details {
              width: 70%;
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: center;

              .Details {

                &__Percent {
                  width: 30%;
                  height: 100%;
                  display: flex;
                }

                &__Numbers {
                  width: 70%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  font-family: var(--font-family-sans-serif);
                  font-size: responseCalc(14px);
                  color: var(--red);

                  div {
                    text-align: right;
                  }
                }
              }
            }
          }

          &__Name {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transform: translate3d(17.5%, 0, 0);
            font-family: Palatino Inter Arial sans-serif;
            font-size: responseCalc(22px);
            font-weight: bold;
            text-transform: uppercase;

            .BankerIconSvg {
              width: responseCalc(30px);
              height: responseCalc(30px)
            }
          }

          &__Cards {
            @extend .cards;
            justify-content: flex-end;

            .Cards {
              &__Points {
                justify-content: flex-start;
                text-align: left;
                font-family: var(--font-family-sans-serif);
                font-size: responseCalc(32px);
                color: var(--white);
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
              }

              &__Wrapper {
                @extend .cards-wrapper;
                justify-content: flex-start;

                .Card {
                  &__Additional {
                    .card {
                      transform: rotate(-90deg) translateY(responseCalc(6px));
                    }
                  }
                }
              }
            }
          }

        }
      }
    }

    &__Chips {
      height: 30.769%;

      .Chips {
        &__Wrapper {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-grow: 1;

          .Element {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            &__Button, &__Text, &__Chip {
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
              text-align: center;
            }

            &__Button {
              width: responseCalc(52px);
              height: responseCalc(52px);
              border-radius: 50%;
              border: 1px solid var(--white);
              transition: background-color .45s linear;

              &:hover {
                cursor: pointer;
              }

              &.undo {
                background-color: rgba(0, 0, 0, 0.2);

                &:hover {
                  background-color: rgba(0, 0, 0, 0.6);
                }
              }

              &.double {
                background-color: rgba(255, 0, 0, 0.2);

                &:hover {
                  background-color: rgba(255, 0, 0, 0.6);
                }
              }

              svg {
                width: responseCalc(42px);
                height: responseCalc(42px);
                fill: var(--white);
              }
            }

            &__Text {
              font-family: var(--font-family-sans-serif);
              font-size: responseCalc(16px);
              color: var(--white);
              text-transform: uppercase;
              text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);

              &.undo {
                text-align: right;
                justify-content: flex-end;
              }

              &.double {
                text-align: left;
                justify-content: flex-start;
              }
            }

            &__Chip {
              width: responseCalc(60px);
              height: responseCalc(60px);
              border-radius: 50%;
              background-color: transparent;
              transition: box-shadow 0.45s linear;

              &.active {
                box-shadow: 1px 1px 3px 4px rgba(255, 183, 76, 0.25);
              }

              &:hover {
                cursor: pointer;
                box-shadow: 1px 1px 3px 4px rgba(255, 183, 76, 0.25);
              }

              .Chip {
                width: responseCalc(60px);
                height: responseCalc(60px);
              }
            }
          }
        }
      }
    }
  }

  &__Bead__Road, &__Big__Road {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    height: responseCalc($gamePanelPartialHeight);
    background-color: rgba(26, 26, 26, 0.65);
    color: var(--white);
  }

  &__Bead__Road {
    padding: responseCalc(8px);

    .Bead__Road {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &__Statistic, &__Balance {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &__Statistic {
        height: 72.1312%;
      }

      &__Balance {
        justify-content: flex-start;
        flex-direction: row;
        height: 27.8688%;

        .Balance {
          &__Button {
            margin: 0 responseCalc(10px);

            &.MuiButton-outlined.Mui-disabled {
              min-width: responseCalc(180px);
              color: #96ffff;
              border: 1px solid rgba(150, 255, 255, 0.5);
              border-radius: responseCalc(60px);
              background-color: rgba(0, 0, 0, 0.4);
            }

            .MuiButton-label {
              flex-direction: column;
            }

            .title {
              font-weight: 300;
              font-size: responseCalc(16px);
              line-height: 1.5;
            }

            .value {
              font-size: responseCalc(18px);
              line-height: 1;
              color: var(--yellow);
            }
          }
        }
      }
    }
  }

  &__Big__Road {
    padding: responseCalc(8px);

    .Big__Road {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &__Statistic, &__Panel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &__Statistic {
        height: 72.1312%;

        &__Title, &__Content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        &__Title {
          height: 24%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;

          .Title {
            &__Col {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }

            &__Total {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              .Element {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .mark-info {
                  display: inline-block;
                  padding: 0 responseCalc(4px) 0 0;
                  svg {
                    width: responseCalc(24px);
                    height: responseCalc(24px);
                  }
                }

                .value {
                  font-size: responseCalc(16px);
                }
              }
            }
          }
        }

        &__Content {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 76%;

          .Content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            &__Row {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              .Content__Col {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
              }

              &:first-of-type {
                height: 66.666%;
                .Content__Col {
                  width: 100%;
                }
              }
              &:last-of-type {
                height: 44.444%;
                .Content__Col {
                  width: 33.333%;
                }
              }
            }
          }
        }
      }

      &__Panel {
        justify-content: flex-end;
        flex-direction: row;
        height: 27.8688%;

        .MuiButtonBase-root {
          margin-right: responseCalc(10px);
          min-width: calc(180px * var(--responsive-key));
          border-radius: calc(60px * var(--responsive-key));
          background-color: rgba(0, 0, 0, 0.4);
          font-size: responseCalc(21px);
          font-weight: 300;
        }
      }
    }
  }
}
