@import "~bootstrap/scss/functions";
@import "../../../../assets/scss/utilities/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../../../../assets/scss/utilities/functions";

@keyframes pulse-icon {
  0% {
    transform: scale(0.85);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.85);
  }
}


.InactionIcon {
  width: 10em;
  height: 10em;
  fill: var(--white);
  transform: scale(1);
  animation: pulse-icon 2s infinite;

  @include media-breakpoint-down(sm) {
    width: 8em;
    height: 8em;
  }
}